.b-about {

  p {
    color: $gray;
  }
  &__text {
    margin-bottom: 60px;
  }
}

.b-triggers {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 15px;
    @extend .clearfix;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 25px;
    }
    @media (min-width: $screen-md-min) {
      //padding-right: 50px;
    }

  }
  &__icon {
    float: left;
    max-width: 35px;
    max-height: 35px;
    @media (min-width: $screen-lg-min) {
      float: left;
      max-width: 50px;
      max-height: 50px;
    }
  }
  &__content {
    padding-left: 50px;
    @media (min-width: $screen-lg-min) {
      padding-left: 80px;
    }

  }
}
