.b-all {

  &.-news {

    .b-all__item {
      @media (min-width: 1630px) {
        width: 31%;
      }
    }
  }
  &__trouble {
    background-color: #e2ffe2;
    border: 1px solid $gray-border;
    border-radius: 5px;
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 50px;
      padding: 45px 15px;
    }
    &-quest {
      color: $gray;
      margin-bottom: 20px;
    }
    &-desc {
      margin-bottom: 20px;
      @media (min-width: $screen-sm-min) {
        font-size: 18px;
      }
    }
    &-number {
      font-size: 50px;
      line-height: 1;
      color: $green;
      margin-bottom: 25px;
      @media (min-width: $screen-sm-min) {
        font-size: 60px;
      }
      @media (min-width: $screen-md-min) {
        font-size: 90px;
      }
    }
    &-btn {
      margin-top: 35px;
    }
  }
  &__sorting {
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 35px;
    }
    .b-sorting {

      &__box {
        @media (max-width: $screen-md-max) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
  &__content {
    @media (max-width: $screen-xs-max) {
      white-space: nowrap;
    }
    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media (max-width: $screen-xs-max) {
      overflow: auto;
    }
  }
  &__item {
    margin-bottom: 30px;
    width: 225px;
    @media (max-width: $screen-xs-max) {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      &:not(:last-child) {
        margin-right: 25px;
      }
      &:empty {
        display: none;
      }
    }
    @media (min-width: $screen-sm-min) {
      width: 48%;
    }
    @media (min-width: $screen-lg-min) {
      width: 31%;
    }
    @media (min-width: 1630px) {
      width: 23%;
    }
  }
  &__more {
    text-align: center;
    position: relative;
    margin-top: 10px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    button {
      user-select: none;
      font-weight: 500;
      color: $gray;
      text-transform: uppercase;
      background-color: #fff;
      border: 0;
      position: relative;
      padding-right: 55px;
      padding-left: 40px;
      transition: .2s;
      &:hover {
        color: $text-color;
      }
    }
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #dedede;
    }
  }
}