.b-blacklisted {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  &__item {
    @media (max-width: $screen-xs-max) {
      min-width: 225px;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      min-width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    @media (min-width: $screen-md-min) and (max-width: 1629px) {
      width: 23%;
      &:nth-child(5) {
        display: none;
      }
    }
    @media (min-width: 1630px) {
      width: 18%;
    }
  }
}

.e-casino {
  max-width: 300px;
  padding-bottom: 67px;
  background-color: #fff;
  border: 1px solid $gray-border;
  border-radius: 5px;
  position: relative;
  &__img {
    display: block;
    background-color: $gray-bg;
    padding: 15px 0 10px;
    position: relative;
    > img {
      border-radius: 50%;
      border: 1px solid $gray-border;
      width: 120px;
      height: 120px;
      margin: auto;
    }
  }
  &__icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
  }
  &__content {
    border-top: 1px solid $gray-border;
    padding: 15px 20px 30px;
    @media (max-width: $screen-xs-max) {
      padding: 15px 15px 25px;
    }
  }
  &__top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 15px;
    }
  }
  &__name {
    max-width: 60%;
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media (max-width: $screen-xs-max) {
        font-size: 11px;
      }
    }
  }
  &__rate {
    color: $green;
  }
  &__desc {
    font-size: 12px;
    @media (max-width: $screen-xs-max) {
      font-size: 11px;
    }
    p {
      margin: 0;
    }
  }
  &__btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    text-align: center;
    .btn {
      @media (max-width: $screen-xs-max) {
        font-size: 11px;
        padding: 8px 25px;
        min-width: 120px;
      }
      &:hover {
        background-color: $green;
        border-color: $green;
        color: #fff;
      }
    }
  }

}
