.e-complaint {
  padding: 15px 15px 67px 15px;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid $gray-border;
  border-radius: 5px;
  position: relative;
  @media (min-width: $screen-sm-min) {
    padding: 20px 20px 67px 20px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding: 10px 10px 67px 10px;
  }
  &__top {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 30px;
    }
  }
  &__label {
    display: inline-flex;
    padding: 5px 15px;
    background-color: $text-color;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding: 5px 10px;
      font-size: 11px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 5px 10px;
      font-size: 11px;
    }
    &.-red {
      background-color: #cc0000;
    }
    &.-yellow {
      background-color: #dbdb3e;
    }
    &.-green {
      background-color: #1ec138;
    }
    &.-black {
      background-color: #333333;
    }
  }
  &__time {
    font-size: 12px;
    color: $gray;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      font-size: 10px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 10px;
    }
  }
  &__content {
    background-color: #fff;
    margin-bottom: 25px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 30px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 12px;
  }
  &__title {
    font-weight: 500;
    text-transform: uppercase;
  }
  &__price {
    font-weight: 500;
    text-transform: uppercase;
  }
  &__text {
    height: 145px;
    overflow: auto;
    p {
      font-size: 12px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    text-align: center;
    .btn {
      @media (max-width: $screen-xs-max) {
        font-size: 11px;
        padding: 8px 25px;
        min-width: 120px;
      }
      &:hover {
        background-color: $green;
        border-color: $green;
        color: #fff;
      }
    }
  }

}
