.b-contacts {
  margin-bottom: 30px;
  &__title {
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 30px;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 50px;
      justify-content: space-between;
    }

  }
  &__btn {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
  &__phone {
    padding: 0 15px;
  }
  &__social {
    @media (max-width: 1629px) {
      margin-top: 30px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 20px;
    }
  }
}

.e-phone {
  display: flex;
  align-items: center;
  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
}

.b-map {
  margin-bottom: 10px;
  &__container {
    height: 380px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
  }
  &__map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__infowindow {
    font-weight: 500;
    text-align: center;
    padding: 15px;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 1630px) {
      padding: 0 30px;
    }
  }
  &__col {
    &:nth-child(2) {
      .b-map__label {
        width: 60px;
      }
    }
  }
  &__row {
    display: flex;
    margin-bottom: 20px;
  }
  &__label {
    width: 100px;
    font-size: 12px;
    color: $gray;
  }
  &__value {
    font-size: 12px;
    border-bottom: 1px solid transparent;
    transition: .2s;
    &:hover {
      border-color: rgba($text-color, .7);
    }
  }
}