.b-error-page {

  &__content {
    text-align: center;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;
    }
  }
  &__header {
    position: relative;
    padding: 45px 0;
    @media (min-width: $screen-md-min) {
      padding: 60px 0;
    }
  }
  &__title {
    font-size: 15px;
    text-transform: uppercase;
    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }
  &__sorry {
    font-weight: 500;
    font-size: 110px;
    color: $gray;
    line-height: 1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .1;
    @media (min-width: $screen-md-min) {
      font-size: 123px;
    }
  }
  &__remark {
    font-weight: 300;
    font-size: 12px;
    color: $gray;
    margin-bottom: 30px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 40px;
    }
  }
  &__search {
    margin-bottom: 20px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
    .e-search {
      margin: 0 auto;
    }
  }
  &__or {
    font-weight: 300;
    font-size: 12px;
    color: $gray;
    margin-bottom: 20px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }
  &__btn {
    margin-bottom: 30px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 45px;
    }
  }
  &__makecomplait {

  }
  &__img {
    max-width: 500px;
    margin: 0 auto;
  }
}

