.b-home,
.b-sections {

  &__section {
    &:not(:last-child) {
      margin-bottom: 60px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 80px;
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  &__title {
    display: flex;
    margin-right: 15px;
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
      margin-right: 25px;
    }
    h2 {
      white-space: nowrap;
      align-self: flex-end;
      margin-bottom: 0;
      @media (min-width: $screen-sm-min) {
        margin-right: 10px;
      }
    }
    a {
      align-self: flex-start;
      font-size: 12px;
      color: $gray;
      border-bottom: 1px solid $gray;
      margin-top: -10px;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
      &:hover {
        color: $blue;
        border-color: $blue;
      }
    }
  }
  &__btn {
    margin-bottom: 15px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }
  &__item {
    display: inline-flex;
    @media (max-width: $screen-xs-max) {
      min-width: 225px;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      min-width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    @media (min-width: $screen-md-min) and (max-width: 1629px) {
      width: 23%;
      &:nth-child(5) {
        display: none;
      }
    }
    @media (min-width: 1630px) {
      width: 18%;
    }
  }
  &__banners {
    text-align: center;
    @media (min-width: $screen-sm-min) {
      margin-top: 30px;
    }
  }
  &__banner {
    margin-top: 30px;
  }
}
