.b-intro {
  max-width: 1170px;
  margin-bottom: 40px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 60px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    padding-right: 10px;
  }
  &__desc {
    max-height: 60px;
    overflow: hidden;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      color: #8a8a8a;
      line-height: 1.5;
    }
    a {
      color: $blue;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin: 30px 0;
      color: $gray;
      line-height: 1.5;
      li {
        margin-bottom: 10px;
      }
      > ul, > ol {
        margin-top: 10px;
      }
    }
    ol {
      padding-left: 35px;
      margin: 30px 0;
      color: $gray;
      line-height: 1.5;
      li {
        margin-bottom: 10px;
      }
    }
    h1 {
      font-size: 18px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 17px;
      text-transform: none;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 16px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 14px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 13px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    h6 {
      font-size: 13px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    table {
      margin-bottom: 20px;
      line-height: 1.5;
      th {
        font-weight: 500;
        padding: 10px;
        text-align: center;
        border: 1px solid $gray-border;
      }
      td {
        padding: 10px;
        color: $gray;
        border: 1px solid $gray-border;
      }
    }
    blockquote {
      border: 0;
      padding: 15px 25px;
      font-size: 15px;
      font-style: italic;
      line-height: 1.5;
      max-width: 800px;
    }
    img {
      margin-bottom: 20px;
    }
  }
  &__more {
    text-align: left;
    position: relative;
    margin-top: 10px;
    //&:before {
    //  content: '';
    //  width: 100%;
    //  height: 1px;
    //  position: absolute;
    //  top: 50%;
    //  left: 0;
    //  background-color: #dedede;
    //}
    button {
      user-select: none;
      font-weight: 500;
      color: #8a8a8a;
      text-transform: uppercase;
      background-color: #fff;
      padding: 0;
      border: 0;
      position: relative;
      transition: .2s;
      &:hover {
        color: $blue;
      }
    }
  }
}