.b-jobs {

  &__sidebox {
    margin-bottom: 30px;
  }
  &__header {
    margin-bottom: 30px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h2 {
      margin-bottom: 0;
    }
  }
  &__title {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
    @media (min-width: $screen-sm-min) {
      margin-right: 80px;
      flex-shrink: 0;
    }
  }
  &__warning {
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    background-color: #ffdede;
    border-radius: 5px;
    padding: 15px 30px;
    p {
      margin-bottom: 0;
    }
  }
  &__form {

    .b-form__btn {
      margin-top: 20px;
      @media (min-width: $screen-sm-min) {
        text-align: left;
      }
    }
  }
}