.b-comp-profile {
  max-width: 390px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 35px 15px;
  position: relative;
  @media (min-width: 768px) {
    padding: 35px 40px;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  .mfp-close {
    display: none;
  }
}