.b-main-slider {
  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }
  @media (min-width: $screen-sm-min) {
    height: 1234px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }
  @media (min-width: $screen-lg-min) {
    height: 603px;
  }
  &.-internal {
    @media (min-width: $screen-sm-min) {
      height: 603px;
    }
    .b-main-slider {
      &__item {
        @media (min-width: $screen-sm-min) {
          height: auto;
        }
        @media (min-width: $screen-lg-min) {
          width: 49%;
        }
        &:nth-child(1) {
          @media (min-width: $screen-lg-min) {
            width: 62%;
          }
        }
        &:nth-child(2) {
          @media (min-width: $screen-lg-min) {
            width: 36.2%;
          }
        }
      }
    }
    .e-main-slider {

      &__title {
        @media (min-width: $screen-sm-min) {
          max-width: 450px;
        }
      }
    }
  }
  &__item {
    width: 100%;
    height: 23.3%;
    display: flex;
    align-content: stretch;
    @media (min-width: $screen-lg-min) {
      width: 48%;
      height: 48%;
    }
  }
  .slick-dots {
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      &.slick-active button:before{
        background-color: #fff;
      }
      button {
        border: 0;
        background-color: transparent;
        font-size: 0;
        width: 20px;
        height: 20px;
        position: relative;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 50%;
          position: absolute;
          left: 5px;
          top: 5px;
        }
      }
    }
  }
}

.e-main-slider {
  display: flex;
  min-height: 350px;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    min-height: 290px;
  }
  &__link {
    display: block;
    width: 100%;
    padding: 170px 30px 40px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      padding: 25px 30px;
      text-align: left;
    }
    @media (min-width: $screen-lg-min) {
      padding: 30px 30px 80px;
    }
    @media (min-width: 1630px) {
      padding: 55px 60px 110px;
    }
    &:hover {
      .e-main-slider__bg {
        filter: blur(2px);
      }
      .e-main-slider__label span {
        border-color: rgba(#fff, .5);
      }
      .e-main-slider__title {
        color: $green;
      }
      .e-main-slider__btn {
        background-color: $green;
        border-color: $green;
      }
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #000;
      opacity: .5;
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: .3s;
    &.-desctop {
      background-position: right center;
      @media (max-width: $screen-xs-max) {
        display: none !important;
      }
    }
    &.-mobile {
      background-position: top center;
      @media (min-width: $screen-sm-min) {
        display: none !important;
      }
    }
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &__label {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    margin-bottom: 12px;
    span {
      border-bottom: 1px solid transparent;
      transition: .3s;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .05em;
    color: #fff;
    margin-bottom: 25px;
    transition: .3s;
    @media (min-width: $screen-lg-min) {
      max-width: 243px;
    }
    @media (min-width: 1630px) {
      max-width: 340px;
    }
  }
  &__btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 60px;
    z-index: 1;
    @media (min-width: $screen-lg-min) {
      bottom: 30px;
    }
    @media (min-width: 1630px) {
      bottom: 55px;
      left: 60px;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    &:hover {
      color: #fff;
    }
    &:active {
      top: auto;
    }
  }
}
