.b-makeacomp {

  &__trouble {
    margin-bottom: 50px;
    .b-trouble {
      justify-content: flex-start;
      &__text {
      }
    }
  }
  &__help {
    display: none;
    margin-bottom: 65px;
    h3 {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &-row {
      margin-bottom: 40px;
    }
    &-yes {
      font-weight: 500;
      color: $green;
      margin-right: 40px;
      transition: .2s;
      &:hover {
        color: darken($green, 7%);
      }
    }
    &-no {
      font-weight: 500;
      color: $red;
      transition: .2s;
      &:hover {
        color: darken($red, 7%);
      }
    }
  }
  &__form {
    
    .b-form__btn {
      text-align: left;
    }
  }
}