.b-restricted {
  margin-bottom: 30px;
  &__warning {
    margin-bottom: 30px;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }
  &__item {
    @media (max-width: $screen-xs-max) {
      min-width: 225px;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      min-width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    @media (min-width: $screen-md-min) and (max-width: 1629px) {
      width: 23%;
      &:nth-child(5) {
        display: none;
      }
    }
    @media (min-width: 1630px) {
      width: 18%;
    }
  }
}

