.b-text-page {
  @media (max-width: $screen-md-max) {
    margin-bottom: 50px;
  }
  @media (min-width: $screen-md-min) {
    padding-right: 60px;
  }
  @media (min-width: 1630px) {
    padding-right: 100px;
  }
  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 40px 0 12px;
  }
  p {
    margin-bottom: 25px;
    line-height: 1.65;
  }
}