.b-tops {

  &__slider {

    .b-main-slider {
      @media (min-width: $screen-sm-min) {
        height: auto;
        align-items: stretch;
      }
      &__item {
        @media (min-width: $screen-md-min) {
          height: auto;
          width: 100%;
          margin-bottom: 30px;
        }
        @media (min-width: $screen-md-min) and (max-width: 1229px)  {
          width: 31%;
        }
      }
    }
    .e-main-slider {
      min-height: 290px;
      @media (min-width: $screen-md-min) {
        min-height: 260px;
      }

      &__btn {
        @media (min-width: 1630px) {
          left: 35px;
        }
      }
      &__link {

        @media (min-width: 1630px) {
          padding: 35px;
        }
      }
    }
  }
  &__main {
    margin-bottom: 40px;
  }
  &__section {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  &__nav {
    height: 30px;
    margin-top: 18px;
    margin-bottom: 45px;
    .b-nav {
      &__nav {
        padding-left: 0;
      }
    }
  }
  &__sorting {
    margin-bottom: 50px;
    border-bottom: 1px solid $gray-border;
    .b-sorting {

      @media (min-width: $screen-sm-min) {
        justify-content: flex-start;
      }
      &__box {
        @media (max-width: $screen-xs-max) {
          display: flex;
          justify-content:space-between;
          width: 100%;
        }
        @media (min-width: $screen-sm-min) {
          margin-right: 40px;
        }
      }
      &__country {
        @media (min-width: $screen-sm-min) {
          margin-right: 40px;
        }
      }
    }
  }
  &__container {
    display: flex;
    overflow: auto;
    margin: 0 -15px;
    @media (min-width: $screen-md-min) {
      flex-wrap: wrap;
    }
  }
  &__item {

    padding: 0 15px;
    margin-bottom: 30px;
    transition: .5s;
    @media (max-width: $screen-sm-max) {
      min-width: 270px;
    }
    @media (min-width: $screen-md-min) and (max-width: 1629px) {
      width: 25%;
      &:nth-child(n+5) {
        display: none;
        opacity: 0;
      }
    }
    @media (min-width: 1630px) {
      width: 20%;
      &:nth-child(n+6) {
        display: none;
        opacity: 0;
      }
    }
    &.-active {
      display: block;
    }
    &.-fade {
      opacity: 1;
    }
  }
  &__more {
    margin-top: 30px;
    text-align: center;
    position: relative;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #dedede;
    }
    &-link {
      user-select: none;
      font-weight: 500;
      color: $gray;
      text-transform: uppercase;
      background-color: #fff;
      border: 0;
      position: relative;
      padding-right: 40px;
      padding-left: 40px;
      transition: .2s;
      &:hover {
        color: $blue;
      }
    }
  }
}