.b-user {

  .b-testim {

    &__user-reviews {
      font-weight: 500;
      font-size: 13px;
      color: $text-color;
      text-transform: uppercase;
      span {
        font-weight: 500;
        font-size: 18px;
      }
    }
    &__header {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        justify-content: space-between;
      }
    }
    &__rate {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        margin-bottom: 0;
        width: auto;
      }
    }
  }
  &__tabs {

    &-header {
      margin-bottom: 30px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 45px;
      }
      @media (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-nav {
      display: inline-block;
      border-bottom: 1px solid #dedede;
      overflow: auto;
      white-space: nowrap;
      max-width: 100%;
      margin-bottom: 0;
      @media (max-width: $screen-sm-max) {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    &-tab {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      background-color: transparent;
      padding: 0 0 10px;
      border: 0;
      border-bottom: 2px solid transparent;
      transition: .3s;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &.-active {
        border-color: #43b748;
      }
      span {
        color: $gray;
      }
    }
    &-sorting {
      .b-sorting__item {
        margin-bottom: 0;
      }
    }
  }
}