.e-winnings {
  display: block;
  border: 1px solid $gray-border;
  max-width: 270px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  &__img {

  }
  &__content {
    padding: 15px;

  }
  &__name {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__date {
    font-weight: 300;
    font-size: 12px;
  }
}