.l-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__content {
    flex: 1 0 auto;
  }
  &__footer {
    flex: 0 0 auto;
  }
}

.l-content {
  padding: 30px 0 60px;
  @media (min-width: $screen-sm-min) {
    padding: 30px 0 100px;
  }
  &.-inner-page {
    @media (min-width: $screen-sm-min) {
      padding: 60px 0 100px;
    }
  }
  &.-contacts {
    padding: 60px 0 30px;
  }
  &__center {
    height: 594px;
    background-color: #CCCCCC;
  }
  &__main {
    margin-bottom: 30px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 50px;
    }
    @media (min-width: 1630px) {
      .col-hd-3 {
        width: 19%;
      }
      .col-hd-9 {
        width: 81%;
      }
      .col-hd-push-3 {
        left: 19%;
      }
      .col-hd-6 {
        width: 62%;
      }
      .col-hd-pull-6 {
        right: 62%;
      }
    }
  }
  &__sidebar {
    @media (min-width: 1630px) {
      padding-left: 90px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-bottom: 50px;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }
  }
  &__sidebox {

    &:not(:last-child) {
      margin-bottom: 30px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 40px;
      }
    }
  }
}