block variables

include ../mixins/_diagram.pug
doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Кофе

    // build:css styles/magnific-popup.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')
    // endbower
    // endbuild
    
    // build:css styles/jquery.mCustomScrollbar.min.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')
    // endbower
    // endbuild

    // build:css styles/slick.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick.css')
    // endbower
    // endbuild

    // build:css styles/owl.carousel.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/owl.carousel/dist/assets/owl.carousel.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body(class=body_class || '')
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    #pageScrollBar.page
      .page__content
        block content


    block modals


  block scripts

  // build:js scripts/jquery.js
  // bower:js
  script(src='/bower_components/jquery/dist/jquery.js')
  // endbower
  // endbuild


  // build:js scripts/tether.js
  // bower:js
  script(src='/bower_components/tether/dist/js/tether.js')
  // endbower
  // endbuild

  // build:js scripts/bootstrap.min.js
  // bower:js
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  // endbower
  // endbuild

  // build:js scripts/jquery.magnific-popup.js
  // bower:js
  script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
  // endbower
  // endbuild

  // build:js scripts/slick.js
  // bower:js
  script(src='/bower_components/slick-carousel/slick/slick.js')
  // endbower
  // endbuild

  // build:js scripts/owl.carousel.js
  // bower:js
  script(src='/bower_components/owl.carousel/dist/owl.carousel.js')
  // endbower
  // endbuild

  // build:js scripts/smooth-scrollbar.js
  // bower:js
  script(src='/bower_components/smooth-scrollbar/dist/smooth-scrollbar.js')
  // endbower
  // endbuild
  
  // build:js scripts/malihu-custom-scrollbar.js
  // bower:js
  script(src='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
  // endbower
  // endbuild

  // build:js scripts/jquery.validate.js
  // bower:js
  script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
  // endbower
  // endbuild

  // build:js scripts/jquery.maskedinput.js
  // bower:js
  script(src='/bower_components/jquery.maskedinput/dist/jquery.maskedinput.js')
  // endbower
  // endbuild
  // build:js scripts/main.js
  script(src='scripts/main.js')
  // endbuild