block variables

include ../mixins/_diagram.pug
doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    link(rel="icon" href="images/favicon.ico" type="image/x-icon")

    title Кофе

    style.
      .preloader {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999;
      }
      .preloader__text {
          font-weight: 700;
        color: #b9b2aa;
        font-size: 36px;
        animation: preloader 3s infinite;
      }
      @media (min-width: 768px) {
        .preloader__text {
          font-size: 70px;
        }
      }
      @media (min-width: 992px) {
        .preloader__text {
          font-size: 100px;
        }
      }
      @-moz-keyframes preloader {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes preloader {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes preloader {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    // build:css styles/magnific-popup.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')
    // endbower
    // endbuild

    // build:css styles/jquery.mCustomScrollbar.min.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')
    // endbower
    // endbuild

    // build:css styles/slick.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body(class=body_class || '', style='overflow: hidden')
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    .preloader
      .preloader__text DAMN, HOT!
    a.scroll-up-button(href="#")
    include ../modules/_minicart
    block content_outside
    #pageScrollBar.page.-loading
      .page__content
        block content
      .page__footer
        include ../common/_footer

    block modals


  // build:js scripts/jquery.js
  // bower:js
  script(src='/bower_components/jquery/dist/jquery.js')
  // endbower
  // endbuild

  script(src='https://maps.googleapis.com/maps/api/js?sensor=false' type="text/javascript")

  block scripts

  // build:js scripts/jquery.magnific-popup.js
  // bower:js
  script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
  // endbower
  // endbuild

  // build:js scripts/slick.js
  // bower:js
  script(src='/bower_components/slick-carousel/slick/slick.js')
  // endbower
  // endbuild

  // build:js scripts/smooth-scrollbar.js
  // bower:js
  script(src='/bower_components/smooth-scrollbar/dist/smooth-scrollbar.js')
  // endbower
  // endbuild

  // build:js scripts/malihu-custom-scrollbar.js
  // bower:js
  script(src='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
  // endbower
  // endbuild

  // build:js scripts/jquery.validate.js
  // bower:js
  script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
  // endbower
  // endbuild

  // build:js scripts/jquery.maskedinput.js
  // bower:js
  script(src='/bower_components/jquery.maskedinput/dist/jquery.maskedinput.js')
  // endbower

  // endbuild
  // build:js scripts/main.js
  script(src='scripts/main.js')
  // endbuild

  // endbuild
  // build:js scripts/scrolled.js
  //script(src='scripts/scrolled.js')
  // endbuild