@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/roboto-regular.woff") format("woff"),
       url("../fonts/roboto-regular.ttf") format("truetype"),
       url("../fonts/roboto-regular.svg#roboto-regular-webfont") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaDemiC.eot');
  src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
  url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaDemiC.woff') format('woff'),
  url('../fonts/FuturaDemiC.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaMediumC.eot');
  src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
  url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaMediumC.woff') format('woff'),
  url('../fonts/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaLightC-Italic.eot');
  src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'),
  url('../fonts/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaLightC-Italic.woff') format('woff'),
  url('../fonts/FuturaLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaMediumC-Italic.eot');
  src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'),
  url('../fonts/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaMediumC-Italic.woff') format('woff'),
  url('../fonts/FuturaMediumC-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaLightC.eot');
  src: local('Futura Light Cyrillic'), local('FuturaLightC'),
  url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaLightC.woff') format('woff'),
  url('../fonts/FuturaLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaDemiC-Italic.eot');
  src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'),
  url('../fonts/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaDemiC-Italic.woff') format('woff'),
  url('../fonts/FuturaDemiC-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaBookC-Italic.eot');
  src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'),
  url('../fonts/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBookC-Italic.woff') format('woff'),
  url('../fonts/FuturaBookC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaBookC.eot');
  src: local('Futura Book Cyrillic'), local('FuturaBookC'),
  url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBookC.woff') format('woff'),
  url('../fonts/FuturaBookC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Light.eot');
  src: url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Light.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Light.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-HeavyItalic.eot');
  src: url('../fonts/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-HeavyItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-HeavyItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-HeavyItalic.svg#AvenirNextCyr-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-ThinItalic.eot');
  src: url('../fonts/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-ThinItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-ThinItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-ThinItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-ThinItalic.svg#AvenirNextCyr-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr Ultra';
  src: url('../fonts/AvenirNextCyr-UltraLightIt.eot');
  src: url('../fonts/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-UltraLightIt.woff') format('woff'),
  url('../fonts/AvenirNextCyr-UltraLightIt.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-UltraLightIt.svg#AvenirNextCyr-UltraLightIt') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr Ultra';
  src: url('../fonts/AvenirNextCyr-UltraLight.eot');
  src: url('../fonts/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
  url('../fonts/AvenirNextCyr-UltraLight.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-UltraLight.svg#AvenirNextCyr-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-DemiItalic.eot');
  src: url('../fonts/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-DemiItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-DemiItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-DemiItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-DemiItalic.svg#AvenirNextCyr-DemiItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-LightItalic.eot');
  src: url('../fonts/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-LightItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-LightItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-LightItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-LightItalic.svg#AvenirNextCyr-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Heavy.eot');
  src: url('../fonts/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Heavy.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Heavy.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Heavy.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Demi.eot');
  src: url('../fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-MediumItalic.eot');
  src: url('../fonts/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-MediumItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-MediumItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-MediumItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-MediumItalic.svg#AvenirNextCyr-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Thin.eot');
  src: url('../fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Thin.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Thin.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Thin.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-BoldItalic.eot');
  src: url('../fonts/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-BoldItalic.svg#AvenirNextCyr-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Italic.eot');
  src: url('../fonts/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Italic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Italic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Italic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Italic.svg#AvenirNextCyr-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Medium.eot');
  src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

