$icon-font-path: '../fonts/';

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$font-family-sans-serif:  'Avenir Next Cyr', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-color: #151515;
$line-height-base: 1.7143;

$font-family-futura: 'Futura', "Helvetica Neue", Helvetica, Arial, sans-serif;

$text-color: #151515;

$blue: #1d71b8;

$link-color: $blue;

$cubic-bezier: cubic-bezier(0.28, 0, 0.18, 1);