#minicart.minicart
  .minicart__wrapper
    .minicart__header
      .minicart__title
        h3 Корзина
      .minicart__count 3 товара
    .minicart__content
      .minicart__item
        a.minicart__img(href="#")
          img(src="images/minicart/1.jpg" alt="")
        .minicart__info
          a.minicart__name(href="#") Sidamo Dintu
          span.minicart__country Эфиопия
          input.minicart__price(value="650р." type="text" disabled)
          .minicart__modific
            .minicart__select
              select
                option(value="В зернах") В зернах
                option(value="В порошке") В порошке
            .minicart__select
              select
                option(value="250 гр.") 250 гр.
                option(value="500 гр.") 500 гр.
                option(value="1000 гр.") 1000 гр.
        a.minicart__delete(href="#")
      .minicart__item
        a.minicart__img(href="#")
          img(src="images/minicart/1.jpg" alt="")
        .minicart__info
          a.minicart__name(href="#") Sidamo Dintu
          span.minicart__country Эфиопия
          input.minicart__price(value="650р." type="text" disabled)
          .minicart__modific
            .minicart__select
              select
                option(value="В зернах") В зернах
                option(value="В порошке") В порошке
            .minicart__select
              select
                option(value="250 гр.") 250 гр.
                option(value="500 гр.") 500 гр.
                option(value="1000 гр.") 1000 гр.
        a.minicart__delete(href="#")
      .minicart__item
        a.minicart__img(href="#")
          img(src="images/minicart/1.jpg" alt="")
        .minicart__info
          a.minicart__name(href="#") Sidamo Dintu
          span.minicart__country Эфиопия
          input.minicart__price(value="650р." type="text" disabled)
          .minicart__modific
            .minicart__select
              select
                option(value="В зернах") В зернах
                option(value="В порошке") В порошке
            .minicart__select
              select
                option(value="250 гр.") 250 гр.
                option(value="500 гр.") 500 гр.
                option(value="1000 гр.") 1000 гр.
        a.minicart__delete(href="#")
      .minicart__item
        a.minicart__img(href="#")
          img(src="images/minicart/1.jpg" alt="")
        .minicart__info
          a.minicart__name(href="#") Sidamo Dintu
          span.minicart__country Эфиопия
          input.minicart__price(value="650р." type="text" disabled)
          .minicart__modific
            .minicart__select
              select
                option(value="В зернах") В зернах
                option(value="В порошке") В порошке
            .minicart__select
              select
                option(value="250 гр.") 250 гр.
                option(value="500 гр.") 500 гр.
                option(value="1000 гр.") 1000 гр.
        a.minicart__delete(href="#")
      .minicart__item
        a.minicart__img(href="#")
          img(src="images/minicart/1.jpg" alt="")
        .minicart__info
          a.minicart__name(href="#") Sidamo Dintu
          span.minicart__country Эфиопия
          input.minicart__price(value="650р." type="text" disabled)
          .minicart__modific
            .minicart__select
              select
                option(value="В зернах") В зернах
                option(value="В порошке") В порошке
            .minicart__select
              select
                option(value="250 гр.") 250 гр.
                option(value="500 гр.") 500 гр.
                option(value="1000 гр.") 1000 гр.
        a.minicart__delete(href="#")
    .minicart__footer
      .minicart__amount
        span Итоговая сумма:
        span 3 500 руб.
      a.minicart__btn(href="#") Оформить заказ
    a#minicartClose.minicart__close(href="#")