.container
  .pagecountry__slider
    .pagecountry__slider_item
      .catalog__product
        a.catalog__product_toggle(href="#")
        a.catalog__product_img(href="home.html")
          img(src="images/products/2.jpg" alt="")
          .catalog__product_diagram
            +card('5, 3, 4, 4, 2', 5)
        .catalog__product_bottom
          .catalog__product_country Эфиопия
          .catalog__product_name Sidamo Dintu
          .catalog__product_price 650р.
        .catalog__product_btns
          a.catalog__product_more(href="#") подробнее
          a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
    //.pagecountry__slider_item
    //  .catalog__product
    //    a.catalog__product_toggle(href="#")
    //    a.catalog__product_img(href="home.html")
    //      img(src="images/products/1.jpg" alt="")
    //      .catalog__product_diagram
    //        +card('5, 3, 4, 4, 2', 5)
    //    .catalog__product_bottom
    //      .catalog__product_country Эфиопия
    //      .catalog__product_name Sidamo Dintu
    //      .catalog__product_price 650р.
    //    .catalog__product_btns
    //      a.catalog__product_more(href="#") подробнее
    //      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
    //.pagecountry__slider_item
    //  .catalog__product
    //    a.catalog__product_toggle(href="#")
    //    a.catalog__product_img(href="home.html")
    //      img(src="images/products/2.jpg" alt="")
    //      .catalog__product_diagram
    //        +card('5, 3, 4, 4, 2', 5)
    //    .catalog__product_bottom
    //      .catalog__product_country Эфиопия
    //      .catalog__product_name Sidamo Dintu
    //      .catalog__product_price 650р.
    //    .catalog__product_btns
    //      a.catalog__product_more(href="#") подробнее
    //      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
    //.pagecountry__slider_item
    //  .catalog__product
    //    a.catalog__product_toggle(href="#")
    //    a.catalog__product_img(href="home.html")
    //      img(src="images/products/1.jpg" alt="")
    //      .catalog__product_diagram
    //        +card('5, 3, 4, 4, 2', 5)
    //    .catalog__product_bottom
    //      .catalog__product_country Эфиопия
    //      .catalog__product_name Sidamo Dintu
    //      .catalog__product_price 650р.
    //    .catalog__product_btns
    //      a.catalog__product_more(href="#") подробнее
    //      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ