.container
  .pagecountry__slider
    .pagecountry__slider_item
      include ../elements/_catalog_product
    .pagecountry__slider_item
      .catalog__product
        a.catalog__product_toggle(href="#")
        a.catalog__product_img(href="home.html")
          img(src="images/products/2.jpg" alt="")
          .catalog__product_diagram
            +card('5, 3, 4, 4, 2', 5)
        .catalog__product_bottom
          .catalog__product_country Эфиопия
          .catalog__product_name Sidamo Dintu
          .catalog__product_price 650р.
        .catalog__product_btns
          a.catalog__product_more(href="#") подробнее
          a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
    //.pagecountry__slider_item
    //  .catalog__product
    //    a.catalog__product_toggle(href="#")
    //    a.catalog__product_img(href="home.html")
    //      img(src="images/products/1.jpg" alt="")
    //      .catalog__product_diagram
    //        +card('5, 3, 4, 4, 2', 5)
    //    .catalog__product_bottom
    //      .catalog__product_country Эфиопия
    //      .catalog__product_name Sidamo Dintu
    //      .catalog__product_price 650р.
    //    .catalog__product_btns
    //      a.catalog__product_more(href="#") подробнее
    //      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
    //.pagecountry__slider_item
    //  .catalog__product
    //    a.catalog__product_toggle(href="#")
    //    a.catalog__product_img(href="home.html")
    //      img(src="images/products/2.jpg" alt="")
    //      .catalog__product_diagram
    //        +card('5, 3, 4, 4, 2', 5)
    //    .catalog__product_bottom
    //      .catalog__product_country Эфиопия
    //      .catalog__product_name Sidamo Dintu
    //      .catalog__product_price 650р.
    //    .catalog__product_btns
    //      a.catalog__product_more(href="#") подробнее
    //      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
  .country-article
    .country-article__row
      .row
        .offset-hd-2.col-hd-4.offset-xl-1.col-xl-5.col-lg-6
          h2 Эфиопия является родиной кофе.
        .col-hd-4.col-xl-5.col-lg-6
          p На территории страны большинство кофейных деревьев растёт в диком виде, поэтому эфиопский кофе по умолчанию считается органическим.  Любопытно, что простые жители Эфиопии собирают кофейные ягоды в лесах так же, как россияне ходят за малиной или земляникой, и это занятие вполне привычно.
          p За счёт произрастания кофе рядом с различными фруктовыми деревьями вкус готового напитка напоминает о фруктах и оставляет приятное сладкое послевкусие.   Если вы считаете себя истинным кофеманом, то непременно стоит попробовать эфиопский кофе. Вам обязательно понравится! Но сначала давайте получше познакомимся с этим уникальным бодрящим напитком.
    .country-article__row
      .row
        .offset-hd-2.col-hd-4.offset-xl-1.col-xl-5.col-lg-6
          h2 Почему же кофе Лювак обладает таким необычным вкусом и&nbsp;ароматом?
          p По природному замыслу кофейные плоды возникли именно в Эфиопии, став отправной точкой для распространения напитка по всему земному шару. Подлинно неизвестно, когда именно люди впервые познакомились с кофе.   Историки говорят, что это произошло ещё в далёкой древности. По приданию местный пастух со своей отарой овец случайно нашёл чудодейственные ягоды и попробовал их на вкус.
          p рассказать об открытии мусульманскому подвижнику.   Но тот не поверил пастуху и закинул «бесовские» плоды в огонь. Когда начал распространяться приятный аромат, верующий поменял своё мнение и стал разгребать остывающие угли. Кофейные зёрна достали, залили кипятком, таким образом приготовив первый в истории кофе.
          blockquote
            strong Если вы будете в Индонезии, ради развлечения вы можете попробовать кофе Лювак там, где его производят.<br>Во всяком случае, будет интересно.
          p По природному замыслу кофейные плоды возникли именно в Эфиопии, став отправной точкой для распространения напитка по всему земному шару. Подлинно неизвестно, когда именно люди впервые познакомились с кофе.   Историки говорят, что это произошло ещё в далёкой древности. По приданию местный пастух со своей отарой овец случайно нашёл чудодейственные ягоды и попробовал их на вкус.
        .col-lg-6
          .img-puzzle.parallax
            .img-puzzle__item
              img(src="images/puzzle/1.jpg" alt="")
            .img-puzzle__item
              img(src="images/puzzle/2.jpg" alt="")
            .img-puzzle__item
              img(src="images/puzzle/3.jpg" alt="")
            .img-puzzle__item
              img(src="images/puzzle/4.jpg" alt="")
    .country-article__row
      .row
        .col-lg-6.collumn-left.order-img
          img.parallax(src="images/cardblog_img.jpg" alt="")
        .col-hd-4.col-xl-5.col-lg-6.order-text
          h2 Эфиопия — бедное государство
          p Этот сорт кофе начинает свою историю несколько веков назад в Индонезии. После высадки голландцев в этом регионе на самых плодородных землях помимо прочих сельхозкультур стали выращивать кофе, почвы островов и климат идеально подошёл. А благодаря спросу на кофе в Европе, кофейные плантации быстро распространялись по островам Индонезии.
          p Местные маленькие зверьки мусанги (или пальмовые циветты) быстро полюбили плоды кофейных деревьев, местные жители острова Суматры называют их «Лювак». Эти зверьки в природе отбирают зрелые и самые вкусные плоды кофейного дерева, в процессе пищеварения им удаётся переварить мякоть кофейного плода, но само кофейное зерно не переваривается и выводится из организма естественным путём.
    .country-article__row.-blockquote
      .row
        .col-lg-4
          blockquote
            strong Если вы будете в Индонезии, ради развлечения вы можете попробовать кофе Лювак там, где его производят.<br>Во всяком случае, будет интересно.
        .col-lg-4
          blockquote
            strong Если вы будете в Индонезии, ради развлечения вы можете попробовать кофе Лювак там, где его производят.<br>Во всяком случае, будет интересно.
        .col-lg-4
          blockquote
            strong Если вы будете в Индонезии, ради развлечения вы можете попробовать кофе Лювак там, где его производят.<br>Во всяком случае, будет интересно.
    .country-article__row
      .row
        .offset-hd-2.col-hd-4.offset-xl-1.col-xl-5.col-lg-6.collumn-left
          h2 Эфиопия — бедное государство
          p Этот сорт кофе начинает свою историю несколько веков назад в Индонезии. После высадки голландцев в этом регионе на самых плодородных землях помимо прочих сельхозкультур стали выращивать кофе, почвы островов и климат идеально подошёл. А благодаря спросу на кофе в Европе, кофейные плантации быстро распространялись по островам Индонезии.
          p Местные маленькие зверьки мусанги (или пальмовые циветты) быстро полюбили плоды кофейных деревьев, местные жители острова Суматры называют их «Лювак». Эти зверьки в природе отбирают зрелые и самые вкусные плоды кофейного дерева, в процессе пищеварения им удаётся переварить мякоть кофейного плода, но само кофейное зерно не переваривается и выводится из организма естественным путём.
        .col-lg-6.collumn-right
          img.parallax(src="images/cardblog_img.jpg" alt="")