.e-bonuse
  button.e-bonuse__info(type="button")
    img(src="images/icons-svg/info-icon_white.svg" width="20" height="20" alt="")
  .e-bonuse__img
    img(src="images/bonuses/1.jpg" alt="")
  .e-bonuse__content
    .e-bonuse__top
      .e-bonuse__name
        h3 offer type
      .e-bonuse__rate Rate: 4.9/10
    .e-bonuse__desc
      .e-bonuse__row
        span bonus value: <strong>100 FS</strong>
        = " "
        span wager: <strong>x 45</strong>
      .e-bonuse__row
        span minimum deposit: <strong>20$</strong>
  .e-bonuse__offer
    .e-bonuse__header
      .e-bonuse__title offer type
      button.e-bonuse__back(type="button") back
    .e-bonuse__text.mCustomScrollbar
      p If you deposit 20 dollars you will need to make 900 dollars of bets, and after that, you will able to withdraw this 20 dollarsLorem ipsum dolor sit amet,
      p vconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
  .e-bonuse__btn.-restricted
    span.btn restricted