.e-casino
  .e-casino__img
    img(src="images/casino/1.jpg" alt="")
    .e-casino__icon
      img(src="images/blacklisted.svg" width="85" height="50" alt="")
  .e-casino__content
    .e-casino__top
      .e-casino__name
        h3 katana
      .e-casino__rate Rate: 4.9/10
    .e-casino__row
      .e-casino__desc
        p Novomatic, Netent, Yggdrasil, Betconstruct
  .e-casino__btn
    a.btn(href="#") play