.e-games
  .e-games__img
    img(src="images/games/1.jpg" alt="")
  .e-games__content
    .e-games__top
      .e-games__name
        h3 katana
      .e-games__rate Rate: 4.9/10
    .e-games__desc
      .e-games__row
        span min bet: <strong>1$</strong>
        = " "
        span max bet: <strong>1000$</strong>
      .e-games__row
        span lines: <strong>1</strong>
        = " "
        span software: <strong>NetEnt</strong>
  .e-games__btn
    a.btn(href="#") play