.e-news
  a.e-news__link(href="#")
    .e-news__img(style="background-image: url(images/news/1.jpg)")
    .e-news__content
      .e-news__title
        span Name of this news
      .e-news__desc
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et