a.e-winnings(href="#")
  .e-winnings__img
    img(src="images/winnings/1.jpg" alt="")
  .e-winnings__content
    .e-winnings__name
      h3 Player's nickname
    .e-winnings__date Date of publishing: 22\03\2017