.b-filter.js-side
  .b-filter__header.js-side__btn FILTER
    button.b-filter__reset(type="button") reset
  .b-filter__content.js-side__content
    .b-filter__row
      a.b-filter__name(href="#") Software
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="5")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_1" id="software_1")
                label(for="software_1") 100$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_2" id="software_2")
                label(for="software_2") 200$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_3" id="software_3")
                label(for="software_3") 300$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_4" id="software_4")
                label(for="software_4") 400$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_5" id="software_5")
                label(for="software_5") 500$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_6" id="software_6")
                label(for="software_6") 5FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_7" id="software_7")
                label(for="software_7") 10FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_8" id="software_8")
                label(for="software_8") 20FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_9" id="software_9")
                label(for="software_9") 30FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_10" id="software_10")
                label(for="software_10") 40FS
    .b-filter__row
      a.b-filter__name(href="#") Games
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="games_1" id="games_1")
                label(for="games_1") Games 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="games_2" id="games_2")
                label(for="games_2") Games 2
    .b-filter__row
      a.b-filter__name(href="#") Bonus value
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="4")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="bonus_1" id="bonus_1")
                label(for="bonus_1") bonus value 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="bonus_2" id="bonus_2")
                label(for="bonus_2") Bonus value 2
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="bonus_3" id="bonus_3")
                label(for="bonus_3") bonus value 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="bonus_4" id="bonus_4")
                label(for="bonus_4") Bonus value 2
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="bonus_5" id="bonus_5")
                label(for="bonus_5") Bonus value 2
    .b-filter__row
      a.b-filter__name(href="#") Wagering requirements
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="5")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="wagering_1" id="wagering_1")
                label(for="wagering_1") Wagering 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="wagering_2" id="wagering_2")
                label(for="wagering_2") Wagering 2
    .b-filter__row
      a.b-filter__name(href="#") Cashable
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="5")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="cashable_1" id="cashable_1")
                label(for="cashable_1") Cashable 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="cashable_2" id="cashable_2")
                label(for="cashable_2") Cashable 2
    .b-filter__row
      a.b-filter__name(href="#") Minimum deposit
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="minimum_deposit_1" id="minimum_deposit_1")
                label(for="minimum_deposit_1") Minimum deposit 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="minimum_deposit_2" id="minimum_deposit_2")
                label(for="minimum_deposit_2") Minimum deposit 2
    .b-filter__row
      a.b-filter__name(href="#") Exclusive
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="exclusive_1" id="exclusive_1")
                label(for="exclusive_1") Exclusive 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="exclusive_2" id="exclusive_2")
                label(for="exclusive_2") Exclusive 2
    .b-filter__row
      a.b-filter__name(href="#") Maximum bonus
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="maximum_bonus_1" id="maximum_bonus_1")
                label(for="maximum_bonus_1") Maximum bonus 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="maximum_bonus_2" id="maximum_bonus_2")
                label(for="maximum_bonus_2") Maximum bonus 2
    .b-filter__row
      a.b-filter__name(href="#") Maximum cashout
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="maximum_cashout_1" id="maximum_cashout_1")
                label(for="maximum_cashout_1") Maximum cashout 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="maximum_cashout_2" id="maximum_cashout_2")
                label(for="maximum_cashout_2") Maximum cashout 2
    .b-filter__row
      a.b-filter__name(href="#") Allowed countries
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="allowed_countries_1" id="allowed_countries_1")
                label(for="allowed_countries_1") Allowed countries 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="allowed_countries_2" id="allowed_countries_2")
                label(for="allowed_countries_2") Allowed countries 2
    .b-filter__row
      a.b-filter__name(href="#") Restricted countries
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="1")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="restricted_countries_1" id="restricted_countries_1")
                label(for="restricted_countries_1") Restricted countries 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="restricted_countries_2" id="restricted_countries_2")
                label(for="restricted_countries_2") Restricted countries 2