.e-lang.js-lang
  button.e-lang__current.js-lang__current(type="button")
    span.e-lang__img.js-lang__img(style="background-image: url(images/language/english.svg)")
  .e-lang__dropdown.js-lang__dropdown
    .e-lang__scroll.mCustomScrollbar
      ul.e-lang__list
        li.e-lang__item
          a.e-lang__language.js-lang__btn(href="#")
            span.e-lang__img.js-lang__img(style="background-image: url(images/language/english.svg)")
            span.e-lang__text English
        li.e-lang__item
          a.e-lang__language.js-lang__btn(href="#")
            span.e-lang__img.js-lang__img(style="background-image: url(images/language/germany.svg)")
            span.e-lang__text German
        li.e-lang__item
          a.e-lang__language.js-lang__btn(href="#")
            span.e-lang__img.js-lang__img(style="background-image: url(images/language/russia.svg)")
            span.e-lang__text Russian
        li.e-lang__item
          a.e-lang__language.js-lang__btn(href="#")
            span.e-lang__img.js-lang__img(style="background-image: url(images/language/spain.svg)")
            span.e-lang__text Spain