.e-search.js-search
  form.e-search__form
    input.e-search__input.js-search__input(type="text" name="search" placeholder="Search...")
    button.e-search__btn(type="button")
    button.e-search__reset.js-search__reset(type="reset")