.e-subscribe
  svg.e-subscribe__gift(version='1.1', xmlns='http://www.w3.org/2000/svg' width="38" height="38" viewbox='0 0 512 512')
    g
      path(style='fill:#F7434C;', d='M469.162,227.716H42.838c-4.466,0-8.084,3.62-8.084,8.084v250.833c0,4.465,3.618,8.084,8.084,8.084h426.325c4.466,0,8.084-3.62,8.084-8.084V235.801C477.246,231.335,473.627,227.716,469.162,227.716z')
      path(style='fill:#DB2E37;', d='M469.162,227.716H42.838c-4.466,0-8.084,3.62-8.084,8.084v32.337h442.493v-32.337C477.246,231.335,473.627,227.716,469.162,227.716z')
      path(style='fill:#FFDB57;', d='M297.3,227.716h-82.598c-4.466,0-8.084,3.62-8.084,8.084v250.833c0,4.465,3.618,8.084,8.084,8.084H297.3c4.465,0,8.084-3.62,8.084-8.084V235.801C305.384,231.335,301.764,227.716,297.3,227.716z')
      path(style='fill:#F5BA3D;', d='M297.3,227.716h-82.598c-4.466,0-8.084,3.62-8.084,8.084v32.164h98.766v-32.164C305.384,231.335,301.764,227.716,297.3,227.716z')
    g.e-subscribe__cap
      path(style='fill:#FFDB57;', d='M453.413,78.378c-7.927-20.661-20.434-40.84-33.457-53.981c-4.779-4.821-11.214-7.265-18.539-7.108c-24.272,0.565-63.824,31.028-117.557,90.542c-1.342,1.485-2.085,3.416-2.085,5.418v42.761c0,4.465,3.618,8.084,8.084,8.084h124.353c27.708,0,39.144-13.48,43.857-24.789C464.357,124.23,462.702,102.591,453.413,78.378z')
      path(style='fill:#EF9325;', d='M458.041,92.464c-0.226-0.83-0.583-1.619-1.058-2.336c-12.207-18.457-38.584-11.551-58.561-2.508c-58.039,26.272-82.007,62.461-82.999,63.988c-1.615,2.487-1.739,5.656-0.324,8.261c1.414,2.605,4.14,4.226,7.104,4.226h92.012c17.631,0,30.706-5.412,38.862-16.085C462.766,135.33,464.482,116.122,458.041,92.464z')
      path(style='fill:#FFDB57;', d='M228.139,107.832c-53.733-59.514-93.285-89.977-117.557-90.542c-7.344-0.158-13.761,2.287-18.539,7.108c-13.022,13.14-25.53,33.32-33.456,53.981c-9.289,24.213-10.944,45.851-4.66,60.928c4.714,11.309,16.149,24.789,43.858,24.789h124.353c4.466,0,8.084-3.62,8.084-8.084V113.25C230.223,111.248,229.482,109.317,228.139,107.832z')
      path(style='fill:#EF9325;', d='M196.578,151.608c-0.992-1.527-24.96-37.717-82.999-63.988C93.6,78.577,67.224,71.674,55.017,90.127c-0.474,0.718-0.831,1.506-1.057,2.337c-6.443,23.658-4.725,42.866,4.964,55.545c8.155,10.673,21.23,16.085,38.862,16.085h92.012c2.964,0,5.69-1.621,7.104-4.226C198.316,157.264,198.192,154.095,196.578,151.608z')
      path(style='fill:#F5BA3D;', d='M289.861,97.175h-67.722c-4.466,0-8.084,3.62-8.084,8.084v50.753c0,4.465,3.618,8.084,8.084,8.084h67.722c4.466,0,8.084-3.62,8.084-8.084v-50.753C297.945,100.794,294.327,97.175,289.861,97.175z')
      path(style='fill:#F7434C;', d='M503.916,147.943H8.084c-4.466,0-8.084,3.62-8.084,8.084V235.8c0,4.465,3.618,8.084,8.084,8.084h495.832c4.466,0,8.084-3.62,8.084-8.084v-79.773C512,151.562,508.382,147.943,503.916,147.943z')
      rect(x='193.902', y='147.94', style='fill:#FFDB57;', width='124.195', height='95.943')
  a.btn.js-subscribe__btn(href="#") subscribe
  .e-subscribe__popup.js-subscribe__popup
    .e-subscr-popup
      .e-subscr-popup__title You will get 300 exclusive no deposit bonuses
      .e-subscr-popup__form
        .e-subscr-form
          label.e-subscr-form__label Enter your email
          form.e-subscr-form__field
            input.e-subscr-form__input(type="text" name="subscribe" placeholder="Enter..." required)
            button.e-subscr-form__btn.btn.btn--paint(type="button") subscribe
      .e-subscr-popup__social
        .e-subscr-social
          .e-subscr-social__title FOLLOW US ON SOCIAL WEBS
          .e-subscr-social__box
            a.e-subscr-social__link(href="#")
              img(src="images/social-color/twitter.svg" width="30" height="30" alt="")
            a.e-subscr-social__link(href="#")
              img(src="images/social-color/facebook.svg" width="30" height="30" alt="")
            a.e-subscr-social__link(href="#")
              img(src="images/social-color/google-plus.svg" width="30" height="30" alt="")