$icon-font-path: '../fonts/';

$container-lg: 1200px;

$screen-lg: 1230px;

$font-family-sans-serif:  'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 13px;
$line-height-base: 1.30769;

$text-color: #151515;

$green: #43b748;
$blue: #29abe1;
$black: #151515;
$gray: #8a8a8a;
$gray-border: #dedede;
$gray-bg: #f0f0f0;
$red: #f7434c;