.b-filter.js-side
  .b-filter__header.js-side__btn FILTER
    button.b-filter__reset(type="button") reset
  .b-filter__content.js-side__content
    .b-filter__row
      a.b-filter__name(href="#") Type
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="4")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="type_1" id="type_1")
                label(for="type_1") Type 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="type_2" id="type_2")
                label(for="type_2") Type 2
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="type_3" id="type_3")
                label(for="type_3") Type 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="type_4" id="type_4")
                label(for="type_4") Type 2
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="type_5" id="type_5")
                label(for="type_5") Type 2
    .b-filter__row
      a.b-filter__name(href="#") Software
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="5")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_1" id="software_1")
                label(for="software_1") 100$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_2" id="software_2")
                label(for="software_2") 200$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_3" id="software_3")
                label(for="software_3") 300$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_4" id="software_4")
                label(for="software_4") 400$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_5" id="software_5")
                label(for="software_5") 500$
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_6" id="software_6")
                label(for="software_6") 5FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_7" id="software_7")
                label(for="software_7") 10FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_8" id="software_8")
                label(for="software_8") 20FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_9" id="software_9")
                label(for="software_9") 30FS
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="software_10" id="software_10")
                label(for="software_10") 40FS
    .b-filter__row
      a.b-filter__name(href="#") Minimum bet
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="5")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="minimum_bet_1" id="minimum_bet_1")
                label(for="minimum_bet_1") 10
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="minimum_bet_2" id="minimum_bet_2")
                label(for="minimum_bet_2") 20
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="minimum_bet_3" id="minimum_bet_3")
                label(for="minimum_bet_3") 30
    .b-filter__row
      a.b-filter__name(href="#") Maximum bet
      .b-filter__hidden
        .b-filter__search
          .e-search
            input.e-search__input(type="text" placeholder="Search" name="search")
        .b-filter__scroll
          ul.b-filter__list(data-limit-item="5")
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="maximum_1" id="maximum_1")
                label(for="maximum_1") maximum 1
            li.b-filter__item
              .b-filter__checkbox
                input(type="checkbox" name="maximum_2" id="maximum_2")
                label(for="maximum_2") maximum 2