.notfound {
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 55px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__content {
    width: 100%;
    margin-bottom: 70px;
    @media (min-width: 992px) {
      width: 40%;
    }
    @media (min-width: 1600px) {
      width: 33.333%;
    }
  }
  &__img {
    width: 100%;
    @media (min-width: 992px) {
      width: 60%;
    }
    @media (min-width: 1600px) {
      width: 66.666%;
    }
    img {
      margin:  auto;
    }
  }
  &__title {
    font-family: $font-family-futura;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 1.2;
    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 1600px) {
      font-size: 45px;
    }
  }
  &__desc {
    margin-bottom: 15px;
  }
  &__link {
    font-family: $font-family-futura;
    font-weight: 500;
    font-size: 13px;
    color: $text-color;
    text-transform: uppercase;
    transition: .2s;
    &:hover {
      text-decoration: none;
      color: $text-color;
      opacity: .7;
    }
  }
}