.about {
  overflow: hidden;
  margin-top: -50px;
  @media (min-width: 768px) {
    margin-top: -75px;
  }
  @media (min-width: 1200px) {
    margin-top: -105px;
  }
  &__first {
    margin-bottom: 50px;
    position: relative;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &_screen {
      min-height: 375px;
      background-size: cover;
      background-position: bottom center;
      padding: 150px 0;
      position: relative;
      @media (min-width: 768px) {
        min-height: 75vh;
      }
    }
  }
  &__full {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &_screen {
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: bottom center;
      position: relative;
      @media (min-width: 768px) {
        padding: 150px 0;
        min-height: 100vh;
      }
      @media (max-width: 767px) {
        padding-top: 230px;
        margin-bottom: 120px;
        min-height: 375px;
      }
      //&:before {
      //  content: '';
      //  width: 100%;
      //  height: 100%;
      //  position: absolute;
      //  left: 0;
      //  top: 0;
      //  background-color: rgba(0, 0, 0, 0.5);
      //}
    }
    &_heading {

      @media (min-width: 768px) {
        color: #fff;
      }
      @media (max-width: 767px) {
        padding: 40px 20px 35px;
        background-color: #fff;
        text-align: center;
        margin: 0 auto -70px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__partners {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 130px;
    }
    &_title {
      max-width: 1000px;
      @media (min-width: 768px) {
        margin-bottom: 50px;
      }
    }
    &_wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    &_item {
      width: 33.333%;
      max-width: 33.333%;
      padding: 25px 10px;
      flex: none;
      align-self: center;
      @media (min-width: 768px) {
        padding: 35px 10px;
      }
      @media (min-width: 992px) {
        width: 25%;
        max-width: 25%;
      }
      @media (min-width: 1200px) {
        width: 16.666%;
        max-width: 16.666%;
      }
      img {
        @media (min-width: 768px) {
          max-width: 140px;
        }
        margin:  auto;
      }
    }
  }
  &__show {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 150px;
    }
    &:before {
      content: '';
      height: 100%;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      @media (min-width: 992px) {
        width: 50%;
      }
      @media (min-width: 1200px) {
        width: 40%;
      }
    }
    &_wrap {
      display: flex;
      position: relative;
      @media (max-width: 991px) {
        flex-wrap: wrap;
      }
      &:before {
        content: '';
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        @media (min-width: 992px) {
          width: 50%;
        }
        @media (min-width: 1200px) {
          width: 40%;
        }
      }
    }
    &_for {
      width: 100%;
      position: relative;
      z-index: 8;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      @media (min-width: 992px) {
        width: 50%;
        padding-right: 15px;
      }
      @media (min-width: 1200px) {
        width: 40%;
      }
      @media (max-width: 991px) {
        display: none !important;
      }
      .slick-list {
        order: 1;
        @media (min-width: 992px) {
          margin-bottom: 25px;
        }
      }
      .slick-arrow {
        order: 2;
        position: static;
        &:active {
          margin-top: 0;
        }
      }
      .slick-prev {
        margin-right: 30px;
      }
    }
    &_nav {
      width: 100%;
      max-width: 800px;
      position: relative;
      z-index: 2;
      @media (min-width: 992px) {
        width: 50%;
        margin-left: -15px;
      }
      @media (min-width: 1200px) {
        width: 60%;
      }
      .about__show_text {
        @media (min-width: 992px) {
          display: none !important;
        }
      }
      &_item {
        @media (min-width: 992px) {
          padding: 0 15px;
        }
      }
      .slick-count {
        position: absolute;
        left: 30px;
        top: 15px;
        background-color: #fff;
        padding: 2px 7px;
        z-index: 6;
        font-size: 12px;
        font-weight: 500;
        @media (max-width: 991px) {
          display: none;
        }
      }
      .slick-list {
        @media (min-width: 992px) {
          overflow: visible;
        }
      }
      .slick-slide {
        opacity: .2;
        transition: .3s $cubic-bezier;
        &.slick-current {
          opacity: 1;
          + .slick-slide.slick-cloned {
            opacity: .2;
          }
        }
        &.slick-cloned {
          opacity: 1;
          + .slick-slide.slick-cloned {
            opacity: .2;
          }
        }
      }
    }
  }
  &__video {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 150px;
    }
    &_pattern {
      position: relative;
      padding: 100px 0;
      background-size: cover;
      background-position: center;
      display: flex;
      @media (min-width: 768px) {
        align-items: center;
        padding: 150px 0;
      }
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #fff;
        text-decoration: none;
        &:after {
          transform: scale(1.2);
        }
      }
      &:focus {
        color: #fff;
        text-decoration: none;
      }
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: .4;
      }
      &:after {
        content: '';
        width: 60px;
        height: 60px;
        background-color: rgba(255, 255, 255, .2);
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIzMi4xNTMgMjMyLjE1MyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMyLjE1MyAyMzIuMTUzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgZmlsbD0iI2ZmZmZmZiI+PGcgaWQ9IlBsYXkiPjxwYXRoIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDsiIGQ9Ik0yMDMuNzkxLDk5LjYyOEw0OS4zMDcsMi4yOTRjLTQuNTY3LTIuNzE5LTEwLjIzOC0yLjI2Ni0xNC41MjEtMi4yNjZjLTE3LjEzMiwwLTE3LjA1NiwxMy4yMjctMTcuMDU2LDE2LjU3OHYxOTguOTRjMCwyLjgzMy0wLjA3NSwxNi41NzksMTcuMDU2LDE2LjU3OWM0LjI4MywwLDkuOTU1LDAuNDUxLDE0LjUyMS0yLjI2N2wxNTQuNDgzLTk3LjMzM2MxMi42OC03LjU0NSwxMC40ODktMTYuNDQ5LDEwLjQ4OS0xNi40NDlTMjE2LjQ3MSwxMDcuMTcyLDIwMy43OTEsOTkuNjI4eiIvPjwvZz48L3N2Zz4=);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: -30px;
        transition: .5s;
      }
    }
    &_text {
      position: relative;
      @media (min-width: 1600px) {
        padding-left: 17%;
      }
      @media (min-width: 768px) {
        padding-left: 10%;
      }
      @media (max-width: 767px) {
        display: none;
      }
      h2 {
        margin-bottom: 15px;
      }
    }
    .video-responsive {
      @media (min-width: 992px) {
        padding-bottom: 43.94%;
      }
      iframe, object, embed, video {
        max-height: 580px;
      }
    }
  }
  &__team {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 150px;
    }
    &:before {
      content: '';
      height: 100%;
      background-color: #fff;
      position: absolute;
      left: calc(50% - 50px);
      top: 0;
      z-index: 5;
      @media (min-width: 992px) {
        width: 60%;
      }
    }
    &_heading {
      display: flex;
      align-items: baseline;
      @media (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
    }
    &_title {
      margin-bottom: 25px;
      margin-right: 25px;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;
        h2 {
          margin-bottom: 0;
        }
      }
    }
    &_wrap {
      display: flex;
      @media (max-width: 991px) {
        flex-wrap: wrap;
      }
    }
    &_right {
      width: 100%;
      position: relative;
      z-index: 8;
      flex-wrap: wrap;
      align-content: center;
      @media (min-width: 991px) {
        width: 53%;
        padding-right: 15px;
        padding-left: 50px;
        order: 1;
      }
      @media (max-width: 767px) {
        order: 0;
      }
    }
    &_text {
      min-height: 20px;
      h2 {
        margin-bottom: 10px;
        @media (max-width: 767px) {
          font-size: 24px;
          margin-bottom: 5px;
        }
      }
      h3 {
        margin-bottom: 10px;
        font-family: $font-family-sans-serif;
        font-weight:600;
        font-size: 20px;
        @media (max-width: 767px) {
          margin-bottom: 5px;
        }
      }
    }
    &_for {

      @media (max-width: 991px) {
        display: none !important;
      }
      .slick-list {
        order: 1;
        @media (min-width: 992px) {
          margin-bottom: 25px;
        }
      }
      &_arrows {
        .slick-arrow {
          position: static;
          &:active {
            margin-top: 0;
          }
        }
        .slick-prev {
          margin-right: 30px;
        }
      }
      &_elements {
        display: flex;
        align-items: center;
        .slick-count {
          margin-right: 30px;
          font-weight: 700;
          @media (max-width: 991px) {
            display: none;
          }
        }
      }
    }
    &_nav {
      width: 100%;
      position: relative;
      z-index: 2;
      @media (min-width: 992px) {
        max-width: 390px;
        margin-left: auto;
      }
      @media (max-width: 992px) {
        order: 2;
      }
      .about__team_text {
        @media (min-width: 992px) {
          display: none !important;
        }
      }
      &_item {
        @media (min-width: 992px) {
          padding: 0 15px;
        }
        img {
          margin: auto;
        }
      }
      .slick-list {
        padding: 0 !important;
        @media (min-width: 992px) {
          overflow: visible;
        }
      }
      .slick-slide {
        opacity: .1;
        transition: .3s $cubic-bezier;
        &.slick-current {
          opacity: 1;
          + .slick-slide.slick-cloned {
            opacity: .1;
          }
        }
        &.slick-cloned {
          opacity: 1;
          + .slick-slide.slick-cloned {
            opacity: .1;
          }
        }
        &[data-slick-index="-2"] {
          opacity: .1;
        }
      }
    }
  }
  &__heading {
    position: relative;
    &_back {
      position: absolute;
      z-index: 10;
      @media (min-width: 768px) {
        left: 0;
        top: 200px;
      }
      @media (min-width: 1200px) {
        left: -90px;
      }
    }
    &_box {
      @media (min-width: 768px) {
        padding: 0 75px ;
        background-color: #fff;
      }
      @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
      @media (min-width: 1600px) {
        padding: 65px 135px 0;
      }
    }
    &_title {
      @media (min-width: 992px) {
        width: 48%;
      }
      @media (max-width: 767px) {
        padding: 30px 20px 25px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
      }
    }
    &_desc {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (min-width: 992px) {
        width: 48%;
      }
      @media (min-width: 1600px) {
        padding-left: 20px;
      }
    }
  }
  &__progress {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 150px;
    }
    &_box {
      display: flex;
      flex-wrap: wrap;
    }
    &_item {
      width: 33.333%;
      border-left: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      &:not(:nth-child(n+4)) {
        border-top: 1px solid #e8e8e8;
      }
      &:nth-child(3n+3) {
        border-right: 1px solid #e8e8e8;
      }
      img {
        max-width: 100px;
        width: 100%;
        margin: auto;
      }
    }
    &_link {
      display: block;
      padding: 25px 15px;
      transition: .3s;
      &:hover {
        background-color: #fafafa;
      }
      @media (min-width: 1600px) {
        padding: 50px 15px;
      }
    }
  }
}

.video-responsive {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.mfp-iframe-holder {

  .mfp-close {
    width: 30px;
    top: 10px;
    right: 10px;
    &:before, &:after {
      background-color: #fff;
    }
  }
  .mfp-content {
    max-width: none;
    width: 100%;
    height: 100%;
  }
  .mfp-iframe-scaler {
    padding: 0;
  }
}