.accepted {
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 55px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__products {

    &_item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
    &_img {
      width: 120px;
      margin-right: 20px;
      flex: none;
      @media (min-width: 768px) {
        width: 150px;

      }
    }
    &_content {
      display: flex;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      @media (min-width: 768px) {
        //width: 60%;
      }
    }
    &_collumn {
      width: 50%;
      @media (min-width: 768px) {
        margin-left: 3.333%;
        width: 30%;
      }
      @media (max-width: 768px) {
        font-size: 12px;
        &:first-child {
          width: 100%;
          margin-bottom: 15px;

        }
      }
    }
    &_name {
      display: block;
      font-weight: 500;
      @media (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
    &_country {
      display: block;
      font-weight: 300;
      color: #8a8a8a;
    }
    &_row {
      display: flex;
    }
    &_label {
      white-space: nowrap;
      display: block;
      @media (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
    &_count {
      margin-left: 15px;
      font-weight: 500;
    }
    &_value {
      display: block;
    }
    &_price {
      font-weight: 700;
      white-space: nowrap;
    }
  }
  &__details {
    background-color: #fafafa;
    padding: 25px;
    @media (min-width: 1200px) {
      padding: 30px 40px;
    }
    @media (max-width: 767px) {
      margin: 0 -15px;
      padding: 25px 15px;
    }
    &_title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 15px;
      @media (min-width: 768px) {
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
    &_row {
      margin-bottom: 15px;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
    &_label {
      margin-right: 5px;
    }
    &_value {
      font-weight: 500;
    }
  }
  &__amount {
    margin-top: 50px;
    @media (min-width: 992px) {
      margin-top: 20px;
    }
    &_row {
      margin-bottom: 20px;
      span {
        &:first-child {
          margin-right: 5px;
        }
      }
      &.-sale {
        color: #8a8a8a;
      }
      &.-amount {
        font-weight: 700;
        font-size: 21px;
      }
    }
  }
}