.article {
  margin-bottom: 50px;
  padding-top: 35px;
  @media (min-width: 768px) {
    margin-bottom: 70px;
    padding-top: 55px;
  }
  @media (min-width: 992px) {
    margin-bottom: 140px;
  }
  &__box {
    @media (min-width: 768px) {
      background-image: none !important;
    }
    @media (max-width: 767px) {
      padding: 50px 0;
      background-size: cover;
      background-position: center center;
    }
  }
  &__inner {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    @media (max-width: 767px) {
      padding: 35px 35px;
      background-color: #fff;
    }
  }
  &__img {
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) {
      width: 65%;
      flex: none;
    }
    @media (min-width: 1600px) {
      width: 60%;
    }
  }
  &__text {
    @media (min-width: 768px) {
      padding-left: 5%;
    }

    a {
      font-family: $font-family-futura;
      font-weight: 500;
      color: $text-color;
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      transition: .2s;
      position: relative;
      &:hover {
        color: $text-color;
        text-decoration: none;
        &:after {
          transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.2s;
          transform: translateX(-50%) scaleX(1);
        }
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -7px;
        background-color: $text-color;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1), background 1s cubic-bezier(0.28, 0, 0.18, 1);
      }
    }
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      padding-left: 5%;
    }
    &_header {
      max-width: 360px;
      width: 100%;
      text-align: left;
      h2 {

      }
    }
    .form {
      max-width: 360px;
      width: 100%;
      &__label {
        @media (max-width: 1600px) {
          font-size: 12px;
        }
      }
    }
  }
}