.blog {

  &__screen {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 230px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      height: 100vh;
      padding-top: 75px;
      margin-top: -75px;
      background-image: url(../images/blog_bg.jpg);
    }
    @media (min-width: 1199px) {
      padding-top: 105px;
      margin-top: -105px;
    }
    @media (max-width: 767px) {
      background-image: url(../images/blog_bg-mobile.jpg);
    }
    &_heading {
      @media (min-width: 768px) {
        max-width: 350px;
      }
      @media (max-width: 768px) {
        padding: 40px 20px 35px;
        background-color: #fff;
        text-align: center;
        margin: 0 auto -70px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      }
      h1 {
        margin-bottom: 12px;
      }
    }
  }
}

.triggers {
  background-size: cover;
  padding: 120px 0 45px;
  @media (min-width: 768px) {
    padding: 140px 0 120px;
  }
  &__row {
    @media (min-width: 1230px) {
      padding: 0 65px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  &__title {
    h3 {
      margin-bottom: 15px;
      @media (min-width: 992px) {
        margin-bottom: 20px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
  &__desc {
    p {
      margin-bottom: 10px;
      @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 16px;
      }
    }
  }
  &__link {
    font-family: $font-family-futura;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: $text-color;
    position: relative;
    &:hover {
      text-decoration: none;
      color: $text-color;
      &:after {
        width: 100%;
      }
    }
    &:after {
      content: '';
      width: 0;
      height: 1px;
      background-color: $text-color;
      position: absolute;
      left: 0;
      top: 100%;
      transition: .5s $cubic-bezier;
    }
  }
}