// --------------------- Стили статьи - cardblog ----------------------- //

.cardblog {
  margin-top: -50px;
  @media (min-width: 768px) {
    margin-top: -75px;
  }
  @media (min-width: 1200px) {
    margin-top: -105px;
  }
  &__first {
    margin-bottom: 50px;
    position: relative;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &_screen {
      min-height: 375px;
      background-size: cover;
      background-position: bottom center;
      padding: 150px 0;
      position: relative;
      @media (min-width: 768px) {
        min-height: 75vh;
      }

    }
  }
  &__full {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &_screen {
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: bottom center;
      position: relative;
      @media (min-width: 768px) {
        padding: 150px 0;
        min-height: 100vh;
      }
      @media (max-width: 767px) {
        padding-top: 230px;
        margin-bottom: 120px;
        min-height: 375px;
      }
    }
    &_heading {
      @media (min-width: 768px) {
        max-width: 350px;
      }
      @media (max-width: 767px) {
        padding: 40px 20px 35px;
        background-color: #fff;
        text-align: center;
        margin: 0 auto -70px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__back {
    position: absolute;
    left: 15px;
    z-index: 10;
    @media (max-width: 767px) {
      bottom: 15px;
      left: 50%;
      margin-left: -61px;
      opacity: 0;
      visibility: hidden;
      &.-visible {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (min-width: 768px) {
      top: 100%;
      padding-top: 15px;
    }
    @media (min-width: 1200px) {
      left: 40px;
      padding-top: 40px;
    }
    @media (min-width: 1600px) {
      left: 90px;
      padding-top: 55px;
    }
  }
  &__header {
    margin-top: -110px;
    position: relative;
    @media (min-width: 768px) {
      margin-top: -150px;
    }
    &_back {
      position: absolute;
      z-index: 10;
      @media (min-width: 768px) {
        left: 0;
        top: 200px;
      }
      @media (min-width: 1200px) {
        left: -90px;
      }
    }
    &_box {
      @media (min-width: 768px) {
        padding: 45px 75px 0;
        background-color: #fff;
      }
      @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
      @media (min-width: 1600px) {
        padding: 65px 135px 0;
      }
    }
    &_title {
      @media (min-width: 992px) {
        width: 48%;
      }
      @media (max-width: 767px) {
        padding: 30px 20px 25px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
      }
    }
    &_desc {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (min-width: 992px) {
        width: 48%;
      }
      @media (min-width: 1600px) {
        padding-left: 20px;
      }
    }
  }
  &__row {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .cardblog__order-img,
    .cardblog__order-text {

      @media (min-width: 1600px) {
        &:first-child {
          padding-right: 40px;
        }
        &:last-child {
          padding-left: 40px;
        }
      }
    }
  }
  &__full {
    background-size: cover;
    padding: 50px 0;
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 90px;
      padding: 60px 0;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &_box {
      background-color: #fff;
      padding: 30px 25px 20px;
      @media (min-width: 768px) {
        padding: 55px 50px 40px;
      }
      @media (min-width: 1200px) {
        margin: 0 75px;
      }
    }
  }
  &__order {

    &-img {
      @media (max-width: 991px) {
        order: 2;
      }
    }
    &-text {
      @media (max-width: 991px) {
        order: 1;
      }
    }
  }
  &__slider {
    position: relative;
    background-color: #fff;
    &_inner {
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        flex-direction: column;

      }
    }
    &_img {
      @media (min-width: 991px) {
        flex: 0 0 450px;
      }
    }
    &_content {
      padding: 30px 15px 20px;
      @media (min-width: 1200px) {
        padding: 30px 25px 30px 30px;
      }
      @media (min-width: 1200px) {
        padding: 30px 25px 30px 70px;
      }
    }
  }
}

html.no-smil .cardblog__header_title { // Отключаем на браузерах IE
  background: none;
}

.title-cliptext {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  h1 {
    font-weight: 700;
  }
}

.no-smil {
  .title-cliptext {
    -webkit-text-fill-color: #000;
  }
}

.back-button {
  display: block;
  text-align: center;
  position: relative;
  font-size: 12px;
  color: $text-color;
  @media (min-width: 768px) {
    padding-top: 45px;
    width: 45px;
    &:before {
      content: '';
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiPgogIDxnPgogICAgPHBhdGggZD0ibTg4LjYsMTIxLjNjMC44LDAuOCAxLjgsMS4yIDIuOSwxLjJzMi4xLTAuNCAyLjktMS4yYzEuNi0xLjYgMS42LTQuMiAwLTUuOGwtNTEtNTEgNTEtNTFjMS42LTEuNiAxLjYtNC4yIDAtNS44cy00LjItMS42LTUuOCwwbC01NCw1My45Yy0xLjYsMS42LTEuNiw0LjIgMCw1LjhsNTQsNTMuOXoiIGZpbGw9IiMxNTE1MTUiLz4KICA8L2c+Cjwvc3ZnPgo=);
      background-position: center;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-color: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid rgba(138, 138, 138, 0.3);
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -17px;
    }
  }
  @media (min-width: 768px) and (max-width: 1368px) {
    font-size: 0;
  }
  @media (max-width: 767px) {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 15px rgba(29, 29, 29, 0.11);
    &:after {
      content: ' к блогу';
    }
  }
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

blockquote {
  font-size: 14px;
  padding: 0 0 0 35px;
  margin: 40px 0 35px;
  border-left: 3px solid $text-color;
}

.slick-arrow {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiPgogIDxnPgogICAgPHBhdGggZD0ibTg4LjYsMTIxLjNjMC44LDAuOCAxLjgsMS4yIDIuOSwxLjJzMi4xLTAuNCAyLjktMS4yYzEuNi0xLjYgMS42LTQuMiAwLTUuOGwtNTEtNTEgNTEtNTFjMS42LTEuNiAxLjYtNC4yIDAtNS44cy00LjItMS42LTUuOCwwbC01NCw1My45Yy0xLjYsMS42LTEuNiw0LjIgMCw1LjhsNTQsNTMuOXoiIGZpbGw9IiMxNTE1MTUiLz4KICA8L2c+Cjwvc3ZnPgo=);
  background-position: center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(138, 138, 138, 0.3);
  position: absolute;
  top: 15px;
  font-size: 0;
  z-index: 10;
  cursor: pointer;
  @media (min-width: 768px) {
    background-size: 15px 15px;
    width: 45px;
    height: 45px;
    top: 25px;
  }
  &:active {
    margin-top: 1px;
  }
}

.slick-next {
  transform: rotate(180deg);
  right: 15px;
  @media (min-width: 768px) {
    right: 25px;
  }
}

.slick-prev {
  right: 60px;
  @media (min-width: 768px) {
    right: 90px;
  }
}

.slick-dots {
  margin-bottom: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px;
}

.slick-dots li {
  margin: 0 2px;
}

.slick-dots button {
  border: 0;
  background-color: transparent;
  font-size: 0;
  width: 25px;
  height: 25px;
  padding: 0;
  position: relative;
}

.slick-dots button:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #8a8a8a;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -4px 0 0 -4px;
}

.slick-dots li.slick-active button:before {
  background-color: #8a8a8a;
}

.slick-slide {
  z-index: 1 !important;
}