.cardevents {
  padding-top: 35px;
  @media (min-width: 768px) {
    padding-top: 55px;
  }
  &__content {
    @media (max-width: 1199px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1600px) {
      padding-right: 21%;
    }
  }
  &__top {
    font-size: 13px;
    margin-bottom: 20px;
    span {
      font-weight: 500;
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  &__title {
    h1 {
      font-weight: 700;
    }
  }
  &__desc {
    margin-bottom: 30px;
  }
  &__info {
    font-size: 13px;
    margin-bottom: 30px;
    a {
      white-space: nowrap;
      font-weight: 600;
      color: $blue;
      position: relative;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: $blue;
        position: absolute;
        left: 0;
        top: 110%;
        transition: .3s $cubic-bezier;
        opacity: 1;
      }
      &:hover {
        color: $blue;
        text-decoration: none;
        &:after {
          opacity: 0;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
  }
  &__price {
    font-weight: 700;
    font-size: 18px;
    margin-right: 45px  ;
  }
  &__count {
    display: flex;
    align-items: baseline;
    &_label {
      font-size: 12px;
      margin-right: 10px;
    }
    &_qty {
      font-weight: 600;
      padding: 0;
      width: 50px;
      border: 0;
    }
  }
  &__btn {
    font-family: $font-family-futura;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    letter-spacing: .05em;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: $blue;
    border: 1px solid $blue;
    display: inline-block;
    padding: 10px 25px;
    margin-right: 20px;
    transition: .3s;
    @media (min-width: 768px) {
      padding: 18px 40px;
    }
    &:hover {
      background-color: #fff;
      color: $blue;
      text-decoration: none;
    }
  }
}
