.contacts {
  padding-top: 35px;
  @media (min-width: 768px) {
    padding-top: 55px;
  }
  &__wrap {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 80px;
    }
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  &__content {
    @media (min-width: 1200px) {
      width: 40%;
      padding-right: 90px;
    }
    @media (min-width: 1600px) {
      width: 33.333%;
    }
  }
  &__map {
    background-color: #ccc;
    position: relative;
    display: flex;
    align-items: flex-end;
    @media (min-width: 1200px) {
      width: 60%;
    }
    @media (min-width: 1600px) {
      width: 66.666%;
    }
    @media (max-width: 1199px) {
      width: 100%;
      height: 450px;
      margin-top: 50px;
    }
  }
  &__desc {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
    a {
      color: $blue;
      text-decoration: none;
      position: relative;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $blue;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: .6;
        transition: .2s;
      }
      &:hover {
        text-decoration: none;
        color: $blue;
        &:after {
          opacity: 0;
        }
      }
    }
  }
  &__form {

    &_title {
      font-weight: 700;
      margin-bottom: 20px ;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &__info {
    background-image: url(../images/pattern_1.jpg);
    padding: 90px 0;
    &_wrap {
      background-color: #fff;
      padding: 45px 15px;
      max-width: 750px;
      margin:  0 auto;
      display: flex;
      justify-content: center;
    }
    &_text {
      font-weight: 300;
      font-size: 12px;
      span.medium {
        font-weight: 500;
      }
    }
    &_row {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }
}

.map {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__wrap {
    width: 100%;
    height: 100%;
  }
  &__address {
    display: flex;
    border: 1px solid #d5dce3;
    position: relative;
    z-index: 1;
    background-color: #fff;
    font-size: 12px;
    width: 100%;
    &_item {
      text-align: center;
      width: 50%;
      padding: 20px 15px;
      &:not(:last-child) {
        border-right: 1px solid #d5dce3;
      }
      @media (min-width: 768px) {
        padding: 30px 15px;
      }
    }
  }
  &__infowindow {
    padding: 20px;
    font-size: 12px;
    &_top {
      margin-bottom: 30px;
    }
    &_btn {

      margin-right: 40px;
      color: #8a8a8a;
      border-bottom: 1px dashed #8a8a8a;
      transition: .2s;
      &:hover {
        color: $text-color;
        border-color: $text-color;
        text-decoration: none;
      }
      &.-active {
        font-weight: 600;
        color: $text-color;
        border-color: transparent;
      }
    }
    &_address {
      display: block;
      margin-bottom: 15px;
    }
    &_link {
      font-weight: 500;

    }
  }
}