.jobs {
  padding-top: 35px;
  @media (min-width: 768px) {
    padding-top: 55px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__item {
    padding: 25px 0 45px;
    border-top: 1px solid #eee;
    position: relative;
    &:last-child {
      border-bottom: 1px solid #eee;
    }
  }
  &__header {

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__left {
    margin-bottom: 25px;
  }
  &__name {
    font-family: $font-family-futura;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__circs {
    display: flex;
    flex-wrap: wrap;
    &_item {
      @media (min-width: 992px) {
        &:not(:last-child) {
          margin-right: 90px;
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
  &__content {
    margin-top: 25px;
    display: none;
    &_wrap {
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
  &__collumn {
    @media (min-width: 768px) {
      width: 33.333%;
    }
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5;
    padding-right: 15px;
    li {
      margin-bottom: 12px;
    }
  }
  &__show {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: $blue;
    transition: .2s;
    &:hover {
      opacity: .7;
    }
    &:focus {
      color: $blue;
    }
  }
  &__form {
    background-size: cover;
    padding: 50px 0;
    @media (min-width: 768px) {
      padding: 80px 0;
    }
    &_wrap {
      max-width: 750px;
      margin: 0 auto;
      padding: 45px 15px;
      background-color: #fff;
      @media (min-width: 768px) {
        padding: 45px 130px 65px;
      }
    }
    &_title {
      text-align: center;
      margin-bottom: 30px;
      h3 {
        margin-bottom: 10px;
      }
    }
  }
}














