.mainscreen {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px;
  margin-top: -50px;
  overflow: hidden;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    height: 100vh;
    padding-top: 75px;
    margin-top: -75px;
    margin-bottom: 100px;
  }
  @media (min-width: 1199px) {
    padding-top: 105px;
    margin-top: -105px;
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/bg-mainscreen-gradient.png) left top repeat-x;
  }
  &__blur {
    width: 33.333%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .5s cubic-bezier(0.28, 0, 0.18, 1);
    @media (max-width: 1200px) {
      display: none;
    }
    &.-visible {
      opacity: 1;
      visibility: visible;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../images/bg-mainscreen-gradient.png) left top repeat-x;
    }
    img {
      height: 100%;
      width: auto;
      max-width: none;
      transition: margin .5s cubic-bezier(0.28, 0, 0.18, 1);
      filter: blur(5px);
      position: relative;
    }
  }
  &__parallax {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      max-width: none;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../images/bg-mainscreen-gradient.png) left top repeat-x;
      z-index: 1;
    }
  }
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 300;
  }
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
    @media (min-width: 1199px) {
      &:before, &:after {
        content: '';
        width: 1px;
        height: calc(100% + 105px);
        position: absolute;
        left: 33.333%;
        top: 0;
        background: #fff;
        opacity: .3;
      }
      &:after {
        left: 66.666%;
      }
    }
    @media (max-width: 1199px) {
      padding: 105px 0 55px;
    }
    .container {
      max-width: none;
      width: 100%;
    }
  }
  &__sections {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }
    @media (max-width: 1199px) {
      background-color: #fff;
      box-shadow: 0 0 15px rgba(29, 29, 29, 0.06);
    }
    .slick-dots {
      margin-bottom: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 25px;

      li {
        margin: 0 2px;

        &.slick-active button:before {
          background-color: #8a8a8a;
        }
      }
      button {
        border: 0;
        background-color: transparent;
        font-size: 0;
        width: 25px;
        height: 25px;
        padding: 0;
        position: relative;
        &:before {
          content: '';
          width: 8px;
          height: 8px;
          border: 1px solid #8a8a8a;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -4px 0 0 -4px;
        }
      }
    }
  }
  &__item {
    @media (min-width: 1200px) {
      max-width: 360px;
    }
    @media (max-width: 1199px) {
      max-width: 700px;
      display: block !important;
      padding: 40px 20px 0;
      text-align: center;
      margin: 0 auto;
    }

    h2 {
      margin-left: -2px;
    }
    a {
      font-family: $font-family-futura;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: $text-color;
      transition: .2s;
      position: relative;
      &:hover {
        color: $text-color;
        text-decoration: none;
        &:after {
          transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.2s;
          transform: translateX(-50%) scaleX(1);
        }
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -7px;
        background-color: $text-color;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1), background 1s cubic-bezier(0.28, 0, 0.18, 1);
      }
    }
  }
}

.no-smil {

  .mainscreen__blur {

    img {
      display: none;
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      opacity: .4;
    }
  }
}
