.pagecountry {
  margin-top: -50px;
  @media (min-width: 768px) {
    margin-top: -75px;
  }
  @media (min-width: 1200px) {
    margin-top: -105px;
  }
  &__first {

    &_screen {
      height: 75vh;
      background-size: cover;
      background-position: center;
      padding-top: 20vh;
      padding-bottom: 200px;
      position: relative;
      transition: opacity .5s $cubic-bezier;
      text-align: center;
      vertical-align: middle;
      @media (min-width: 768px) {
        padding-top: 105px;
        .container {
          display: inline-block;
          max-width: 99%;
        }
      }
      &:after {
        content: '';
        width: 1px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .5);
    }
    &_item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 2s $cubic-bezier;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &.-active {
        opacity: 1;
      }
    }
  }
  &__nav {
    max-width: 750px;
    margin: 0 -15px;
    @media (min-width: 576px) {
      margin: 0 auto;
    }
    &_item {
      text-align: center;
      cursor: pointer;
      padding: 20px 0;
    }
    &_name {
      font-family: $font-family-futura;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      color: #fff;
      display: inline-block;
      position: relative;
      transition: .5s $cubic-bezier;
      @media (min-width: 768px) {
        font-size: 30px;
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .3s $cubic-bezier;
      }
    }
    .slick-slide {
      opacity: .3;
      transition: .5s $cubic-bezier;
      &:hover {
        opacity: .7;
      }
    }
    .slick-current.slick-center {
      opacity: 1;
      .pagecountry__nav_name {

        transform: scale(1.7);
        @media (max-width: 575px) {
          transform: scale(1.5);
        }
        &:after {
          opacity: 0;
        }
      }
    }
    .slick-cloned.slick-center {
      opacity: 1;
      .pagecountry__nav_name {
        opacity: 1;
        transform: scale(1.7);
        @media (max-width: 575px) {
          transform: scale(1.5);
        }
        &:after {
          opacity: 0;
        }
      }
    }
  }
  &__content {
    margin-top: -200px;
    overflow: hidden;
    position: relative;
    .container {
      position: static;
    }
    .slick-slider {
      position: static;
    }
    &_item {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: .7s $cubic-bezier;
      &.-fade {
        opacity: 1;
        visibility: visible;
      }
      &.-active {
        position: relative;
        z-index: 5;
      }
    }
  }
  &__slider {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    @media (max-width: 768px) {
      background-color: #f8f8f8;
    }
    &_item {
      padding: 0 15px;
      .catalog__product {
        margin-bottom: 0;
      }
    }
    .slick-prev {
      right: auto;
      left: 15px;
      top: 179px;
      @media (min-width: 1600px) {
        left: 60px;
      }
    }
    .slick-next {
      right: 15px;
      top: 179px;
      @media (min-width: 1600px) {
        right: 60px;
      }
    }
    .slick-dots {
      background-color: #f8f8f8;
      margin: 0 15px;
    }
    .catalog__product_img {
      padding-top: 80%;
    }
  }
  &__cap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &_container {
      height: 100%;
      display: flex;
      justify-content: center;
    }
    &_item {
      display: none;
      width: 100%;
      position: relative;
      @media (min-width: 768px) {
        width: 50%;
      }
      @media (min-width: 992px) {
        width: 33.333%;
      }
      &:nth-child(3) {
        @media (max-width: 991px) {
          display: none;
        }
      }
      &:nth-child(2) {
        @media (max-width: 767px) {
          display: none;
        }
      }
      &:before {
        content: '';

        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #f8f8f8;
        @media (min-width: 768px) {
          left: 15px;
          right: 15px;
        }
      }
    }
  }
}
.country-article {

  &__row {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 150px;
    }
    &.-blockquote {
      @media (min-width: 992px) {
        margin-top: -70px;
      }
      blockquote {
        @media (max-width: 991px) {
          margin: 25px 0;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .collumn-left {
    @media (min-width: 1600px) {
      padding-left: 60px;
    }
  }
  .collumn-right {
    @media (min-width: 1600px) {
      padding-left: 40px;
    }
  }
  .collumn-left {
    @media (min-width: 1600px) {
      padding-right: 40px;
    }
  }
  .order-text {
    @media (max-width: 991px) {
      order: 1;
    }
  }
  .order-img {
    @media (max-width: 991px) {
      order: 2;
    }
  }
}

.parallax {
  @media (min-width: 992px) {
    margin-top: -50px;
  }
  @media (max-width: 767px) {
    transform: none !important;
  }
}

.img-puzzle {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -7px;
  @media (min-width: 768px) {
    margin: -15px;
  }
  @media (min-width: 991px) {
    margin: -50px -15px -15px -15px;
  }
  &__item {
    width: 50%;
    padding: 7px;
    @media (min-width: 768px) {
      padding: 15px;
    }
  }


}

@media (min-width: 1600px) {
  .col-hd {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-hd-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-hd-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-hd-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-hd-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-hd-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-hd-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-hd-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-hd-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-hd-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-hd-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-hd-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-hd-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-hd-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-hd-0 {
    margin-left: 0%;
  }
  .offset-hd-1 {
    margin-left: 8.3333333333%;
  }
  .offset-hd-2 {
    margin-left: 16.6666666667%;
  }
  .offset-hd-3 {
    margin-left: 25%;
  }
  .offset-hd-4 {
    margin-left: 33.3333333333%;
  }
  .offset-hd-5 {
    margin-left: 41.6666666667%;
  }
  .offset-hd-6 {
    margin-left: 50%;
  }
  .offset-hd-7 {
    margin-left: 58.3333333333%;
  }
  .offset-hd-8 {
    margin-left: 66.6666666667%;
  }
  .offset-hd-9 {
    margin-left: 75%;
  }
  .offset-hd-10 {
    margin-left: 83.3333333333%;
  }
  .offset-hd-11 {
    margin-left: 91.6666666667%;
  }
}