.sale {
  padding-top: 30px;
  @media (min-width: 768px) {
    padding-top: 55px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__content {
    width: 100%;
    @media (min-width: 992px) {
      width: 50%;
      padding-right: 50px;
    }
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
  }
  &__status {
    width: 100%;
    @media (min-width: 992px) {
      width: 50%;
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-family: $font-family-futura;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 1.2;
    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 1600px) {
      font-size: 45px;
    }
  }
  &__desc {
    margin-bottom: 15px;
    a {
      color: $blue;
      border-bottom: 1px dashed $blue;
      transition: .2s;
      &:hover {
        color: $blue;
        text-decoration: none;
        border-color: transparent;
      }
    }
  }
  &__remark {
    list-style: none;
    padding: 20px 0 0;
    li {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      padding-left: 10px;
      margin-bottom: 30px;
      &:after {
        content: '';
        width: 2px;
        height: 70%;
        position: absolute;
        left: 0;
        top: 15%;
        background-color: $text-color;
      }
    }
  }
  &__status {
    width: 100%;
    position: relative;
    height: 420px;
    @media (min-width: 992px) {
      width: 50%;
    }
    &_rating {
      width: 68%;
      height: 6px;
      background-color: #e7edf3;
      position: absolute;
      top: 50%;
      left: 16%;
      margin-top: -3px;
      @media (min-width: 768px) {
        width: 81%;
        left: 8%;
      }
      &:before {
        content: '';
        width: 0;
        height: 100%;
        background-color: $blue;
        position: absolute;
        left: 0;
        top: 0;
      }
      &.-step_2 {
        &:before {
          width: 25%;
        }
      }
      &.-step_3 {
        &:before {
          width: 50%;
        }
      }
      &.-step_4 {
        &:before {
          width: 75%;
        }
      }
      &.-step_5 {
        &:before {
          width: 100%;
        }
      }
    }
    &_wrap {
      display: flex;
      justify-content: space-between;
      width: 85%;
      height: 100%;
      margin: 0 auto;
      @media (min-width: 768px) {
        margin: 0 -10px;
        width: 100%;
      }
    }
    &_item {
      width: 33.333%;
      height: 170px;
      text-align: center;
      padding: 0 5px;
      position: relative;
      @media (min-width: 768px) {
        padding: 0 10px;
      }
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5) {
        .sale__status_circle {
          top: auto;
          bottom: -49px;
        }
        .sale__status_inner {
          &:before {
            top: auto;
            bottom: -8px;
            border-top: 0;
            border-left: 0;
            border-bottom: 1px solid #e7edf3;
            border-right: 1px solid #e7edf3;
          }
        }
        &.-current {
          .sale__status_inner {
            &:before {
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
            }
          }
          .sale__status_circle {
            top: auto;
            bottom: -54px;
            &:before {
              content: '';
              width: 8px;
              height: 8px;
              background: $blue;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              margin: -4px 0 0 -4px;
            }
          }
          .sale__status_percent {
            color: $blue;
          }
          .sale__status_name {
            color: $blue;
          }
        }
      }
      &:nth-child(2),
      &:nth-child(4) {
        display: flex;
        align-self: flex-end;
      }
      .sale__status_inner {
        & > * {
          opacity: .3;
        }
      }
      &.-active {
        .sale__status_inner {
          & > * {
            opacity: 1;
          }
        }
        .sale__status_circle {
          background-color: $blue;
        }
      }
      &.-current {
        .sale__status_inner {
          box-shadow: 0 0 15px rgba(0, 0, 0, .1);
          border: 0;
          &:before {
            border: 0;
            box-shadow: -2px -2px 4px rgba(0, 0, 0, .05);
          }
        }
        .sale__status_circle {
          width: 30px;
          height: 30px;
          background-color: #fff;
          border: 1px solid #e7edf3;
          margin-left: -15px;
          top: -56px;
          padding: 10px;
          &:before {
            content: '';
            width: 8px;
            height: 8px;
            background: $blue;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -4px 0 0 -4px;
          }

        }
        .sale__status_percent {
          color: $blue;
        }
        .sale__status_name {
          color: $blue;
        }
      }
    }
    &_inner {
      height: 170px;
      margin: 0 auto;
      border: 1px solid #e7edf3;
      border-radius: 7px;
      background-color: #fff;
      padding: 20px 10px 20px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 768px) {
        width: 170px;
        padding: 30px 20px 25px;
      }
      &:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: -8px;
        transform: rotate(45deg);
        border-top: 1px solid #e7edf3;
        border-left: 1px solid #e7edf3;
      }
    }
    &_circle {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #e7edf3;
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: -49px;
      opacity: 1 !important;
    }
    &_percent {
      font-weight: 700;
      font-size: 21px;
      margin-bottom: 2px;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    &_name {
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 10px;
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
    &_desc {
      font-size: 11px;
      white-space: nowrap;
      @media (min-width: 768px) {
        font-size: 12px;
      }
    }
  }
}