.subscribe {
  background-image: url(../images/pattern_1.jpg);
  padding: 50px 0;
  margin-top: 50px;
  @media (min-width: 768px) {
    padding: 90px 0;
    margin-top: 90px;
  }
  &__wrap {
    background-color: #fff;
    padding: 50px 50px 30px;
    margin: 0 auto;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      padding: 70px 50px 40px;
    }
    @media (min-width: 992px) {
      padding: 70px 100px 40px;
      max-width: 1115px;
    }
  }

  &__text {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      width: 50%;
      margin-right: auto;
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: .8em;
    }
  }
  &__form {

    @media (min-width: 768px) {
      width: 50%;
      max-width: 360px;
    }
    .form {

      &__input {
        text-align: center;
      }
      &__btn {
        margin-top: 0;
      }
    }
  }
}