mixin card(value, count)
  .diagram
    .diagram__svg
      svg(viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg" data-value=value data-count=count)
        path( d="M200 182 218 195 213 218 187 218 182 195z" fill="transparent" stroke="#c5cbcf" stroke-width="1")
        g(class="diagram__line")
          text( x="168" y="25") Крепость
          path( d="M200 182 200 32" fill="transparent" stroke="#c5cbcf" stroke-width="1")
        g(class="diagram__line")
          text( x="379" y="164") Горечь
          path( d="M218 195 368 162" fill="transparent" stroke="#c5cbcf" stroke-width="1")
        g(class="diagram__line")
          text( x="300" y="373") Кислотность
          path( d="M213 218 285 368" fill="transparent" stroke="#c5cbcf" stroke-width="1")
        g(class="diagram__line")
          text( x="50" y="373") Аромат
          path( d="M187 218 115 368" fill="transparent" stroke="#c5cbcf" stroke-width="1")
        g(class="diagram__line")
          text( x="-15" y="164") Сладость
          path( d="M182 195 62 162" fill="transparent" stroke="#c5cbcf" stroke-width="1")