doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Casino Insure

    link(rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
    link(rel="manifest" href="images/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    // build:css styles/jquery.mCustomScrollbar.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    // endbuild

    // build:css styles/magnific-popup.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')
    // endbower
    // endbuild

    // build:css styles/jquery.mCustomScrollbar.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    // endbower
    // endbuild

    // build:css styles/slick.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick.css')
    // endbower
    // endbuild

    // build:css styles/fontawesome-stars-o.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/jquery-bar-rating/dist/themes/fontawesome-stars-o.css')
    // endbower
    // endbuild

    // build:css styles/bootstrap.css
    link(rel='stylesheet', href='styles/bootstrap.css')
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    a.e-donate(href="#" title="Donation")
      img(src="images/icons-svg/dollar.svg" width="50" height="50" alt="")
    a.e-gotoup(href="#")
    .l-page
      .l-page__content
        block content
      .l-page__footer
        include ../common/_footer
    block modals

    block scripts

    // build:js scripts/jquery.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/jquery.mousewheel.js
    // bower:js
    script(src='/bower_components/jquery-mousewheel/jquery.mousewheel.js')
    // endbower
    // endbuild

    // build:js scripts/jquery.mCustomScrollbar.js
    // bower:js
    script(src='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
    // endbower
    // endbuild

    // build:js scripts/jquery.magnific-popup.js
    // bower:js
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
    // endbower
    // endbuild

    // build:js scripts/slick/slick.js
    // bower:js
    script(src='/bower_components/slick-carousel/slick/slick.js')
    // endbower
    // endbuild

    // build:js scripts/slick/jquery.barrating.min.js
    // bower:js
    script(src='/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js')
    // endbower
    // endbuild

    // build:js scripts/jquery.validate.js
    // bower:js
    script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    // endbower
    // endbuild

    // build:js scripts/jquery.ui.widget.js
    // bower:js
    script(src='/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
    // endbower
    // endbuild

    // build:js scripts/swfobject.js
    // bower:js
    script(src='scripts/swfobject.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild