extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-error-page
        .row
          .col-sm-6.col-lg-5.col-lg-offset-1
            .b-error-page__content
              .b-error-page__header
                .b-error-page__title Oops... We can't find what you are looking for
                .b-error-page__sorry Sorry
              .b-error-page__remark use search or go to the home page
              .b-error-page__search
                include elements/_search
              .b-error-page__or or
              .b-error-page__btn
                a.btn.btn--paint(href="#") home
              .b-error-page__makecomplait
                a.e-makecomplait(href="#") make a complaint
          .col-sm-6.col-lg-5
            .b-error-page__img
              img(src="images/404.png" alt="404")



