extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .row
        .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
          .l-content__sidebar
            .l-content__sidebox
              include modules/_side-country
        .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
          .b-about
            .b-about__text
              h1 About Casino Insure
              h3 Be sure in your choice
              p Casino.Insure is the independent international gambling analytics project founded by dedicated specialists. We are responsible for the products that we offer to our players. Also we are liable to the casino and its players who visited our site! We strongly believe every side in the industry should act by honest in such way there will be no place for the fraudy players, fake casinos and dummy affiliates. We have created the platform for gamblers all over the world. We know the industry inside out and operate with facts. You can easily convince yourselves, all information on our website is transparent and unbiased.
              h3 Our mission
              p We do every impossible thing to provide interested users with the variety of choosing high quality trusted casinos. We offer user the opportunity to make complaints and help players to resolve it. We do our best to spread the information about dummy casinos. We are sure gamblers community should know every company which tricks gamblers. Our aims are to low the gaming risks, to compensate a part of gamblers' loses and to protect players from fraudulent casinos.
              h3 What is Casino.Insure platform?
              p Our platform has casino ratings; we have added detailed information about casinos. Our users can leave casino reviews. The same systems were built for casino bonuses and games. We keep the blog with gambling investigations, we post the fresh actual news about casino industry. We always ready to share with gamblers information about new promotions and lucky one who get a big win. Our next step will be financial system creating to insure gamblers who believe us and move with us in the same direction. We will insure player’s deposits and launch online casino cashback for every member of our community. We are sure all of that will help the gamblers' community to grow in the best way.
            .b-about__triggers
              .b-triggers
                .row
                  .col-md-6
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/1.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Community
                        p Players’ community is the engine of the industry. Our aim is to help it work fine. For that we need player’s opinions, reviews, fast communication, instructions how to act with casinos. Also we need a lot of tools and we have it. So, you are the engine and we are the vehicle. Only all together we can move our machine forward. Let’s do it!
                  .col-md-6
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/2.svg" alt="" width="42" height="44")
                      .b-triggers__content
                        h4 Reviews
                        p Reviews are like the sensors’ data in the car. It helps us to see the real situation with the casinos. Sure some times the sensors fuzzy and we see fake reviews that’s why we need data from each of you. Only the information sharing will help us get the truth.
                .row
                  .col-md-6
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/3.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Investigations
                        p Sometimes sensors fuzzy, but sometimes we sniff out that we are in the fake car. We couldn’t explain it, but we need to ask our credible friend or the specialist for the checking. We are both for you, we make investigations, based on facts and present you the results and our opinion. The rest is up to you.
                  .col-md-6
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/4.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Transparency
                        p Your wish to be sure 100% in the product is normal. That’s why all information which we collect is rechecking multiple times by developers, copywriters, marketing stuff. There is a dedicated team with gambling backgrounds in the Casino.Insure. We create and develop truly transparent machine for you.
                .row
                  .col-md-4
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/5.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Trust lists
                        p It is the result of our investigations. We provide you with the results and facts out of our investigations. We guarantee you will be safe with these casinos in other way we will help you to solve your problems and return your money.
                  .col-md-4
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/6.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Games
                        p The wish of something new is so typical for everybody. If you feel it you can always find new games on our website and play demos. We will even advice casinos for you, there you can play.
                  .col-md-4
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/7.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Bonuses
                        p We know that it is always a pleasure to use some boost while playing. Sometime you are out of money or you don’t want to risk. In both cases we provide you with enormous variety of bonuses and you can easily choose those which suit you more.
                .row
                  .col-md-4
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/8.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Tops
                        p Our tops are formed organically, And we proud about it. Only in such way players will get the truth opinion of the gamblers community who we can trust more. We create tops by various criteria and you can even see tops formed by players from your region.
                  .col-md-4
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/9.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 News
                        p We are always on the edge. We know how it is important to get fresh checked information. We provide you with industry news, information about investigations and new promotions, also you can see the blog, there we share our experience.
                  .col-md-4
                    .b-triggers__item
                      .b-triggers__icon
                        img(src="images/about/10.svg" alt="" width="50" height="40")
                      .b-triggers__content
                        h4 Complaints
                        p If you are in trouble, we are here to help you. Everyone should be treated equally and fairly. You can check for other players’ complaints and we do our best to make your experience painless.
