extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__header
        .b-nav
          .b-nav__container
            .b-nav__label BONUSES:
            button.b-nav__toggle(type="button")
            nav.b-nav__nav
              .b-nav__scroll
                ul.b-nav__list
                  li.b-nav__item
                    a.b-nav__link(href="#") All
                  li.b-nav__item
                    a.b-nav__link(href="#") FS
                  li.b-nav__item
                    a.b-nav__link(href="#") MATCH DEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") NODEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") EXCLUSIVE
                  li.b-nav__item
                    a.b-nav__link(href="#") WELCOME
                  li.b-nav__item
                    a.b-nav__link(href="#") CASHBACK
                  li.b-nav__item
                    a.b-nav__link(href="#") LOTTERY
                  li.b-nav__item
                    a.b-nav__link(href="#") JACKPOTS
                  li.b-nav__item
                    a.b-nav__link(href="#") 2ND DEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") 3RD DEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") FREE PLAY
                  li.b-nav__item
                    a.b-nav__link(href="#") HIGH ROLLER
                  li.b-nav__item
                    a.b-nav__link(href="#") RELOAD
                  li.b-nav__item
                    a.b-nav__link(href="#") TOURNAMENTS
      .l-content__all
        .b-intro.jsSeeMore
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
          .b-intro__more
            button.jsSeeMore__btn(type="button") see more
        .b-all
          .row
            .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
              .l-content__sidebar
                .l-content__sidebox
                  include elements/filters/_filters-bonuses-all
                .l-content__sidebox
                  include modules/_side-country
            .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
              .b-all__sorting
                .b-sorting
                  .b-sorting__box
                    a.b-sorting__item(href="#") by Date
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Rate
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Reviews
                      span.b-sorting__name
                      span.b-sorting__stairs
                  .b-sorting__country
                    span.b-sorting__name by Country rate:
                    .b-sorting__select
                      select
                        option(value="USA") USA
                        option(value="RUS") RUS
                        option(value="GER") GER
                        option(value="SPN") SPN
                  .b-sorting__result
                    span 10235 listed
                  .b-sorting__search
                    .e-search.js-search
                      form.e-search__form
                        input.e-search__input.js-search__input(type="text" name="search" placeholder="Search bonus...")
                        button.e-search__btn(type="button")
                        button.e-search__reset.js-search__reset(type="reset")
              .b-all__content
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
                .b-all__item
                  include elements/_e-bonuse
              .b-all__more
                button(type="button") see more <span>(3)</span>
