extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__header
        .b-nav
          .b-nav__container
            .b-nav__label BONUSES:
            button.b-nav__toggle(type="button")
            nav.b-nav__nav
              .b-nav__scroll
                ul.b-nav__list
                  li.b-nav__item
                    a.b-nav__link(href="#") All
                  li.b-nav__item
                    a.b-nav__link(href="#") FS
                  li.b-nav__item
                    a.b-nav__link(href="#") MATCH DEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") NODEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") EXCLUSIVE
                  li.b-nav__item
                    a.b-nav__link(href="#") WELCOME
                  li.b-nav__item
                    a.b-nav__link(href="#") CASHBACK
                  li.b-nav__item
                    a.b-nav__link(href="#") LOTTERY
                  li.b-nav__item
                    a.b-nav__link(href="#") JACKPOTS
                  li.b-nav__item
                    a.b-nav__link(href="#") 2ND DEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") 3RD DEPOSIT
                  li.b-nav__item
                    a.b-nav__link(href="#") FREE PLAY
                  li.b-nav__item
                    a.b-nav__link(href="#") HIGH ROLLER
                  li.b-nav__item
                    a.b-nav__link(href="#") RELOAD
                  li.b-nav__item
                    a.b-nav__link(href="#") TOURNAMENTS
        .b-intro.jsSeeMore
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
          .b-intro__more
            button.jsSeeMore__btn(type="button") see more
      .l-content__main
        .row
          .col-hd-9.col-lg-9.col-sm-6
            include modules/_internal-slider-bonuses
          .col-hd-3.col-lg-3.col-sm-6
            include modules/_side-country
          .hidden-lg.hidden-xs
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1-desctop.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label
                        span Blog
                      .e-main-slider__title Do you like to be aware? Read out the most exciting stories.
                    span.e-main-slider__btn.btn see more
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1-desctop.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label
                        span Jackpots
                      .e-main-slider__title Are you mates with Lady Fortune? Check out enormous jackpots!
                    span.e-main-slider__btn.btn see more
      .l-content__section
        .b-sections
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 Best New Casino Bonuses
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 Best bonuses
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
            .b-sections__banners
              .row
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
          .b-sections__section#section_all
            .b-sections__header
              .b-sections__title
                h2 all
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_fs
            .b-sections__header
              .b-sections__title
                h2 FREESPINS
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_matchdeposit
            .b-sections__header
              .b-sections__title
                h2 MATCH
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_nodeposit
            .b-sections__header
              .b-sections__title
                h2 NO DEPOSIT
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_welcom
            .b-sections__header
              .b-sections__title
                h2 WELCOME
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_exclisive
            .b-sections__header
              .b-sections__title
                h2 EXCLUSIVE
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_cashback
            .b-sections__header
              .b-sections__title
                h2 CASHBACK
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_lottery
            .b-sections__header
              .b-sections__title
                h2 LOTTERY
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_jackpots
            .b-sections__header
              .b-sections__title
                h2 JACKPOTS
                a(href="#") 1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_2nddeposit
            .b-sections__header
              .b-sections__title
                h2 NO DEPOSIT
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_3rddeposite
            .b-sections__header
              .b-sections__title
                h2 WELCOME
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_freeplay
            .b-sections__header
              .b-sections__title
                h2 EXCLUSIVE
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_matchposit2
            .b-sections__header
              .b-sections__title
                h2 CASHBACK
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_nodeposit2
            .b-sections__header
              .b-sections__title
                h2 LOTTERY
                a(href="#")  1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
          .b-sections__section#section_exclisive2
            .b-sections__header
              .b-sections__title
                h2 JACKPOTS
                a(href="#") 1256 bonuses
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse
              .b-sections__item
                include elements/_e-bonuse


