extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__header
        .b-nav.js-scrolltosection
          .b-nav__container
            .b-nav__label Casinos:
            button.b-nav__toggle(type="button")
            nav.b-nav__nav
              .b-nav__scroll
                ul.b-nav__list
                  li.b-nav__item
                    a.b-nav__link(href="#section_all") All
                  li.b-nav__item
                    a.b-nav__link(href="#section_mobile") mobile
                  li.b-nav__item
                    a.b-nav__link(href="#section_casinos") Vr casinos
                  li.b-nav__item
                    a.b-nav__link(href="#section_safety") SAFETY CHECK
                  li.b-nav__item
                    a.b-nav__link(href="#section_blacklisted") BLACKLISTED
        .b-intro.jsSeeMore
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
          .b-intro__more
            button.jsSeeMore__btn(type="button") see more
      .l-content__main
        .row
          .col-hd-9.col-lg-9.col-sm-6
            include modules/_internal-slider-casino
          .col-hd-3.col-lg-3.col-sm-6
            include modules/_side-country
          .hidden-lg.hidden-xs
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label Blog
                      .e-main-slider__title Don’t want to waste your money?<br>Try exclusive nodeposit packages
                    span.e-main-slider__btn.btn see more
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label Jackpots
                      .e-main-slider__title Make your play safety<br>and check casinos with us
                    span.e-main-slider__btn.btn see more
      .l-content__section
        .b-sections
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 Best online casinos
                a(href="#")  111 casino
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
            .b-sections__banners
              .row
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 all
                a(href="#")  111 casino
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 mobile
                a(href="#")  111 casino
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 VR CASINOS
                a(href="#")  111 casino
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 SAFETY CHECK
                a(href="#")  111 casino
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 BLACKLISTED
                a(href="#")  111 casino
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino
              .b-sections__item
                include elements/_e-casino


