extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-card
        .b-card__hero
          .b-hero(style="background-image: url(images/logo_bg.png)")
            .b-hero__logo
              .b-hero__logo-img
                img(src="images/logo_reel_emperor.png" alt="Reel Emperor Casino")
                .b-hero__logo-icon
                  img(src="images/safety.svg" width="60" height="44" alt="Safety")
              .b-hero__name Casino name
            .b-hero__info
              h1.b-hero__title Reel Emperor Casino
              .b-hero__text
                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of...
        .b-card__container
          .row
            .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
              .b-card__sidebar
                .b-card__sidebox
                  include modules/_side-country
            .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
              .b-card__topmenu
                .b-topmenu
                  .b-topmenu__container
                    .b-topmenu__nav
                      .b-topmenu__logo
                        img(src="images/logo_reel_emperor.png" alt="")
                      ul.b-topmenu__list
                        li.b-topmenu__item.-active
                          a.b-topmenu__link(href="#details") Details
                        li.b-topmenu__item
                          a.b-topmenu__link(href="#reviews") Comments  <span>(15)</span>
                        li.b-topmenu__item
                          a.b-topmenu__link(href="#complaints") Other Complaints <span>(1)</span>
                    .b-topmenu__btns
                      a.btn.open-modals(href="#add_comments") ADD REVIEW
                      a.b-topmenu__addtofaw(href="#") ADD TO FAVOURITES
                    .b-topmenu__btns-fixed
                      a.btn.btn--paint.open-modals(href="#add_comments") ADD REVIEW
              .b-card__content
                .b-card__section#details
                  .b-intro.jsSeeMore
                    .b-intro__header
                      .b-intro__title
                        h2 DETAILes
                    .b-intro__desc.jsSeeMore__desc
                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes
                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                    .b-intro__more
                      button.jsSeeMore__btn(type="button") see more
                .b-card__section#reviews
                  h2 comments
                  .b-card__comments
                    .b-comments
                      .b-comments__box
                        .b-comments__user
                          .b-comments__user-photo
                            img(src="images/user.jpg" width="70" height="70" alt="")
                          .b-comments__user-country(style="background-image: url(images/language/english.svg)")
                          .b-comments__user-name Nick Name
                          .b-comments__user-reviews casino insure
                        .b-comments__main
                          .b-comments__content
                            .b-comments__date posted: 02.03.2017
                            .b-comments__desc
                              .b-comments__desc-hidden
                                .b-comments__desc-text
                                  p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino.Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                            .b-comments__gallery.jsGallery
                              .b-comments__gallery-item
                                a.b-comments__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-comments__gallery-item
                                a.b-comments__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-comments__gallery-item
                                a.b-comments__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-comments__gallery-item
                                a.b-comments__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                      .b-comments__box
                        .b-comments__user
                          .b-comments__user-photo
                            img(src="images/user.jpg" width="70" height="70" alt="")
                          .b-comments__user-country(style="background-image: url(images/language/english.svg)")
                          .b-comments__user-name Nick Name
                          .b-comments__user-reviews name casino
                        .b-comments__main
                          .b-comments__content
                            .b-comments__date posted: 02.03.2017
                            .b-comments__desc
                              .b-comments__desc-hidden
                                .b-comments__desc-text
                                  p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino.Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                      .b-comments__box
                        .b-comments__user
                          .b-comments__user-photo
                            img(src="images/user.jpg" width="70" height="70" alt="")
                          .b-comments__user-country(style="background-image: url(images/language/english.svg)")
                          .b-comments__user-name Nick Name
                          .b-comments__user-reviews
                        .b-comments__main
                          .b-comments__content
                            .b-comments__date posted: 02.03.2017
                            .b-comments__desc
                              .b-comments__desc-hidden
                                .b-comments__desc-text
                                  p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino.Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                    .b-card__more
                      button(type="button") see more <span>(8)</span>
                .b-card__section#complaints
                  h2 OTHER COMPLAINTS
                  .b-card__sorting
                    .b-sorting
                      .b-sorting__box
                        .b-sorting__item
                          span.b-sorting__name Resolved:
                          span.b-sorting__value 4 of 10
                        .b-sorting__item
                          span.b-sorting__name Avg response:
                          span.b-sorting__value 3 days
                        .b-sorting__item
                          span.b-sorting__name Avg compliant life:
                          span.b-sorting__value 10 days
                        .b-sorting__item
                          span.b-sorting__name Avg amount:
                          span.b-sorting__value 300 euros
                      .b-sorting__result
                        span 164 complaints
                  .b-card__complaints
                    .b-card__complaints-container
                      .b-card__complaints-item
                        include elements/_complaint/_e-complaint-red
                      .b-card__complaints-item
                        include elements/_complaint/_e-complaint-yellow
                      .b-card__complaints-item
                        include elements/_complaint/_e-complaint-green
                      .b-card__complaints-item
                        include elements/_complaint/_e-complaint-black
                    .b-card__more
                      button(type="button") see more <span>(8)</span>
                .b-card__section
                  .b-card__trouble
                    .b-trouble
                      .b-trouble__text Have a trouble?
                      .b-trouble__btns
                        a.btn.btn--paint(href="#") make a complaint
                        a.btn(href="#") faq
block modals
  include popup/_add_comment