extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__all
        .b-intro.jsSeeMore
          h2 Online Casino Complaints
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
          .b-intro__more
            button.jsSeeMore__btn(type="button") Show more
        .b-all
          .row
            .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
              .l-content__sidebar
                .l-content__sidebox
                  include modules/_side-country
            .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
              .b-all__trouble
                .b-all__trouble-quest TROUBLES WITH A CASINO?
                .b-all__trouble-desc WE HELPED 6719 PLAYERS RETURN
                .b-all__trouble-number $12,262,735
                .b-all__trouble-desc THROUGH OUR CASINO COMPLAINTS SERVICE
                .b-all__trouble-btn
                  a.btn.btn--paint(href="#") SUBMIT A COMPLAINT
              .b-all__sorting
                .b-sorting
                  .b-sorting__box
                    .b-sorting__item
                      .b-sorting__country
                        span.b-sorting__name by status
                        .b-sorting__select
                          select
                            option(value="n progress") n progress
                            option(value="n progress 1") n progress 1
                            option(value="n progress 2") n progress 2
                            option(value="n progress 3") n progress 3
                    a.b-sorting__item(href="#") by Date
                      span.b-sorting__name
                      span.b-sorting__stairs
                  .b-sorting__result
                    span 164 complaints
              .b-all__content
                .b-all__item
                  include elements/_complaint/_e-complaint-red
                .b-all__item
                  include elements/_complaint/_e-complaint-yellow
                .b-all__item
                  include elements/_complaint/_e-complaint-green
                .b-all__item
                  include elements/_complaint/_e-complaint-black
                .b-all__item
                  include elements/_complaint/_e-complaint-red
                .b-all__item
                  include elements/_complaint/_e-complaint-yellow
                .b-all__item
                  include elements/_complaint/_e-complaint-green
                .b-all__item
                  include elements/_complaint/_e-complaint-black
              .b-all__more
                button(type="button") see more <span>(3)</span>