extends layouts/default

block content

  include common/_header
  .l-content.-contacts
    .container
      .row
        .col-hd-4.col-lg-4.col-md-6
          .b-contacts
            .b-contacts__title
              h3 Contact us
            .b-contacts__form
              form.b-form
                .b-form__row
                  .b-form__half
                    label.b-form__label Name
                    .b-form__field
                      input.b-form__input(type="text" name="name" required)
                  .b-form__half
                    label.b-form__label Email
                    .b-form__field
                      input.b-form__input(type="email" name="email" required)
                .b-form__row
                  .b-form__half
                    label.b-form__label Country
                    .b-form__field
                      input.b-form__input(type="text" name="country" required)
                  .b-form__half
                    label.b-form__label Phone
                    .b-form__field
                      input.b-form__input(type="tel" name="phone" required)
                .b-form__row
                  label.b-form__label Message
                  .b-form__field
                    textarea.b-form__textarea(name="message")
                .b-contacts__bottom
                  .b-contacts__btn
                    button.btn.btn--paint(type="submit") submit
                  .b-contacts__phone
                    .e-phone
                      .e-phone__icon
                        img(src="images/icons-svg/phone-green.svg" width="14" height="14" alt="")
                      a.e-phone__number(href="tel:+5 545-844-1500") +5 545-844-1500
                  .b-contacts__social
                    .e-social
                      .e-social__remark Follow us on social networks
                      .e-social__box
                        a.e-social__link(href="#")
                          img(src="images/social/instagram.svg" width="18" height="18" alt="")
                        a.e-social__link(href="#")
                          img(src="images/social/twitter.svg" width="18" height="18" alt="")
                        a.e-social__link(href="#")
                          img(src="images/social/facebook.svg" width="18" height="18" alt="")
                        a.e-social__link(href="#")
                          img(src="images/social/google-plus.svg" width="18" height="18" alt="")
        .col-hd-5.col-lg-5.col-md-6
          .b-map
            .b-map__container
              .b-map__map#map
            .b-map__contacts
              .b-map__col
                .b-map__row
                  .b-map__label Support:
                  a.b-map__value(href="mailto:support@casino.insure") support@casino.insure

                .b-map__row
                  .b-map__label Complaint:
                  a.b-map__value(href="mailto:complaint@casino.insure") complaint@casino.insure
                .b-map__row
                  .b-map__label Partnerships:
                  a.b-map__value(href="mailto:affilate@casino.insure") affilate@casino.insure
              .b-map__col
                .b-map__row
                  .b-map__label Finance:
                  a.b-map__value(href="mailto:finance@casino.insure") finance@casino.insure
                .b-map__row
                  .b-map__label Sales
                  a.b-map__value(href="mailto:sales@casino.insure") sales@casino.insure
                .b-map__row
                  .b-map__label Jobs:
                  a.b-map__value(href="mailto:hr@casino.insure") hr@casino.insure

        .col-hd-3.col-lg-3.col-md-12
          include modules/_side-country

block scripts
  script(type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_DWi7Ob2hyPFbOWai7YOX84glaAs0wtQ&callback=initMap")
  script(type="text/javascript").
      function initMap() {

        var coord = new google.maps.LatLng(48.862836, 2.355457);
        var map = new google.maps.Map(document.getElementById('map'), {
          center: coord,
          zoom: 16,
          scrollwheel: false,
          styles: [
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e9e9e9"
                },
                {
                  "lightness": 17
                }
              ]
            },
            {
              "featureType": "landscape",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f5f5f5"
                },
                {
                  "lightness": 20
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#ffffff"
                },
                {
                  "lightness": 17
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#ffffff"
                },
                {
                  "lightness": 29
                },
                {
                  "weight": 0.2
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ffffff"
                },
                {
                  "lightness": 18
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ffffff"
                },
                {
                  "lightness": 16
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f5f5f5"
                },
                {
                  "lightness": 21
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dedede"
                },
                {
                  "lightness": 21
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "visibility": "on"
                },
                {
                  "color": "#ffffff"
                },
                {
                  "lightness": 16
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "saturation": 36
                },
                {
                  "color": "#333333"
                },
                {
                  "lightness": 40
                }
              ]
            },
            {
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "transit",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f2f2f2"
                },
                {
                  "lightness": 19
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#fefefe"
                },
                {
                  "lightness": 20
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#fefefe"
                },
                {
                  "lightness": 17
                },
                {
                  "weight": 1.2
                }
              ]
            }
          ]
        });

        var image = {
          url: 'images/marker.png',
          size: new google.maps.Size(20, 30),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(10, 30)
        };

        var contentString = '<div class="b-map__infowindow">15 Rue de Montmorency<br>75003 Paris</div>';

        var infoWindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: coord,
          map: map,
          title: '15 Rue de Montmorency 75003 Paris',
          icon: image
        });

        marker.addListener('click', function () {
          infoWindow.open(map, marker);
        });

        infoWindow.open(map, marker);
      }
