extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-card
        .b-card__container
          .row
            .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
              .b-card__sidebar
                .b-card__sidebox
                  include modules/_side-play
                .b-card__sidebox
                  .b-filter.js-side
                    .b-filter__header.js-side__btn games INFO
                    .b-filter__content.js-side__content
                      .b-filter__row
                        a.b-filter__name(href="#") Type
                        .b-filter__hidden
                          .b-filter__text Type
                      .b-filter__row
                        a.b-filter__name(href="#") Software
                        .b-filter__hidden
                          .b-filter__text Software
                      .b-filter__row
                        a.b-filter__name(href="#") Minimum bet
                        .b-filter__hidden
                          .b-filter__text Minimum bet
                      .b-filter__row
                        a.b-filter__name(href="#") Maximub bet
                        .b-filter__hidden
                          .b-filter__text 500$
                .b-card__sidebox
                  include modules/_side-country
            .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
              .b-card__hero
                .b-hero(style="background-image: url(images/logo_bg.png)")
                  .b-hero__logo
                    .b-hero__logo-img
                      img(src="images/logo_reel_emperor.png" alt="Reel Emperor Casino")
                      .b-hero__logo-notactual not actual
                  .b-hero__info
                    h1.b-hero__title GAME NAME
                    .b-hero__rate Rate:
                      .e-rating.-read
                        select(name="rating" data-current-rating="8.5")
                          option(value="1") 1
                          option(value="2") 2
                          option(value="3") 3
                          option(value="4") 4
                          option(value="5") 5
                          option(value="6") 6
                          option(value="7") 7
                          option(value="8") 8
                          option(value="9") 9
                          option(value="10") 10
                        span.e-rating__value
                    .b-hero__remark based on 1390 Reviews
                    .b-hero__btns
                      a.btn.btn--paint.btn--blue(href="#") Play the demo
                  a.b-hero__video.jsPopupVideo(href="https://www.youtube.com/watch?v=N6D0xW1MhRk")
                    img(src="images/poster_reel_emperor.jpg" alt="")
                    span YouTube Review
              .b-card__gameslist
                h3 TRY OTHER GAMES
                .b-gameslist
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/1.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/2.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/3.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/4.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/5.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/6.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/7.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/8.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/9.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/10.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/11.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/12.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/13.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/14.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/1.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/5.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/7.jpg" alt="Name Game")
                      .b-gameslist__name Games name
                  .b-gameslist__item
                    a.b-gameslist__link(href="#")
                      .b-gameslist__img
                        img(src="images/gameslist/10.jpg" alt="Name Game")
                      .b-gameslist__name Games name
              .b-card__topmenu
                .b-topmenu
                  .b-topmenu__container
                    .b-topmenu__nav
                      .b-topmenu__logo
                        img(src="images/logo_reel_emperor.png" alt="")
                      ul.b-topmenu__list
                        li.b-topmenu__item.-active
                          a.b-topmenu__link(href="#details") Details
                        li.b-topmenu__item
                          a.b-topmenu__link(href="#reviews") Reviews <span>(15)</span>
                        li.b-topmenu__item
                          a.b-topmenu__link(href="#winnings") WIN`S SHARING <span>(1)</span>
                        li.b-topmenu__item
                          a.b-topmenu__link(href="#bonuses") Bonuses <span>(1)</span>
                    .b-topmenu__btns
                      a.btn.open-modals(href="#add_review") ADD REVIEW
                      a.b-topmenu__addtofaw(href="#") ADD TO FAVOURITES
                    .b-topmenu__btns-fixed
                      a.btn(href="#") Play the demo
                      a.btn.btn--paint.open-modals(href="#add_review") ADD REVIEW
              .b-card__content
                .b-card__section#details
                  .b-intro.jsSeeMore
                    .b-intro__header
                      .b-intro__title
                        h2 GAME NAME DETAILED REVIEW
                    .b-intro__desc.jsSeeMore__desc
                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes
                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                    .b-intro__more
                      button.jsSeeMore__btn(type="button") see more
                .b-card__section#reviews
                  h2 Game reviews
                  .b-card__sorting.-testim
                    .b-sorting
                      .b-sorting__box
                        a.b-sorting__item(href="#") by Date
                          span.b-sorting__name
                          span.b-sorting__stairs
                        a.b-sorting__item(href="#") by Rate
                          span.b-sorting__name
                          span.b-sorting__stairs
                        .b-sorting__country
                          span.b-sorting__name by Country:
                          .b-sorting__select
                            select
                              option(value="USA") USA
                              option(value="RUS") RUS
                              option(value="GER") GER
                              option(value="SPN") SPN
                      .b-sorting__result
                        span 164 reviews
                  .b-card__testim
                    .b-testim
                      .b-testim__box
                        .b-testim__user
                          .b-testim__user-photo
                            img(src="images/user.jpg" width="70" height="70" alt="")
                          .b-testim__user-country(style="background-image: url(images/language/english.svg)")
                          .b-testim__user-name Nick Name
                          .b-testim__user-reviews 77 Reviews
                        .b-testim__main
                          .b-testim__header
                            .b-testim__header-left
                              .b-testim__counter.-default
                                button.b-testim__counter-up
                                span.b-testim__counter-value +15
                                button.b-testim__counter-down
                              .b-testim__rate
                                span.b-testim__rate-date Review date: 22\03\2017
                                .e-rating.-read
                                  select(name="rating" data-current-rating="8.5")
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10
                                  span.e-rating__value
                            .b-testim__header-right
                              .b-testim__reprew
                                .e-reprew
                                  button.e-reprew__toggle(type="button") Report review
                                  .e-reprew__dropdown
                                    .e-reprew__header Why are you reporting this review?
                                    .e-reprew__content
                                      ul.e-reprew__list
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Offensive language" id="offensive_language_1")
                                            label.e-checkbox__label(for="offensive_language_1") Offensive language
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Spam" id="spam_1")
                                            label.e-checkbox__label(for="spam_1") Spam
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Manipulative statements" id="manipulative_statements_2")
                                            label.e-checkbox__label(for="manipulative_statements_2") Manipulative statements
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Fake" id="fake_1")
                                            label.e-checkbox__label(for="fake_1") Fake
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Other" id="other_1")
                                            label.e-checkbox__label(for="other_1") Other

                                      .e-reprew__btn
                                        a.btn(href="#") Report
                          .b-testim__content
                            .b-testim__desc
                              .b-testim__desc-hidden
                                .b-testim__desc-text
                                  p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino.Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                            .b-testim__asses
                              .b-testim__asses-positive
                                .b-testim__desc
                                  .b-testim__desc-hidden
                                    .b-testim__desc-text
                                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes. Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                              .b-testim__asses-negative
                                .b-testim__desc
                                  .b-testim__desc-hidden
                                    .b-testim__desc-text
                                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players
                            .b-testim__gallery.jsGallery
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                      .b-testim__box
                        .b-testim__user
                          .b-testim__user-photo
                            img(src="images/user.jpg" width="70" height="70" alt="")
                          .b-testim__user-country(style="background-image: url(images/language/english.svg)")
                          .b-testim__user-name Nick Name
                          .b-testim__user-reviews 77 Reviews
                        .b-testim__main
                          .b-testim__header
                            .b-testim__header-left
                              .b-testim__counter.-default
                                button.b-testim__counter-up
                                span.b-testim__counter-value -10
                                button.b-testim__counter-down
                              .b-testim__rate
                                span.b-testim__rate-date Review date: 22\03\2017
                                .e-rating.-read
                                  select(name="rating" data-current-rating="4.7")
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10
                                  span.e-rating__value
                            .b-testim__header-right
                              .b-testim__reprew
                                .e-reprew
                                  button.e-reprew__toggle(type="button") Report review
                                  .e-reprew__dropdown
                                    .e-reprew__header Why are you reporting this review?
                                    .e-reprew__content
                                      ul.e-reprew__list
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Offensive language" id="offensive_language_2")
                                            label.e-checkbox__label(for="offensive_language_2") Offensive language
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Spam" id="spam_2")
                                            label.e-checkbox__label(for="spam_2") Spam
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Manipulative statements" id="manipulative_statements_1")
                                            label.e-checkbox__label(for="manipulative_statements_1") Manipulative statements
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Fake" id="fake_2")
                                            label.e-checkbox__label(for="fake_2") Fake
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Other" id="other_2")
                                            label.e-checkbox__label(for="other_2") Other

                                      .e-reprew__btn
                                        a.btn(href="#") Report
                          .b-testim__content
                            .b-testim__desc
                              .b-testim__desc-hidden
                                .b-testim__desc-text
                                  p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                            .b-testim__asses
                              .b-testim__asses-positive
                                .b-testim__desc
                                  .b-testim__desc-hidden
                                    .b-testim__desc-text
                                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                              .b-testim__asses-negative
                                .b-testim__desc
                                  .b-testim__desc-hidden
                                    .b-testim__desc-text
                                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players
                            .b-testim__gallery.jsGallery
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                      .b-testim__box
                        .b-testim__user
                          .b-testim__user-photo
                            img(src="images/user.jpg" width="70" height="70" alt="")
                          .b-testim__user-country(style="background-image: url(images/language/english.svg)")
                          .b-testim__user-name Nick Name
                          .b-testim__user-reviews 77 Reviews
                        .b-testim__main
                          .b-testim__header
                            .b-testim__header-left
                              .b-testim__counter.-default
                                button.b-testim__counter-up
                                span.b-testim__counter-value 0
                                button.b-testim__counter-down
                              .b-testim__rate
                                span.b-testim__rate-date Review date: 22\03\2017
                                .e-rating.-read
                                  select(name="rating" data-current-rating="4.7")
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10
                                  span.e-rating__value
                            .b-testim__header-right
                              .b-testim__reprew
                                .e-reprew
                                  button.e-reprew__toggle(type="button") Report review
                                  .e-reprew__dropdown
                                    .e-reprew__header Why are you reporting this review?
                                    .e-reprew__content
                                      ul.e-reprew__list
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Offensive language" id="offensive_language_3")
                                            label.e-checkbox__label(for="offensive_language_3") Offensive language
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Spam" id="spam_3")
                                            label.e-checkbox__label(for="spam_3") Spam
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Manipulative statements" id="manipulative_statements_3")
                                            label.e-checkbox__label(for="manipulative_statements_3") Manipulative statements
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Fake" id="fake_3")
                                            label.e-checkbox__label(for="fake_3") Fake
                                        li.e-reprew__item
                                          .e-checkbox
                                            input.e-checkbox__input(type="checkbox" name="Other" id="other_3")
                                            label.e-checkbox__label(for="other_3") Other
                                      .e-reprew__btn
                                        a.btn(href="#") Report
                          .b-testim__content
                            .b-testim__desc
                              .b-testim__desc-hidden
                                .b-testim__desc-text
                                  p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                            .b-testim__asses
                              .b-testim__asses-positive
                                .b-testim__desc
                                  .b-testim__desc-hidden
                                    .b-testim__desc-text
                                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                              .b-testim__asses-negative
                                .b-testim__desc
                                  .b-testim__desc-hidden
                                    .b-testim__desc-text
                                      p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players
                            .b-testim__gallery.jsGallery
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                              .b-testim__gallery-item
                                a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                    .b-card__more
                      button(type="button") see more <span>(8)</span>
                .b-card__section#winnings
                  .b-card__section-header
                    .b-card__section-title
                      h2 Slot name winning screenshots
                    .b-card__section-remark
                      span.b-card__section-result 164 winnings
                  .b-card__winnings
                    .b-card__winnings-container
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                      .b-card__winnings-item
                        include elements/_e-winnings
                    .b-card__more
                      button(type="button") see more <span>(8)</span>
                .b-card__section
                  .b-card__trouble
                    .b-trouble
                      .b-trouble__text Share your luck with the world
                      .b-trouble__btns
                        a.btn.btn--paint.btn--upload(href="#") upload screenshot

                .b-card__section#bonuses
                  h2 reel emperor CASINO bonuses
                  .b-card__sorting
                    .b-sorting
                      .b-sorting__box
                        a.b-sorting__item(href="#")
                          span.b-sorting__name by Rate
                          span.b-sorting__stairs
                        a.b-sorting__item(href="#")
                          span.b-sorting__name by Date
                          span.b-sorting__stairs
                      .b-sorting__result
                        span 164 bonuses
                  .b-card__bonuses
                    .b-card__bonuses-container
                      .b-card__bonuses-item
                        include elements/_e-bonuse
                      .b-card__bonuses-item
                        include elements/_e-bonuse
                      .b-card__bonuses-item
                        include elements/_e-bonuse
                      .b-card__bonuses-item
                        include elements/_e-bonuse
                    .b-card__more
                      button(type="button") see more <span>(8)</span>
block modals
  include popup/_add_review