extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__header
        .b-nav.js-scrolltosection
          .b-nav__container
            .b-nav__label Games:
            button.b-nav__toggle(type="button")
            nav.b-nav__nav
              .b-nav__scroll
                ul.b-nav__list
                  li.b-nav__item
                    a.b-nav__link(href="#section_all") All
                  li.b-nav__item
                    a.b-nav__link(href="#section_slots") slots
                  li.b-nav__item
                    a.b-nav__link(href="#section_roullets") ROULLETS
                  li.b-nav__item
                    a.b-nav__link(href="#section_table") table
                  li.b-nav__item
                    a.b-nav__link(href="#section_live") live
        .b-intro.jsSeeMore
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
          .b-intro__more
            button.jsSeeMore__btn(type="button") see more
      .l-content__main
        .row
          .col-hd-9.col-lg-9.col-sm-6
            include modules/_internal-slider-games
          .col-hd-3.col-lg-3.col-sm-6
            include modules/_side-country
          .hidden-lg.hidden-xs
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1-desctop.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label Blog
                      .e-main-slider__title Don’t want to waste your money?<br>Try exclusive nodeposit packages
                    span.e-main-slider__btn.btn see more
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1-desctop.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label Jackpots
                      .e-main-slider__title Make your play safety<br>and check casinos with us
                    span.e-main-slider__btn.btn see more
      .l-content__section
        .b-sections
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 best games
                a(href="#")  1256 games
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
            .b-sections__banners
              .row
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
          .b-sections__section#section_all
            .b-sections__header
              .b-sections__title
                h2 all
                a(href="#")  1256 games
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
          .b-sections__section#section_slots
            .b-sections__header
              .b-sections__title
                h2 slots
                a(href="#")  1256 games
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
          .b-sections__section#section_roullets
            .b-sections__header
              .b-sections__title
                h2 ROULLETS
                a(href="#")  1256 games
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
          .b-sections__section#section_table
            .b-sections__header
              .b-sections__title
                h2 table
                a(href="#")  1256 games
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
          .b-sections__section#section_live
            .b-sections__header
              .b-sections__title
                h2 live
                a(href="#")  1256 games
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games
              .b-sections__item
                include elements/_e-games


