extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__main
        .row
          .col-hd-6.col-hd-push-3.col-lg-push-3.col-sm-6
            include modules/_main-slider
          .col-hd-3.col-hd-pull-6.col-lg-3.col-lg-pull-6.col-sm-6
            include modules/_side-world
          .col-hd-3.col-lg-3.col-sm-6
            include modules/_side-country
      .l-content__home
        .b-home
          .b-home__section
            .b-home__header
              .b-home__title
                h2 New Games
                a(href="#") 1256 games
              .b-home__btn
                a.btn.btn--more(href="#") see more
            .b-home__content
              .b-games
                .b-games__item
                  include elements/_e-games
                .b-games__item
                  include elements/_e-games
                .b-games__item
                  include elements/_e-games
                .b-games__item
                  include elements/_e-games
                .b-games__item
                  include elements/_e-games
          .b-home__section
            .b-home__header
              .b-home__title
                h2 Latest News
                a(href="#") 125 news
              .b-home__btn
                a.btn.btn--more(href="#") see more
            .b-home__content
              .b-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
          .b-home__section
            .b-home__header
              .b-home__title
                h2 Blacklisted
                a(href="#") 111 casino
              .b-home__btn
                a.btn.btn--more(href="#") see more
            .b-home__content
              .b-blacklisted
                .b-blacklisted__item
                  include elements/_e-casino
                .b-blacklisted__item
                  include elements/_e-casino
                .b-blacklisted__item
                  include elements/_e-casino
                .b-blacklisted__item
                  include elements/_e-casino
                .b-blacklisted__item
                  include elements/_e-casino


