doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Casino Insure

    link(rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
    link(rel="manifest" href="images/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    // build:css styles/bootstrap.css
    link(rel='stylesheet', href='styles/bootstrap.css')
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    style.
      .b-index {
        padding: 50px 10px;
      }

      .b-index__container {
        background-color: #fff;
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        padding: 110px 15px 30px;
        background-image: url(images/logo.svg);
        background-position: center top 25px;
        background-repeat: no-repeat;
        background-size: 260px;
      }

      @media (min-width: 768px) {
        .b-index__container {
          padding: 50px;
          background-position: left 350px top 25px;
        }
      }

      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #43b748;
        list-style-position: inside;
      }

      li {
        margin-bottom: 7px;
      }

      a {
        font-size: 18px;
        color: #151515;
        border-bottom: 1px solid transparent;
        line-height: 1;
        transition: .2s;
      }

      a:hover {
        color: #151515;
        border-color: #8a8a8a;
      }

    .b-index
      .b-index__container
        ol
          li
            a(href='home.html') Home page
          li
            a(href='home-new-year.html') Home page New Year
          li
            a(href='home-profile.html') Home page - Profile
          li
            a(href='profile.html') Profile
          li
            a(href='contacts.html') Contacts
          li
            a(href='text-page.html') Text page
          li
            a(href='bonuses.html') Bonuses
          li
            a(href='casino.html') Casino
          li
            a(href='games.html') Games
          li
            a(href='news.html') News
          li
            a(href='bonuses_all.html') Bonuses all
          li
            a(href='games_all.html') Games all
          li
            a(href='games_slots.html') Games slots
          li
            a(href='news_all.html') News all
          li
            a(href='casino_all.html') Casino all
          li
            a(href='complaints_all.html') Complaints all
          li
            a(href='casino_card.html') Casino card
          li
            a(href='bonuses_card.html') Bonusess card
          li
            a(href='games_card.html') Games card
          li
            a(href='complaint_card.html') Complaint card
          li
            a(href='404.html') 404 page
          li
            a(href='about.html') About
          li
            a(href='tops.html') Tops
          li
            a(href='news-more.html') News page
          li
            a(href='make_a_complaint.html') Make a complaint
          li
            a(href='faq.html') FAQ
          li
            a(href='user.html') User
          li
            a(href='jobs.html') Jobs
