extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-jobs
        .row
          .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
            .b-jobs__sidebar
              .b-jobs__sidebox
                include modules/_side-country
          .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
              .b-jobs__header
                .b-jobs__title
                  h2 Jobs
                .b-jobs__warning
                  p Now we have no free vacancies. Nevertheless, feel free to send us your CV. We'd love to consider you.
              .b-jobs__form
                form.b-form
                  .row
                    .col-md-8
                      .row
                        .col-sm-6
                          .b-form__row
                            .b-form__field
                              label.b-form__label Name
                              input.b-form__input(type="text" name="name")
                        .b-form__row.col-sm-6
                          .b-form__field
                            label.b-form__label Email
                            input.b-form__input(type="email" name="email")
                      .row
                        .col-sm-4
                          .b-form__row
                            .b-form__filed
                              label.b-form__label Country
                              input.b-form__input(type="text" name="country")
                        .col-sm-4
                          .b-form__row
                            .b-form__field
                              label.b-form__label Phone
                              input.b-form__input(type="tel" name="phone")
                        .col-sm-4
                          .b-form__row
                            .b-form__field
                              label.b-form__label Main specialization
                              input.b-form__input(type="text" name="main_specialization")
                      .row
                        .col-xs-12
                          .b-form__row
                            .b-form__field
                              label.b-form__label Country
                              textarea.b-form__textarea(name="Message" placeholder="Please, leave here any comments.")
                    .col-md-4
                      .b-form__row
                        .b-form__attpdf
                          label.b-form__attpdf-label
                            input.b-form__attpdf-input(type="file" name="PDF")
                            span.b-form__attpdf-text Please, attach your .pdf CV here.
                            span.b-form__attpdf-link upload CV
                  .row
                    .col-xs-12
                      .b-form__btn
                        button.btn.btn--paint(type="submit") Send CV
block modals
  include popup/_add_review