extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-makeacomp
        .b-makeacomp__trouble
          .b-trouble
            .b-trouble__text
              h2 Have a trouble? We will help you!
            .b-trouble__select.js-drop
              button.b-trouble__select-btn.js-drop__btn(type="button") Choose your inquiry subject
              .b-trouble__select-dropdown.js-drop__dropdown
                .b-trouble__select-scroll.mCustomScrollbar
                  .b-trouble__select-container
                    .b-trouble__select-box
                      .b-trouble__select-title Payment
                      ul.b-trouble__select-list
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Delayed payment
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Verification issues
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Declined payment
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Refund payment
                    .b-trouble__select-box
                      .b-trouble__select-title Bonuses
                      ul.b-trouble__select-list
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus terms violation
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus not given
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus abuse
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus removal
                    .b-trouble__select-box
                      .b-trouble__select-title Software
                      ul.b-trouble__select-list
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Wrong calculations
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Wrong calculations
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Wrong calculations
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Wrong calculations
                    .b-trouble__select-box
                      .b-trouble__select-title Payment
                      ul.b-trouble__select-list
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Delayed payment
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Verification issues
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Declined payment
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Refund payment
                    .b-trouble__select-box
                      .b-trouble__select-title Bonuses
                      ul.b-trouble__select-list
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus terms violation
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus not given
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus abuse
                        li.b-trouble__select-item
                          a.b-trouble__select-link(href="#") - Bonus removal
            .b-trouble__or or
            .b-trouble__faq
              a(href="#") FAQ
        .b-makeacomp__help
          .b-makeacomp__help-row
            h3 Fill in the complaint form
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          .b-makeacomp__help-row
            h3 Reasons:
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          .b-makeacomp__help-row
            h3 FAQ:
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        .b-makeacomp__container
          .b-makeacomp-title
            h2 Fill in the complaint form
          .b-makeacomp__form
            .row
              .col-hd-6.col-lg-8.col-md-10
                form.b-form
                  .b-form__row
                    .b-form__half
                      .b-form__field
                        label.b-form__label Title
                        input.b-form__input(type="text" name="title" placeholder="250 characters left")
                    .b-form__half
                      .b-form__field
                        label.b-form__label Name casino
                        select.b-form__select(name="name-casino")
                          option(value="") Select the Casino
                          option(value="1") 1
                          option(value="2") 2
                          option(value="3") 3
                          option(value="4") 4
                          option(value="5") 5
                          option(value="6") 6
                  .b-form__row
                    .b-form__field
                      label.b-form__label Overview
                      textarea.b-form__textarea(name="overview")
                  .b-form__row
                    .b-form__file.jsFileInput
                      label.b-form__label If you have any important screenshots for checkup, please attach them here.
                      label.b-form__file-label
                        input.b-form__file-input(type="file" name="files[]" multiple)
                        span.b-form__file-text attachment file
                  .b-form__row
                    .b-form__field
                      label.b-form__label This information is for complaint process with casino and will not be published
                      textarea.b-form__textarea(name="information")
                  .b-form__row
                    .b-form__half
                      .b-form__field
                        label.b-form__label Your username in the casino
                        input.b-form__input(type="text" name="username")
                    .b-form__half
                      .b-form__field
                        label.b-form__label Your email in the casino
                        input.b-form__input(type="email" name="email")
                  .b-form__btn
                    button.btn(type="submit") Send the compliant

