extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__header
        .b-nav
          .b-nav__container
            .b-nav__label Latest news:
            button.b-nav__toggle(type="button")
            nav.b-nav__nav
              .b-nav__scroll
                ul.b-nav__list
                  li.b-nav__item.-active
                    a.b-nav__link(href="#") All
                  li.b-nav__item
                    a.b-nav__link(href="#") PROMOTIONS
                  li.b-nav__item
                    a.b-nav__link(href="#") BIG WIN
                  li.b-nav__item
                    a.b-nav__link(href="#") INSUSTRY NEWS
                  li.b-nav__item
                    a.b-nav__link(href="#") SAFETY CHECK
      .l-content__all
        .b-intro.jsSeeMore
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
          .b-intro__more
            button.jsSeeMore__btn(type="button") Show more
        .b-all.-news
          .row
            .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
              .l-content__sidebar
                .l-content__sidebox
                  include modules/_side-country
            .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
              .b-all__content
                .b-all__item
                  include elements/_e-news
                .b-all__item
                  include elements/_e-news
                .b-all__item
                  include elements/_e-news
                .b-all__item
                  include elements/_e-news
                .b-all__item
                  include elements/_e-news
                .b-all__item
                  include elements/_e-news
              .b-all__more
                button(type="button") see more <span>(3)</span>
