extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .row
        .col-md-3.col-md-push-9.col-sm-4.col-sm-push-8
          include modules/_side-country
        .col-md-9.col-md-pull-3.col-sm-8.col-sm-pull-4
          .b-newsmore
            .b-newsmore__header
              .b-newsmore__nav
                .b-nav
                  .b-nav__container
                    nav.b-nav__nav
                      .b-nav__scroll
                        ul.b-nav__list
                          li.b-nav__item.-active
                            a.b-nav__link(href="#") All
                          li.b-nav__item
                            a.b-nav__link(href="#") PROMOTIONS
                          li.b-nav__item
                            a.b-nav__link(href="#") BIG WIN
                          li.b-nav__item
                            a.b-nav__link(href="#") INDUSRTY NEWS
                          li.b-nav__item
                            a.b-nav__link(href="#") SAFETY CHECK
              a.b-newsmore__back(href="#") Back to news list
            .b-newsmore__content
              .b-newsmore__banner
                .b-newsbanner(style="background-image: url(images/bg-newsbanner.jpg)")
                  .b-newsbanner__info
                    .b-newsbanner__desc
                      h1.b-newsbanner__title Yesterday was the D-day for Elk Studios software provider because they have just released their latest online slot Route 777
                    .b-newsbanner__user
                      span.b-newsbanner__photo
                        img(src="images/user.jpg" alt="" width="25" height="25")
                      span.b-newsbanner__name Author's name
                      span.b-newsbanner__date 10 oct 2017
                  a.b-newsbanner__video.jsPopupVideo(href="https://www.youtube.com/watch?v=N6D0xW1MhRk")
                    img(src="images/poster_reel_emperor.jpg" alt="")
                    span YouTube Review
              .b-newsmore__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare ullamcorper tellus bibendum sagittis. Maecenas nec tristique elit. Aenean ornare imperdiet lobortis. Aliquam erat volutpat. Integer ornare gravida odio, nec dapibus purus pellentesque sed. Pellentesque rutrum accumsan aliquet. Praesent viverra vestibulum orci ut euismod. Donec consectetur lobortis volutpat. Aenean dui felis, rhoncus id elit in, lacinia pharetra turpis. Proin ullamcorper magna nunc, ut cursus mauris pretium nec. Morbi scelerisque velit ac nulla hendrerit, in sollicitudin ex pellentesque. In urna lorem, consectetur ac tortor vitae, molestie malesuada lacus. Vestibulum dictum ante vel leo dictum, a facilisis justo vehicula
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare ullamcorper tellus bibendum sagittis. Maecenas nec tristique elit. Aenean ornare imperdiet lobortis. Aliquam erat volutpat. Integer ornare gravida odio, nec dapibus purus pellentesque sed. Pellentesque rutrum accumsan aliquet. Praesent viverra vestibulum orci ut euismod. Donec consectetur lobortis volutpat. Aenean dui felis, rhoncus id elit in, lacinia pharetra turpis. Proin ullamcorper magna nunc, ut cursus mauris pretium nec. Morbi scelerisque velit ac nulla hendrerit, in sollicitudin ex pellentesque. In urna lorem, consectetur ac tortor vitae, molestie malesuada lacus. Vestibulum dictum ante vel leo dictum, a facilisis justo vehicula. .
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare ullamcorper tellus bibendum sagittis. Maecenas nec tristique elit. Aenean ornare imperdiet lobortis. Aliquam erat volutpat. Integer ornare gravida odio, nec dapibus purus pellentesque sed. Pellentesque rutrum accumsan aliquet. Praesent viverra vestibulum orci ut euismod. Donec consectetur lobortis volutpat. Aenean dui felis, rhoncus id elit in, lacinia pharetra turpis. Proin ullamcorper magna nunc, ut cursus mauris pretium nec. Morbi scelerisque velit ac nulla hendrerit, in sollicitudin ex pellentesque. In urna lorem, consectetur ac tortor vitae, molestie malesuada lacus. Vestibulum dictum ante vel leo dictum, a facilisis justo vehicula.
              .b-newsmore__mentioning
                .b-mentioning
                  .b-mentioning__title
                    h2 Mentioned in this article
                  .b-mentioning__tabs.b-tabs
                    .b-mentioning__nav.b-tabs
                      button.b-mentioning__tab.b-tabs__tab(type="button") Casino name 1
                      button.b-mentioning__tab.b-tabs__tab(type="button") Casino name 2
                      button.b-mentioning__tab.b-tabs__tab(type="button") Casino name 3
                    .b-mentioning__content
                      .b-mentioning__item.b-tabs__item
                        .b-hero
                          .b-hero__logo
                            .b-hero__logo-img
                              img(src='images/logo_reel_emperor.png', alt='Reel Emperor Casino')
                            .b-hero__logo-icon
                              img(src='images/safety.svg', alt='Safety')
                          .b-hero__info
                            p.b-hero__title Reel Emperor Casino
                            p.b-hero__desc Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino Reel Emperor Casino
                            .b-hero__data
                              .b-hero__data-col
                                .b-hero__data-row
                                  span.b-hero__data-label E-wallets:
                                  span.b-hero__data-info 24 hours
                                .b-hero__data-row
                                  span.b-hero__data-label Bank transfers:
                                  span.b-hero__data-info 3-7 days
                                .b-hero__data-row
                                  span.b-hero__data-label Credit/debit cards:
                                  span.b-hero__data-info 3-5 days
                              .b-hero__data-col
                                .b-hero__data-row
                                  span.b-hero__data-label Pending period:
                                  span.b-hero__data-info 24 hours
                                .b-hero__data-row
                                  span.b-hero__data-label Software:
                                  span.b-hero__data-info Microgaming, netent, Betsoft, isoftbet, softswiss, Ezugi, Amatic Industries, Endorphina
                            .b-hero__btns
                              a.btn.btn--paint.btn--blue(href='#') Visit casino
                              a.btn.btn--blue(href='#') Read review
                      .b-mentioning__item.b-tabs__item
                        .b-hero
                          .b-hero__logo
                            .b-hero__logo-img
                              img(src='images/logo_reel_emperor.png', alt='Reel Emperor Casino')
                            .b-hero__logo-icon
                              img(src='images/safety.svg', alt='Safety')
                          .b-hero__info
                            h1.b-hero__title Reel Emperor Casino
                            .b-hero__data
                              .b-hero__data-col
                                .b-hero__data-row
                                  span.b-hero__data-label E-wallets:
                                  span.b-hero__data-info 24 hours
                                .b-hero__data-row
                                  span.b-hero__data-label Bank transfers:
                                  span.b-hero__data-info 3-7 days
                                .b-hero__data-row
                                  span.b-hero__data-label Credit/debit cards:
                                  span.b-hero__data-info 3-5 days
                              .b-hero__data-col
                                .b-hero__data-row
                                  span.b-hero__data-label Pending period:
                                  span.b-hero__data-info 24 hours
                                .b-hero__data-row
                                  span.b-hero__data-label Software:
                                  span.b-hero__data-info Microgaming, netent, Betsoft, isoftbet, softswiss, Ezugi, Amatic Industries, Endorphina
                            .b-hero__btns
                              a.btn.btn--paint.btn--blue(href='#') Visit casino
                              a.btn.btn--blue(href='#') Read review
                      .b-mentioning__item.b-tabs__item
                        .b-hero
                          .b-hero__logo
                            .b-hero__logo-img
                              img(src='images/logo_reel_emperor.png', alt='Reel Emperor Casino')
                            .b-hero__logo-icon
                              img(src='images/safety.svg', alt='Safety')
                          .b-hero__info
                            h1.b-hero__title Reel Emperor Casino
                            .b-hero__data
                              .b-hero__data-col
                                .b-hero__data-row
                                  span.b-hero__data-label E-wallets:
                                  span.b-hero__data-info 24 hours
                                .b-hero__data-row
                                  span.b-hero__data-label Bank transfers:
                                  span.b-hero__data-info 3-7 days
                                .b-hero__data-row
                                  span.b-hero__data-label Credit/debit cards:
                                  span.b-hero__data-info 3-5 days
                              .b-hero__data-col
                                .b-hero__data-row
                                  span.b-hero__data-label Pending period:
                                  span.b-hero__data-info 24 hours
                                .b-hero__data-row
                                  span.b-hero__data-label Software:
                                  span.b-hero__data-info Microgaming, netent, Betsoft, isoftbet, softswiss, Ezugi, Amatic Industries, Endorphina
                            .b-hero__btns
                              a.btn.btn--paint.btn--blue(href='#') Visit casino
                              a.btn.btn--blue(href='#') Read review
      .l-content__section
        .b-sections
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 Latest casino news
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__latestnews
              .b-latestnews
                .b-latestnews__item
                  include elements/_e-latestnews
                .b-latestnews__item
                  include elements/_e-latestnews
                .b-latestnews__item
                  include elements/_e-latestnews
                .b-latestnews__item
                  include elements/_e-latestnews
                .b-latestnews__item
                  include elements/_e-latestnews
                .b-latestnews__item
                  include elements/_e-latestnews




