extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .l-content__header
        .b-nav
          .b-nav__container
            .b-nav__label News:
            button.b-nav__toggle(type="button")
            nav.b-nav__nav
              .b-nav__scroll
                ul.b-nav__list
                  li.b-nav__item
                    a.b-nav__link(href="#") All
                  li.b-nav__item
                    a.b-nav__link(href="#") PROMOTIONS
                  li.b-nav__item
                    a.b-nav__link(href="#") BIG WIN
                  li.b-nav__item
                    a.b-nav__link(href="#") INDUSTRY NEWS
        .b-intro.jsSeeMore
          .b-intro__desc.jsSeeMore__desc
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            h1 h1 online
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            h2 h1 information
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            h3 h3 about
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            h4 h4 current
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            h5 h5 include
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            h6 h6 launches
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            ul
              li Find the current information about the world of online gaming. Topics we discuss Find the current information about the world of online gaming. Topics we discuss
              li Find the current information about the world of online gaming. Topics we discuss Find the current infor
              li Find the current information about the world of online gaming. Topics we discuss Find the current inforFind the current information about the world of online gaming. Topics we discuss
                ul
                  li Find the current information about the world of online gaming. Topics we discuss Find the current information about the world of online gaming. Topics we discuss
                  li Find the current information about the world of online gaming. Topics we discuss Find the current infor
                  li Find the current information about the world of online gaming. Topics we discuss Find the current inforFind the current information about the world of online gaming. Topics we discuss
                  li Find the current information about the w
                  li Find the current information about the world of onpics we discuss the current information about the world of onpics we discuss
                  li Find the current information about the world of onpics we discuss
                  li Find the current information about the world of onpics we discuss
              li Find the current information about the w
              li Find the current information about the world of onpics we discuss the current information about the world of onpics we discuss
                ol
                  li Find the current information about the world of online gaming. Topics we discuss Find the current information about the world of online gaming. Topics we discuss
                  li Find the current information about the world of online gaming. Topics we discuss Find the current infor
                  li Find the current information about the world of online gaming. Topics we discuss Find the current inforFind the current information about the world of online gaming. Topics we discuss
                  li Find the current information about the w
                  li Find the current information about the world of onpics we discuss the current information about the world of onpics we discuss
                  li Find the current information about the world of onpics we discuss
                  li Find the current information about
              li Find the current information about the world of onpics we discuss
              li Find the current information about the world of onpics we discuss Find the current information about the world of online gaming. Topics we discuss
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            ol
              li Find the current information about the world of online gaming. Topics we discuss Find the current information about the world of online gaming. Topics we discuss
              li Find the current information about the world of online gaming. Topics we discuss Find the current infor
              li Find the current information about the world of online gaming. Topics we discuss Find the current inforFind the current information about the world of online gaming. Topics we discuss
              li Find the current information about the w
              li Find the current information about the world of onpics we discuss the current information about the world of onpics we discuss
              li Find the current information about the world of onpics we discuss
              li Find the current information about the world of onpics we discuss Find the current information about the world
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            blockquote "Find the current information about the world of online gaming. Topics we discuss Find Find the current information about the world of online gaming. Topics we discuss Find the current infor"
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            img(src="images/Screenshot.png" alt="")
            p Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.  Find the current information about the world of online gaming. Topics we discuss include new online casinos (launches and updates), special online casino promotions (including match bonuses and no deposit bonuses), casino industry news and strategy, as well as the release of new casino games. Make sure to check back daily to see what’s fresh in the world of.
            table
              tr
                th 1
                th information
                th onpics
                th 543
                th about
              tr
                td gaming
                td Find the current information about
                td 4
                td Find the current information about the world of onpics
                td 35353
              tr
                td gaming
                td Find the current information about
                td 4
                td Find the current information about the world of onpics
                td 35353
              tr
                td Find the current information about the world of onpics
                td 35353
                td Find the current information about
                td gaming
                td 4
          .b-intro__more
            button.jsSeeMore__btn(type="button") see more
      .l-content__main
        .row
          .col-hd-9.col-lg-9.col-sm-6
            include modules/_internal-slider
          .col-hd-3.col-lg-3.col-sm-6
            include modules/_side-country
          .hidden-lg.hidden-xs
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1-desctop.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label Blog
                      .e-main-slider__title Don’t want to waste your money?<br>Try exclusive nodeposit packages
                    span.e-main-slider__btn.btn see more
            .col-sm-6
              .b-main-slider__item
                .e-main-slider
                  a.e-main-slider__link(href="#")
                    .e-main-slider__bg(style="background-image: url(images/main-slider/1-desctop.jpg)")
                    .e-main-slider__content
                      .e-main-slider__label Jackpots
                      .e-main-slider__title Make your play safety<br>and check casinos with us
                    span.e-main-slider__btn.btn see more
      .l-content__section
        .b-sections
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 All
                a(href="#")   125 news
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
            .b-sections__banners
              .row
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
                .col-sm-4
                  .b-sections__banner
                    a.e-banner(href="#" style="background-image: url(images/banner/1.jpg)")
                      span.e-banner__text Promoted news 1
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 PROMOTIONS
                a(href="#")   125 news
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 BIG WIN
                a(href="#")   125 news
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
          .b-sections__section
            .b-sections__header
              .b-sections__title
                h2 INDUSTRY NEWS
                a(href="#")   125 news
              .b-sections__btn
                a.btn.btn--more(href="#") see more
            .b-sections__content
              .b-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news
                .b-news__item
                  include elements/_e-news




