extends layouts/default

block content

  include common/_header
  .l-content.-inner-page
    .container
      .b-account
        .b-account__tabs.b-tabs
          .b-account__nav.b-tabs__nav
            button.b-account__tab.b-tabs__tab.-active(type="button") My Account
            button.b-account__tab.b-tabs__tab(type="button") Notification settings
            button.b-account__tab.b-tabs__tab(type="button") Favourites
            button.b-account__tab.b-tabs__tab(type="button") User complaints
          .b-tabs__content
            .b-tabs__item.-active
              .row
                .col-hd-2.col-lg-2.col-md-2.col-sm-3
                  .b-account__user
                    .e-user
                      .e-user__img
                        img(src="images/user.jpg" alt="")
                      a.e-user__edit(href="#")
                      a.e-user__delete(href="#") Delete Account
                .col-lg-4.col-md-4.col-sm-9
                  .b-account__user-info
                    .e-user-info
                      .e-user-info__row
                        .e-user-info__label User name:
                        .e-user-info__value Peredhil
                      .e-user-info__row
                        .e-user-info__label Email:
                        .e-user-info__value Peredhil@mail.ru
                      .e-user-info__row
                        .e-user-info__label Birthday:
                        .e-user-info__value 20.09.1992
                      .e-user-info__row
                        .e-user-info__label Gender:
                        .e-user-info__value male
                      .e-user-info__row
                        .e-user-info__label First name:
                        .e-user-info__value Kirill
                      .e-user-info__row
                        .e-user-info__label Last name:
                        .e-user-info__value Ivanov
                      .e-user-info__row
                        .e-user-info__label Location:
                        .e-user-info__value
                          .e-user-info__select
                            select(name="country")
                              option(value="Russia" selected) Russia
                              option(value="Germany") Germany
                              option(value="English") English
                              option(value="Spain") Spain
                              option(value="Russia") Russia
                              option(value="Germany") Germany
                              option(value="English") English
                              option(value="Spain") Spain
                .col-hd-2.col-lg-3.col-md-3.col-sm-12
                  .b-account__form
                    form.b-form
                      .b-form__row
                        label.b-form__label Your current password
                        .b-form__field
                          input.b-form__input.-pass(type="password" name="current_password" required)
                          button.b-form__btn-pass.js-pass(type="button" title="Show password")
                      .b-form__row
                        label.b-form__label Your new password
                        .b-form__field
                          input.b-form__input.-pass(type="password" name="new_password" required)
                          button.b-form__btn-pass.js-pass(type="button" title="Show password")
                      .b-form__row
                        label.b-form__label Re-type new password
                        .b-form__field
                          input.b-form__input.-pass(type="password" name="re_type_new_password" required)
                          button.b-form__btn-pass.js-pass(type="button" title="Show password")
                      .b-form__row
                        button.btn(type="submit") confirm
                .col-hd-2.col-lg-3.col-md-3.col-sm-6
                  .b-account__form
                    form.b-form
                      .b-form__row
                        label.b-form__label Your current email
                        .b-form__field
                          input.b-form__input(type="password" name="current_email" required)
                      .b-form__row
                        label.b-form__label Your new email
                        .b-form__field
                          input.b-form__input(type="email" name="new_email" required)
                        .b-form__remark You should confirm it after change
                      .b-form__row
                        button.btn(type="submit") confirm
            .b-tabs__item
              .b-notice
                .b-notice__checkbox
                  .b-notice__row
                    .e-checkbox
                      input.e-checkbox__input(type="checkbox" name="notice_checkbox_1" id="notice_checkbox_1")
                      label.e-checkbox__label(for="notice_checkbox_1") Get all information from casino.insure
                  .b-notice__row
                    .e-checkbox
                      input.e-checkbox__input(type="checkbox" name="notice_checkbox_2" id="notice_checkbox_2")
                      label.e-checkbox__label(for="notice_checkbox_2") Get all information about all bonuses
                  .b-notice__row
                    .e-checkbox
                      input.e-checkbox__input(type="checkbox" name="notice_checkbox_3" id="notice_checkbox_3")
                      label.e-checkbox__label(for="notice_checkbox_3") Get all information about new safety checks
                .b-notice__tags
                  .b-notice__row
                    .e-tags
                      .e-tags__header
                        label.e-tags__label Get all information about exact bonuses
                        .e-tags__add.js-drop
                          button.e-tags__add-btn.js-drop__btn add
                          .e-tags__dropdown.js-drop__dropdown
                            .e-tags__scroll.mCustomScrollbar
                              ul.e-tags__list
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Book of RA
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Lord of the ocean
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Hot roulette
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Faust
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                      .e-tags__container
                        span.e-tags__item
                          span.e-tags__text match
                          button.e-tags__delete(type="button")
                  .b-notice__row
                    .e-tags
                      .e-tags__header
                        label.e-tags__label Get information about exact casino`s bonuses
                        .e-tags__add.js-drop
                          button.e-tags__add-btn.js-drop__btn add
                          .e-tags__dropdown.js-drop__dropdown
                            .e-tags__scroll.mCustomScrollbar
                              ul.e-tags__list
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Book of RA
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Lord of the ocean
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Hot roulette
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Faust
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                      .e-tags__container
                        span.e-tags__item
                          span.e-tags__text match
                          button.e-tags__delete(type="button")
                  .b-notice__row
                    .e-tags
                      .e-tags__header
                        label.e-tags__label Get information about exact casino`s
                        .e-tags__add.js-drop
                          button.e-tags__add-btn.js-drop__btn add
                          .e-tags__dropdown.js-drop__dropdown
                            .e-tags__scroll.mCustomScrollbar
                              ul.e-tags__list
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Book of RA
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Lord of the ocean
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Hot roulette
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Faust
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                      .e-tags__container
                        span.e-tags__item
                          span.e-tags__text match
                          button.e-tags__delete(type="button")
                  .b-notice__row
                    .e-tags
                      .e-tags__header
                        label.e-tags__label Get information about exact game`s bonuses
                        .e-tags__add.js-drop
                          button.e-tags__add-btn.js-drop__btn add
                          .e-tags__dropdown.js-drop__dropdown
                            .e-tags__scroll.mCustomScrollbar
                              ul.e-tags__list
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Book of RA
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Lord of the ocean
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Hot roulette
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Faust
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                                li.e-tags__list-item
                                  a.e-tags__list-link(href="#") Bad wolf
                      .e-tags__container
                        span.e-tags__item
                          span.e-tags__text match
                          button.e-tags__delete(type="button")
            .b-tabs__item
              .b-favourites
                .b-favourites__section
                  .b-favourites__header
                    .b-favourites__name bonuses
                    .b-favourites__show
                      button.b-favourites__more(type="button") see more
                  .b-favourites__content
                    .b-favourites__item
                      include elements/_e-bonuse
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-bonuse
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-bonuse
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-bonuse
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-bonuse
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-bonuse
                      button.b-favourites__delete(type="button")
                  .b-favourites__hide
                    button.b-favourites__less(type="button") see less
                .b-favourites__section
                  .b-favourites__header
                    .b-favourites__name casinos
                    .b-favourites__show
                      button.b-favourites__more(type="button") see more
                  .b-favourites__content
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-casino_2
                      button.b-favourites__delete(type="button")
                  .b-favourites__hide
                    button.b-favourites__less(type="button") see less
                .b-favourites__section
                  .b-favourites__header
                    .b-favourites__name games
                    .b-favourites__show
                      button.b-favourites__more(type="button") see more
                  .b-favourites__content
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_e-games
                      button.b-favourites__delete(type="button")
                  .b-favourites__hide
                    button.b-favourites__less(type="button") see less
                .b-favourites__section
                  .b-favourites__header
                    .b-favourites__name All complaints
                    .b-favourites__show
                      button.b-favourites__more(type="button") see more
                  .b-favourites__content
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-red
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-yellow
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-green
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-black
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-black
                      button.b-favourites__delete(type="button")
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-black
                      button.b-favourites__delete(type="button")
                  .b-favourites__hide
                    button.b-favourites__less(type="button") see less
            .b-tabs__item
              .b-favourites
                .b-favourites__section
                  .b-favourites__content
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-red
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-yellow
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-green
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-black
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-black
                    .b-favourites__item
                      include elements/_complaint/_e-complaint-black



