extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-tops
        .b-tops__main
          .row
            .col-lg-3.col-lg-push-9
              .b-tops__slider
                .b-main-slider.js-tops-slider
                  .b-main-slider__item
                    .e-main-slider
                      a.e-main-slider__link(href="#")
                        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
                        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
                        .e-main-slider__content
                          .e-main-slider__label Latest bonuses
                          .e-main-slider__title All types of latest casino bonuses, promotions and tournaments
                        span.e-main-slider__btn.btn see more
                  .b-main-slider__item
                    .e-main-slider
                      a.e-main-slider__link(href="#")
                        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
                        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
                        .e-main-slider__content
                          .e-main-slider__label Newest casinos
                          .e-main-slider__title New online casinos with detailed overview, ratings, bonuses, and players reviews
                        span.e-main-slider__btn.btn see more
                  .b-main-slider__item
                    .e-main-slider
                      a.e-main-slider__link(href="#")
                        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
                        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
                        .e-main-slider__content
                          .e-main-slider__label Nodeposit bonuses
                          .e-main-slider__title Don’t want to waste your money? Try exclusive nodeposit packages
                        span.e-main-slider__btn.btn see more
            .col-lg-9.col-lg-pull-3
              .b-tops__nav
                .b-nav
                  .b-nav__container
                    nav.b-nav__nav
                      .b-nav__scroll
                        ul.b-nav__list
                          li.b-nav__item
                            a.b-nav__link(href="#") MAIN TOPS
                          li.b-nav__item
                            a.b-nav__link(href="#") SAFETY CHECK TOPS
                          li.b-nav__item
                            a.b-nav__link(href="#") CASINO TOP
                          li.b-nav__item
                            a.b-nav__link(href="#") GAMES TOP
                          li.b-nav__item
                            a.b-nav__link(href="#") BONUSES TOP
              .b-tops__desc
                .b-intro.jsSeeMore
                  .b-intro__desc.jsSeeMore__desc
                    p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes
                    p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                  .b-intro__more
                    button.jsSeeMore__btn(type="button") see more
              .b-tops__tops
                .row
                  .col-md-4
                    include modules/_side-world
                  .col-md-4
                    include modules/_side-news
                  .col-md-4
                    include modules/_side-country
        .b-tops__content
          .b-tops__section
            .b-tops__header
              .b-tops__title
                h2 SAFETY CHECK TOPS
              .b-tops__sorting
                .b-sorting
                  .b-sorting__box
                    a.b-sorting__item(href="#") by Date
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Rate
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Reviews
                      span.b-sorting__name
                      span.b-sorting__stairs
                  .b-sorting__country
                    span.b-sorting__name by Country rate:
                    .b-sorting__select
                      select
                        option(value="USA") USA
                        option(value="RUS") RUS
                        option(value="GER") GER
                        option(value="SPN") SPN
                  .b-sorting__result
                    span 10235 listed
            .b-tops__container
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
            .b-tops__more
              a.b-tops__more-link(href="#") see more
          .b-tops__section
            .b-tops__header
              .b-tops__title
                h2 CASINO TOP
              .b-tops__sorting
                .b-sorting
                  .b-sorting__box
                    a.b-sorting__item(href="#") by Date
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Rate
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Reviews
                      span.b-sorting__name
                      span.b-sorting__stairs
                  .b-sorting__country
                    span.b-sorting__name by Country rate:
                    .b-sorting__select
                      select
                        option(value="USA") USA
                        option(value="RUS") RUS
                        option(value="GER") GER
                        option(value="SPN") SPN
                  .b-sorting__result
                    span 666 listed
            .b-tops__container
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
              .b-tops__item
                include elements/_e-casino_2
            .b-tops__more
              a.b-tops__more-link(href="#") see more
          .b-tops__section
            .b-tops__header
              .b-tops__title
                h2 GAMES TOP
              .b-tops__sorting
                .b-sorting
                  .b-sorting__box
                    a.b-sorting__item(href="#") by Date
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Rate
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Reviews
                      span.b-sorting__name
                      span.b-sorting__stairs
                  .b-sorting__country
                    span.b-sorting__name by Country rate:
                    .b-sorting__select
                      select
                        option(value="USA") USA
                        option(value="RUS") RUS
                        option(value="GER") GER
                        option(value="SPN") SPN
                  .b-sorting__result
                    span 666 listed
            .b-tops__container
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
              .b-tops__item
                include elements/_e-games
            .b-tops__more
              a.b-tops__more-link(href="#") see more
          .b-tops__section
            .b-tops__header
              .b-tops__title
                h2 BONUSES TOP
              .b-tops__sorting
                .b-sorting
                  .b-sorting__box
                    a.b-sorting__item(href="#") by Date
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Rate
                      span.b-sorting__name
                      span.b-sorting__stairs
                    a.b-sorting__item(href="#") by Reviews
                      span.b-sorting__name
                      span.b-sorting__stairs
                  .b-sorting__country
                    span.b-sorting__name by Country rate:
                    .b-sorting__select
                      select
                        option(value="USA") USA
                        option(value="RUS") RUS
                        option(value="GER") GER
                        option(value="SPN") SPN
                  .b-sorting__result
                    span 666 listed
            .b-tops__container
              .b-tops__item
                include elements/_e-bonuse-expired
              .b-tops__item
                include elements/_e-bonuse-restricted
              .b-tops__item
                include elements/_e-bonuse-expired
              .b-tops__item
                include elements/_e-bonuse-restricted
              .b-tops__item
                include elements/_e-bonuse-expired
              .b-tops__item
                include elements/_e-bonuse-restricted
              .b-tops__item
                include elements/_e-bonuse-expired
              .b-tops__item
                include elements/_e-bonuse-restricted
              .b-tops__item
                include elements/_e-bonuse-expired
              .b-tops__item
                include elements/_e-bonuse-restricted
              .b-tops__item
                include elements/_e-bonuse-expired
            .b-tops__more
              a.b-tops__more-link(href="#") see more

