extends layouts/default

block content

  include common/_header
  .l-content
    .container
      .b-user
        .b-testim
          .row
            .col-sm-3.col-md-2
              .b-testim__user
                .b-testim__user-photo
                  img(src="images/user.jpg" width="70" height="70" alt="")
                .b-testim__user-country(style="background-image: url(images/language/english.svg)")
                .b-testim__user-name Nick Name
                .b-testim__user-since since: 10 may 2017
                .b-testim__user-reviews reviews: <span>17</span>
            .col-sm-9.col-md-10.col-hd-8
              .b-tabs.b-user__tabs
                .b-user__tabs-header
                  .b-user__tabs-nav.b-tabs__nav
                    button.b-user__tabs-tab.b-tabs__tab(type="button") Casinos <span>(10)</span>
                    button.b-user__tabs-tab.b-tabs__tab(type="button") Bonuses <span>(20)</span>
                    button.b-user__tabs-tab.b-tabs__tab(type="button") Games <span>(30)</span>
                  .b-user__tabs-sorting
                    .b-sorting
                      .b-sorting__box
                        a.b-sorting__item(href="#") by Date
                          span.b-sorting__name
                          span.b-sorting__stairs
                        a.b-sorting__item(href="#") by Rate
                          span.b-sorting__name
                          span.b-sorting__stairs
                .b-tabs__content
                  .b-tabs__item
                    .b-testim__header
                      .b-testim__header-left
                        .b-testim__count.-plus +15
                        .b-testim__rate
                          span.b-testim__rate-date Review date: 22\03\2017
                          .e-rating.-read
                            select(name="rating" data-current-rating="8.5")
                              option(value="1") 1
                              option(value="2") 2
                              option(value="3") 3
                              option(value="4") 4
                              option(value="5") 5
                              option(value="6") 6
                              option(value="7") 7
                              option(value="8") 8
                              option(value="9") 9
                              option(value="10") 10
                            span.e-rating__value
                      .b-testim__header-right
                        .b-testim__reprew
                          .e-reprew
                            button.e-reprew__toggle(type="button") Report review
                            .e-reprew__dropdown
                              .e-reprew__header Why are you reporting this review?
                              .e-reprew__content
                                ul.e-reprew__list
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Offensive language" id="offensive_language_1")
                                      label.e-checkbox__label(for="offensive_language_1") Offensive language
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Spam" id="spam_1")
                                      label.e-checkbox__label(for="spam_1") Spam
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Manipulative statements" id="manipulative_statements_2")
                                      label.e-checkbox__label(for="manipulative_statements_2") Manipulative statements
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Fake" id="fake_1")
                                      label.e-checkbox__label(for="fake_1") Fake
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Other" id="other_1")
                                      label.e-checkbox__label(for="other_1") Other

                                .e-reprew__btn
                                  a.btn(href="#") Report
                    .b-testim__content
                      .b-testim__desc
                        .b-testim__desc-hidden
                          .b-testim__desc-text
                            p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino.Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                      .b-testim__asses
                        .b-testim__asses-positive
                          .b-testim__desc
                            .b-testim__desc-hidden
                              .b-testim__desc-text
                                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes. Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                        .b-testim__asses-negative
                          .b-testim__desc
                            .b-testim__desc-hidden
                              .b-testim__desc-text
                                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players
                      .b-testim__gallery.jsGallery
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                  .b-tabs__item
                    .b-testim__header
                      .b-testim__header-left
                        .b-testim__count.-minus -10
                        .b-testim__rate
                          span.b-testim__rate-date Review date: 22\03\2017
                          .e-rating.-read
                            select(name="rating" data-current-rating="8.5")
                              option(value="1") 1
                              option(value="2") 2
                              option(value="3") 3
                              option(value="4") 4
                              option(value="5") 5
                              option(value="6") 6
                              option(value="7") 7
                              option(value="8") 8
                              option(value="9") 9
                              option(value="10") 10
                            span.e-rating__value
                      .b-testim__header-right
                        .b-testim__reprew
                          .e-reprew
                            button.e-reprew__toggle(type="button") Report review
                            .e-reprew__dropdown
                              .e-reprew__header Why are you reporting this review?
                              .e-reprew__content
                                ul.e-reprew__list
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Offensive language" id="offensive_language_1")
                                      label.e-checkbox__label(for="offensive_language_1") Offensive language
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Spam" id="spam_1")
                                      label.e-checkbox__label(for="spam_1") Spam
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Manipulative statements" id="manipulative_statements_2")
                                      label.e-checkbox__label(for="manipulative_statements_2") Manipulative statements
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Fake" id="fake_1")
                                      label.e-checkbox__label(for="fake_1") Fake
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Other" id="other_1")
                                      label.e-checkbox__label(for="other_1") Other

                                .e-reprew__btn
                                  a.btn(href="#") Report
                    .b-testim__content
                      .b-testim__desc
                        .b-testim__desc-hidden
                          .b-testim__desc-text
                            p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                      .b-testim__asses
                        .b-testim__asses-positive
                          .b-testim__desc
                            .b-testim__desc-hidden
                              .b-testim__desc-text
                                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                        .b-testim__asses-negative
                          .b-testim__desc
                            .b-testim__desc-hidden
                              .b-testim__desc-text
                                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players
                      .b-testim__gallery.jsGallery
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                  .b-tabs__item
                    .b-testim__header
                      .b-testim__header-left
                        .b-testim__count 0
                        .b-testim__rate
                          span.b-testim__rate-date Review date: 22\03\2017
                          .e-rating.-read
                            select(name="rating" data-current-rating="8.5")
                              option(value="1") 1
                              option(value="2") 2
                              option(value="3") 3
                              option(value="4") 4
                              option(value="5") 5
                              option(value="6") 6
                              option(value="7") 7
                              option(value="8") 8
                              option(value="9") 9
                              option(value="10") 10
                            span.e-rating__value
                      .b-testim__header-right
                        .b-testim__reprew
                          .e-reprew
                            button.e-reprew__toggle(type="button") Report review
                            .e-reprew__dropdown
                              .e-reprew__header Why are you reporting this review?
                              .e-reprew__content
                                ul.e-reprew__list
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Offensive language" id="offensive_language_1")
                                      label.e-checkbox__label(for="offensive_language_1") Offensive language
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Spam" id="spam_1")
                                      label.e-checkbox__label(for="spam_1") Spam
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Manipulative statements" id="manipulative_statements_2")
                                      label.e-checkbox__label(for="manipulative_statements_2") Manipulative statements
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Fake" id="fake_1")
                                      label.e-checkbox__label(for="fake_1") Fake
                                  li.e-reprew__item
                                    .e-checkbox
                                      input.e-checkbox__input(type="checkbox" name="Other" id="other_1")
                                      label.e-checkbox__label(for="other_1") Other

                                .e-reprew__btn
                                  a.btn(href="#") Report
                    .b-testim__content
                      .b-testim__desc
                        .b-testim__desc-hidden
                          .b-testim__desc-text
                            p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                      .b-testim__asses
                        .b-testim__asses-positive
                          .b-testim__desc
                            .b-testim__desc-hidden
                              .b-testim__desc-text
                                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players will have a range of video slots and popular casino games to choose from along with live games and bingo rooms. All of these are available through a web browser or members can play through their mobile casino. The site is also available in several languages which includes.
                        .b-testim__asses-negative
                          .b-testim__desc
                            .b-testim__desc-hidden
                              .b-testim__desc-text
                                p Casino is an online casino home to games from multiple providers like NetEnt, Microgaming, IGT, Play’n GO, WMS (Williams Interactive) and others. Players
                      .b-testim__gallery.jsGallery
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
                        .b-testim__gallery-item
                          a.b-testim__gallery-link(href="images/testim/1.jpg" style="background-image: url(images/testim/1.jpg)")
block modals
  include popup/_add_review