footer.footer
  .container
    .row
      .col-xl-2.col-md-4.d-none.d-md-block
        ul.footer__list
          li.footer__item
            a.footer__link.footer__link--title(href='#') Продукция
          li.footer__item
            a.footer__link(href='#') Кофе
          li.footer__item
            a.footer__link(href='#') Чай
          li.footer__item
            a.footer__link(href='#') Аксессуары
          li.footer__item
            a.footer__link(href='#') Стиль
      .col-xl-2.col-md-4.d-none.d-md-block
        ul.footer__list
          li.footer__item
            a.footer__link.footer__link--title(href='#') Знания
          li.footer__item
            a.footer__link(href='#') Начинающим
          li.footer__item
            a.footer__link(href='#') Профессионалам
          li.footer__item
            a.footer__link(href='#') How to brew
      .col-xl-2.col-md-4.d-none.d-md-block
        ul.footer__list
          li.footer__item
            a.footer__link.footer__link--title(href='#') О  нас
          li.footer__item
            a.footer__link(href='#') О компании
          li.footer__item
            a.footer__link(href='#') Команда
          li.footer__item
            a.footer__link(href='#') FAQ
          li.footer__item
            a.footer__link(href='#') Новости
      .col-xl-2.col-md-4.d-none.d-md-block
        ul.footer__list
          li.footer__item
            a.footer__link.footer__link--title(href='#') Сотрудничество
          li.footer__item
            a.footer__link.footer__link--title(href='#') Доставка и оплата
          li.footer__item
            a.footer__link.footer__link--title(href='#') Контакты
      .col-xl-2.col-md-4.d-none.d-md-block
        ul.footer__list
          li.footer__item
            .footer__address 109052 Москва, <span class="nowrap">ул.&nbsp;Нижегородская&nbsp;29-33</span>
          li.footer__item
            a.footer__mail(href="maitlo:info@rockets.coffee") info@rockets.coffee
          li.footer__item
            .footer__social
              a.footer__social_link.footer__social_link--fb(href="#")
              a.footer__social_link.footer__social_link--ln(href="#")
              a.footer__social_link.footer__social_link--tw(href="#")
      .col-xl-2.col-md-4.d-none.d-md-block
        ul.footer__list
          li.footer__item
            .call
              .call__item
                span.call__label Для звонков по России
                a.call__tel(href="tel:88001081144") 8 800 108-11-44
              .call__item
                span.call__label Для звонков по Москве
                a.call__tel(href="tel:88001081144") 8 800 108-11-44
              .call__bottom
                span.call__label Мы принимаем звонки
                span.call__time с ПН по ПТ, с 10 до 18 по Мск
  .container
    .footer__bottom
      span Rockets ® is a registered Trademark
      span Copyright © 2018 ROCKETS COFFEE ROASTERS
      a(href="#") Политика конфеденциальности
      .footer__payment
        img(src="images/payment/mastercard.svg" width="40" alt="")
        img(src="images/payment/visa.svg" width="60" alt="")
        img(src="images/payment/paykeeper.svg" width="100" alt="")
      .d-md-none
        .footer__social
          a.footer__social_link.footer__social_link--fb(href="#")
          a.footer__social_link.footer__social_link--ln(href="#")
          a.footer__social_link.footer__social_link--tw(href="#")