header.header
  .container
    .header__wrapper
      .header__menu
        a.header__toggle(href="#")
          span
        ul.menu.menu--rigth
          li.menu__item
            a.menu__link.menu__link--submenu(href="#") Продукция
            .menu__submenu
              .submenu
                .container
                  .row
                    .col-md-3.col-lg-2
                      ul.submenu__list
                        li.submenu__item.submenu__item--title
                          a.submenu__link(href="#") Кофе
                        li.submenu__item
                          a.submenu__link(href="#") Эспрессо
                        li.submenu__item
                          a.submenu__link(href="#") Фильт
                        li.submenu__item
                          a.submenu__link(href="#") Sample Box
                        li.submenu__item
                          a.submenu__link(href="#") Арабика
                        li.submenu__item
                          a.submenu__link(href="#") Смесь арабики и робусты
                        li.submenu__item
                          a.submenu__link(href="#") Декаф
                        li.submenu__item
                          a.submenu__link(href="#") AIR
                    .col-md-3.col-lg-2
                      ul.submenu__list
                        li.submenu__item.submenu__item--title
                          a.submenu__link(href="#") Чай
                        li.submenu__item
                          a.submenu__link(href="#") Черный
                        li.submenu__item
                          a.submenu__link(href="#") Зеленый
                        li.submenu__item
                          a.submenu__link(href="#") Красный
                        li.submenu__item
                          a.submenu__link(href="#") Травяной
                    .col-md-3.col-lg-2
                      ul.submenu__list
                        li.submenu__item.submenu__item--title
                          a.submenu__link(href="#") Аксессуары
                        li.submenu__item
                          a.submenu__link(href="#") Воронка для кофе
                        li.submenu__item
                          a.submenu__link(href="#") Питчеры
                        li.submenu__item
                          a.submenu__link(href="#") Темперы и коврики
                        li.submenu__item
                          a.submenu__link(href="#") Сита
                        li.submenu__item
                          a.submenu__link(href="#") Бумажные фильтры
                        li.submenu__item
                          a.submenu__link(href="#") Химия
                    .col-md-3.col-lg-2
                      ul.submenu__list
                        li.submenu__item.submenu__item--title
                          a.submenu__link(href="#") Стиль
                        li.submenu__item
                          a.submenu__link(href="#") Майки
                        li.submenu__item
                          a.submenu__link(href="#") Футболки
                        li.submenu__item
                          a.submenu__link(href="#") Кружки
                        li.submenu__item
                          a.submenu__link(href="#") Наклейки
                    .col-lg-4.d-none.d-lg-block
                      a.banner(href="#" target="_blank")
                        img(src="images/banner.png" alt="")
          li.menu__item
            a.menu__link(href="#") Сотрудничество
          li.menu__item
            a.menu__link(href="#") Знания
          li.menu__item
            a.menu__link.menu__link--submenu(href="#") О нас
        ul.menu.menu--left
          li.menu__item
            a.menu__link(href="#") Доставка и оплата
          li.menu__item
            a.menu__link(href="#") Контакты
          li.menu__sale.d-lg-none
            a.menu__sale_link(href="#" target="_blank") Скидка
        .header__logo
          a.logo(href="#")
            img(src=logo_path || 'images/logo.svg', width="90", height="35", alt="")
            img(src="images/logo-img-blue.svg" width="63" height="63" alr="")
      .header__icons
        .mainicons
          a.mainicons__link.mainicons__link--user(href="#" class=mainicons_sign) К
          a.mainicons__link.mainicons__link--minicart(href="#" class=cart_class_is_have || '')=cart_product_count || ''
          .mainicons__link.mainicons__link--phone
            .mainicons__call
              .call
                .call__item
                  span.call__label Для звонков по России
                  a.call__tel(href="tel:88001081144") 8 800 108-11-44
                .call__item
                  span.call__label Для звонков по Москве
                  a.call__tel(href="tel:88001081144") 8 800 108-11-44
                .call__bottom
                  span.call__label Мы принимаем звонки
                  span.call__time с ПН по ПТ, с 10 до 18 по Мск
  
  .header__mobile
    .header__mobile_menu
      .mobile_menu_inner
      
        .discount_products
          a.discount(href="#")
            .discount_text Товары со скидками

        .menu_categories
          .categories_list
            .categories_list_row
              a.categories_list_link(href="#")
                .link_title Кофе
                .link_image
                  img(src="images/coffee_menu_mobile.png", alt="")
            .categories_list_row
              a.categories_list_link(href="#")
                .link_title Чай
                .link_image
                  img(src="images/tea_menu_mobile.png", alt="")
            .categories_list_row
              a.categories_list_link(href="#")
                .link_title Аксессуары
                .link_image
                  img(src="images/accessories_menu_mobile.png", alt="")
            .categories_list_row
              a.categories_list_link(href="#")
                .link_title Стиль
                .link_image
                  img(src="images/style_menu_mobile.png", alt="")

        .mobile_menu_list
          ul
            li
              a(href="#") Сотрудничество
            li
              a(href="#") Знания
            li
              a(href="#") О нас
            li
              a(href="#") Доставка и оплата
            li
              a(href="#") Программа лояльности
            li
              a(href="#") Контакты

        .mobile_menu_contacts
          .contacts_phone
            a(href="tel:88007770414") 8 800 777-04-14
          .contacts_mail
            a(href="mailto:info@rockets.coffee") info@rockets.coffee
          .contacts_social
            .footer__social
              a.footer__social_link.footer__social_link--fb(href="#")
              a.footer__social_link.footer__social_link--ln(href="#")
              a.footer__social_link.footer__social_link--tw(href="#")

