.b-menu
  .b-menu__overlay(title="close")
  .b-menu__box
    button.b-menu__close(type="button" title="close")
    .b-menu__elements.js-menu__elements
      a.a.b-menu__logo(href="#")
        img(src="images/logo.svg" alt="")
      .b-menu__search
        include ../elements/_search
      .b-menu__btns
        .b-menu__subscribe
          include ../elements/_subscribe
        .b-menu__join
          a.btn.btn--paint.open-join(href="#join_popup") join
    ul.b-menu__list
      li.b-menu__item
        a.b-menu__link(href="#") Casinos
        .b-submenu
          ul.b-submenu__list.js-scrollBar
            li.b-submenu__item
              a.b-submenu__link(href="#") All casinos
            li.b-submenu__item
              a.b-submenu__link(href="#") mobile
            li.b-submenu__item
              a.b-submenu__link(href="#") newest casinos
            li.b-submenu__item
              a.b-submenu__link(href="#") VR casinos
            li.b-submenu__item
              a.b-submenu__link(href="#") blacklisted
      li.b-menu__item
        a.b-menu__link(href="#") Games
        .b-submenu
          ul.b-submenu__list.js-scrollBar
            li.b-submenu__item
              a.b-submenu__link(href="#") All Games
            li.b-submenu__item
              a.b-submenu__link(href="#") slots
            li.b-submenu__item
              a.b-submenu__link(href="#") Roulettes
            li.b-submenu__item
              a.b-submenu__link(href="#") table
            li.b-submenu__item
              a.b-submenu__link(href="#") live
      li.b-menu__item
        a.b-menu__link(href="#") Bonuses
        .b-submenu
          ul.b-submenu__list.js-scrollBar
            li.b-submenu__item
              a.b-submenu__link(href="#") all bonuses
            li.b-submenu__item
              a.b-submenu__link(href="#") FS
            li.b-submenu__item
              a.b-submenu__link(href="#") match deposit
            li.b-submenu__item
              a.b-submenu__link(href="#") Nodeposit Bonuses
            li.b-submenu__item
              a.b-submenu__link(href="#") Exclusive Bonuses
            li.b-submenu__item
              a.b-submenu__link(href="#") welcome bonuses
            li.b-submenu__item
              a.b-submenu__link(href="#") cashback
            li.b-submenu__item
              a.b-submenu__link(href="#") lottery
            li.b-submenu__item
              a.b-submenu__link(href="#") jackpots
            li.b-submenu__item
              a.b-submenu__link(href="#") 2nd Deposit
            li.b-submenu__item
              a.b-submenu__link(href="#") 3rd Deposit
            li.b-submenu__item
              a.b-submenu__link(href="#") Free Play
            li.b-submenu__item
              a.b-submenu__link(href="#") High Roller
            li.b-submenu__item
              a.b-submenu__link(href="#") Reload
            li.b-submenu__item
              a.b-submenu__link(href="#") Tournaments
      li.b-menu__item
        a.b-menu__link(href="#") News
        .b-submenu
          ul.b-submenu__list.js-scrollBar
            li.b-submenu__item
              a.b-submenu__link(href="#") All News
            li.b-submenu__item
              a.b-submenu__link(href="#") Promotions
            li.b-submenu__item
              a.b-submenu__link(href="#") Big Win
            li.b-submenu__item
              a.b-submenu__link(href="#") Industry News
            li.b-submenu__item
              a.b-submenu__link(href="#") Safety Check
      li.b-menu__item
        a.b-menu__link(href="#") Tops
        .b-submenu
          ul.b-submenu__list.js-scrollBar
            li.b-submenu__item
              a.b-submenu__link(href="#") Main Tops
            li.b-submenu__item
              a.b-submenu__link(href="#") Safety Check Top
            li.b-submenu__item
              a.b-submenu__link(href="#") Casinos Top
            li.b-submenu__item
              a.b-submenu__link(href="#") Games Top
            li.b-submenu__item
              a.b-submenu__link(href="#") Bonuses Top
      li.b-menu__item.-relative
        a.b-menu__link(href="#") support
        .b-submenu
          ul.b-submenu__list.js-scrollBar
            li.b-submenu__item
              a.b-submenu__link(href="#") Make A Complaint
            li.b-submenu__item
              a.b-submenu__link(href="#") Subscribe
            li.b-submenu__item
              a.b-submenu__link(href="#") About
            li.b-submenu__item
              a.b-submenu__link(href="#") site map
            li.b-submenu__item
              a.b-submenu__link(href="#") contacts
            li.b-submenu__item
              a.b-submenu__link(href="#") jobs
