.b-main-slider.-internal.js-main-slider
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Best bonuses of the month
          .e-main-slider__title Look inside and get the best bonuses of the month
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Best slot bonuses
          .e-main-slider__title Are you obsessed with slots? Grab the best bonuses prepared up to you!
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Blog
          .e-main-slider__title Do you like to be aware? Read out the most exciting stories.
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Jackpots
          .e-main-slider__title Are you mates with Lady Fortune? Check out enormous jackpots!
        span.e-main-slider__btn.btn see more