.b-main-slider.-internal.js-main-slider
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Best casinos of the month
          .e-main-slider__title Start a play with the best-known casinos!
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span How casino insure acts
          .e-main-slider__title Know more about how Casino.Insure operates.
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Blog
          .e-main-slider__title Do you like to be aware? Read out the most exciting stories.
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Safety casino
          .e-main-slider__title Choose safety casinos which are trusted by the community and experts.
        span.e-main-slider__btn.btn see more