.b-main-slider.-internal.js-main-slider
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Best slots of the month
          .e-main-slider__title All types of latest casino bonuses, promotions and tournaments
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Best slot bonuses
          .e-main-slider__title New online casinos with detailed overview, ratings, bonuses and players reviews
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Blog
          .e-main-slider__title Don’t want to waste your money?<br>Try exclusive nodeposit packages
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Jackpots
          .e-main-slider__title Make your play safety<br>and check casinos with us
        span.e-main-slider__btn.btn see more