.b-main-slider.-internal.js-main-slider
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Best slots of the month
          .e-main-slider__title Spin the top rated slots of this month.
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span BIG WIN
          .e-main-slider__title Oh my God! It happens again. Take a look at our lucky guy!
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Exclusive bonus
          .e-main-slider__title Tired of ordinary bonuses? We prepare some exclusive just for our users.
        span.e-main-slider__btn.btn see more
  .b-main-slider__item.hidden-md.hidden-sm
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label
            span Blog
          .e-main-slider__title Do you like to be aware? Read out the most exciting stories.
        span.e-main-slider__btn.btn see more