.b-main-slider.js-main-slider
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label Latest bonuses
          .e-main-slider__title All types of latest casino bonuses, promotions and tournaments
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label Newest casinos
          .e-main-slider__title New online casinos with detailed overview, ratings, bonuses, and players reviews
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label Nodeposit bonuses
          .e-main-slider__title Don’t want to waste your money? Try exclusive nodeposit packages
        span.e-main-slider__btn.btn see more
  .b-main-slider__item
    .e-main-slider
      a.e-main-slider__link(href="#")
        .e-main-slider__bg.-desctop(style="background-image: url(images/main-slider/1-desctop.jpg)")
        .e-main-slider__bg.-mobile(style="background-image: url(images/main-slider/1-mobile.jpg)")
        .e-main-slider__content
          .e-main-slider__label Latest safety check
          .e-main-slider__title Make your play safety and check casinos with us
        span.e-main-slider__btn.btn see more