.b-page_newyear
  .b-page__content
    // новогодняя мотня newyear.html
    i.b-head-decor
      i.b-head-decor__inner.b-head-decor__inner_n1
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
      i.b-head-decor__inner.b-head-decor__inner_n2
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
      i.b-head-decor__inner.b-head-decor__inner_n3
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
      i.b-head-decor__inner.b-head-decor__inner_n4
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
      i.b-head-decor__inner.b-head-decor__inner_n5
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
      i.b-head-decor__inner.b-head-decor__inner_n6
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
      i.b-head-decor__inner.b-head-decor__inner_n7
        .b-ball.b-ball_n1.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n2.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n3.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n4.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n5.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n6.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n7.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n8.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_n9.b-ball_bounce
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i1
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i2
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i3
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i4
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i5
          .b-ball__right
          .b-ball__i
        .b-ball.b-ball_i6
          .b-ball__right
          .b-ball__i
