.b-side.-play.js-side
  .b-side__header
    .b-side__title.js-side__btn
      h3 PLAY FOR REAL MONEY
  .b-side__content.js-side__content
    ul.b-side__list
      li.b-side__item
        a.b-side__link(href="#")
          img.b-side__img(src="images/casinos/1.png" alt="")
          span.b-side__name William hill
        a.b-side__visit(href="#") play
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Casumo
          a.b-side__visit(href="#") play
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Gutz
          a.b-side__visit(href="#") play
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Dunder
          a.b-side__visit(href="#") play
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Rizk
          a.b-side__visit(href="#") play
    a.b-side__more(href="#")
      span see more
