.b-side.js-side
  .b-side__header
    .b-side__title.js-side__btn
      h3 Newest casinos
  .b-side__content.js-side__content
    ul.b-side__list
      li.b-side__item
        a.b-side__link(href="#")
          img.b-side__img(src="images/casinos/1.png" alt="")
          span.b-side__name Mucho vegas casinos
        a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Loki casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Bitstarz casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Golden star casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Slotsmillion casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Slotsmillion casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Slotsmillion casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Slotsmillion casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Slotsmillion casino
          a.b-side__visit(href="#") visit
      li.b-side__item
        .b-side__box
          a.b-side__link(href="#")
            img.b-side__img(src="images/casinos/1.png" alt="")
            span.b-side__name Slotsmillion casino
          a.b-side__visit(href="#") visit
    a.b-side__more(href="#")
      span see more
