.b-addrev.mfp-hide#add_review
  .b-addrev__inner
    h2 ADD REVIEW
    form.b-addrev__form
      .b-addrev__row
        .b-addrev__vote
          span Vote This
          .e-rating.-select
            select(name="rating" )
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
      .b-addrev__row
        label.b-addrev__label What do you like?
        textarea.b-addrev__textarea(name="like" placeholder="250 characters left")
      .b-addrev__row
        label.b-addrev__label What do you dislike?
        textarea.b-addrev__textarea(name="dislike" placeholder="250 characters left")
      .b-addrev__row
        label.b-addrev__label Comment
        textarea.b-addrev__textarea(name="dislike" placeholder="Please, add your review.")
      .b-addrev__row
        .b-addrev__scr
          label.b-addrev__scr-label Screenshoot upload:
          .b-addrev__scr-upload
            .b-addrev__upload
              label.b-addrev__upload-label
                input.b-addrev__upload-input(type="file" name="screenshot" multiple="multiple" accept="image")
                span.b-addrev__upload-text attachment file
      .b-addrev__row
        .b-addrev__checkbox
          .e-checkbox
            input.e-checkbox__input(type="checkbox" name="Sign up" id="signup")
            label.e-checkbox__label(for="signup") Sign up to new player's reviews
        .b-addrev__checkbox
          .e-checkbox
            input.e-checkbox__input(type="checkbox" name="I agree" id="iagree")
            label.e-checkbox__label(for="iagree") I agree with the rules of posting reviews
      .b-addrev__btn
        button.btn(type="submit") Add review