.b-addrev.mfp-hide#add_comments
  .b-addrev__inner
    h2 Add comments
    form.b-addrev__form
      .b-addrev__row
        label.b-addrev__label Comment
        textarea.b-addrev__textarea(name="like" placeholder="Please, add your review.")
      .b-addrev__row
        .b-addrev__scr
          label.b-addrev__scr-label Screenshoot upload:
          .b-addrev__scr-upload
            .b-addrev__upload
              label.b-addrev__upload-label
                input.b-addrev__upload-input(type="file" name="screenshot" multiple="multiple" accept="image")
                span.b-addrev__upload-text attachment file
      .b-addrev__row
        .b-addrev__checkbox
          .e-checkbox
            input.e-checkbox__input(type="checkbox" name="I agree" id="iagree")
            label.e-checkbox__label(for="iagree") I agree with the rules of posting reviews
      .b-addrev__btn
        button.btn(type="submit") Add review