.b-join.mfp-hide#join_popup
  .b-join__header
    .container
      .b-join__logo
        img(src="images/logo.svg" alt="")
  .b-join__container
    .b-join__tabs.b-tabs
      .b-join__nav
        button.b-join__tab.b-tabs__tab.-active(type="button")
          span Sign in
        button.b-join__tab.b-tabs__tab(type="button")
          span Sign up
      .b-join__content
        .b-tabs__item.-active.-fade
          .b-join__social
            a(href="#")
              img(src="images/social-color/facebook.svg" width="40" height="40" alt="")
            a(href="#")
              img(src="images/social-color/google-plus.svg" width="40" height="40" alt="")
            a(href="#")
              img(src="images/social-color/twitter.svg" width="40" height="40" alt="")
          .b-join__or or
          .b-join__form
            form.form#signin
              .b-form__row
                label.b-form__label(for="signin_email") Email or username
                .b-form__field
                  input.b-form__input(type="text" name="signin_email" id="signin_email" required)
              .b-form__row.-margin-half
                label.b-form__label(for="signin_password") Password
                .b-form__field
                  input.b-form__input(type="password" name="signin_password" id="signin_password" required)
                  button.b-form__btn-pass.js-pass(type="button" title="Show password")
              .b-form__row
                .b-form__checkbox
                  input(type="checkbox" name="signin_another_computer" id="signin_another_computer")
                  label(for="signin_another_computer") keep me logged  in
              .b-join__btn
                button.btn.btn--paint(type="submit") join
              .b-join__forgot
                span Forgot password? <a href="#">Password recovery</a>
        .b-tabs__item
          .b-join__form
            form#user_register.form(action='/en/register', method='POST', name='user_register')
              .b-form__row
                .b-form__field
                  label.b-form__label.required(for='fos_user_registration_form_email') Email
                  input#fos_user_registration_form_email.b-form__input(type='email', name='fos_user_registration_form[email]', required='required', placeholder='Email')
              .b-form__row
                .b-form__field
                  label.b-form__label.required(for='fos_user_registration_form_username') Username
                  input#fos_user_registration_form_username.b-form__input(type='text', name='fos_user_registration_form[username]', required='required', maxlength='180', pattern='.{2,}', placeholder='min 5 characters')
              .b-form__row
                .b-form__field
                  label.b-form__label.required(for='fos_user_registration_form_firstName') First Name
                  input#fos_user_registration_form_firstName.b-form__input(type='text', name='fos_user_registration_form[firstName]', required='required')
              .b-form__row
                .b-form__field
                  label.b-form__label.required(for='fos_user_registration_form_lastName') Last Name
                  input#fos_user_registration_form_lastName.b-form__input(type='text', name='fos_user_registration_form[lastName]', required='required')
              .b-form__row
                .b-form__field
                  label.b-form__label.required(for='fos_user_registration_form_plainPassword_first') Password
                  input#fos_user_registration_form_plainPassword_first.b-form__input(type='password', name='fos_user_registration_form[plainPassword][first]', required='required', placeholder='min 8 characters')
                  button.b-form__btn-pass.js-pass(type='button', title='Show password')
              .b-form__row
                .b-form__field
                  label.b-form__label.required(for='fos_user_registration_form_plainPassword_second') Retype password
                  input#fos_user_registration_form_plainPassword_second.b-form__input(type='password', name='fos_user_registration_form[plainPassword][second]', required='required', placeholder='Retype password')
                  button.b-form__btn-pass.js-pass(type='button', title='Show password')
              .b-form__row
                .b-form__checkbox
                    input#fos_user_registration_form_hasNewsSubscription(type='checkbox', name='fos_user_registration_form[hasNewsSubscription]', value='1')
                    label(for='fos_user_registration_form_hasNewsSubscription') I agree to receive mail newsletters
              .b-form__row
                .b-form__checkbox
                    input#fos_user_registration_form_hasAgreedWithOferta(type='checkbox', name='fos_user_registration_form[hasAgreedWithOferta]', required='required', value='1')
                    label.required(for='fos_user_registration_form_hasAgreedWithOferta') I agree to the Terms & Conditions and Privacy Policy
              .b-form__row
                .b-form__checkbox
                    input#fos_user_registration_form_adult(type='checkbox', name='fos_user_registration_form[adult]', required='required', value='1')
                    label.required(for='fos_user_registration_form_adult') I am 18 or over
              .b-join__btn
                button.btn.btn--paint(type='submit') Sign up
                input#fos_user_registration_form__token(type='hidden', name='fos_user_registration_form[_token]', value='neuMp6iRwCEjXmVzdgIjhLLslxfxIy51CynX5N-2qBM')
  .b-join__footer
    a(href="#") Privacy Policy
    a(href="#") Terms & Conditions
