.b-join.mfp-hide#join_popup
  .b-join__header
    .container
      .b-join__logo
        img(src="images/logo.svg" alt="")
  .b-join__container
    .b-join__tabs.b-tabs
      .b-join__nav
        button.b-join__tab.b-tabs__tab.-active(type="button")
          span Sign in
        button.b-join__tab.b-tabs__tab(type="button")
          span Sign up
      .b-join__content
        .b-tabs__item.-active.-fade
          .b-join__social
            a(href="#")
              img(src="images/social-color/facebook.svg" width="40" height="40" alt="")
            a(href="#")
              img(src="images/social-color/google-plus.svg" width="40" height="40" alt="")
            a(href="#")
              img(src="images/social-color/twitter.svg" width="40" height="40" alt="")
          .b-join__or or
          .b-join__form
            form.form#signin
              .b-form__row
                label.b-form__label(for="signin_email") Email or username
                .b-form__field
                  input.b-form__input(type="text" name="signin_email" id="signin_email" required)
              .b-form__row.-margin-half
                label.b-form__label(for="signin_password") Password
                .b-form__field
                  input.b-form__input(type="password" name="signin_password" id="signin_password" required)
                  button.b-form__btn-pass.js-pass(type="button" title="Show password")
              .b-form__row
                .b-form__checkbox
                  input(type="checkbox" name="signin_another_computer" id="signin_another_computer")
                  label(for="signin_another_computer") keep me logged  in
              .b-join__btn
                button.btn.btn--paint(type="submit") join
              .b-join__forgot
                span Forgot password? <a href="#">Password recovery</a>
        .b-tabs__item
          .b-join__form
            form.form#signup
              .b-form__row
                label.b-form__label(for="signup_email") Email
                .b-form__field
                  input.b-form__input(type="text" name="signup_email" id="signup_email" required)
              .b-form__row.-margin-half
                label.b-form__label(for="signup_username") Username
                .b-form__field
                  input.b-form__input(type="text" name="signup_username" placeholder="min 5 characters" id="signup_username" required)
              .b-form__row.-margin-half
                label.b-form__label(for="signup_password") Password
                .b-form__field
                  input.b-form__input(type="password" name="signup_password" placeholder="min 8 characters" id="signup_password" required)
                  button.b-form__btn-pass.js-pass(type="button" title="Show password")
              .b-form__row.-margin-half
                .b-form__checkbox
                  input(type="checkbox" name="signup_agree" id="signup_agree")
                  label(for="signup_agree") I agree to the <a href="#">Terms</a> & <a href="#">Conditions and Privacy Policy</a>
              .b-form__row
                .b-form__checkbox
                  input(type="checkbox" name="signup_age" id="signup_age")
                  label(for="signup_age") I am 18 or over
              .b-join__btn
                button.btn.btn--paint(type="submit") join
  .b-join__footer
    a(href="#") Privacy Policy
    a(href="#") Terms & Conditions
