.b-comp-profile.mfp-hide#complete_profile
  .b-comp-profile__title Complete your profile
  .b-comp-profile__form
    form.b-form
      .b-form__row
        .e-file
          label.e-file__label
            input.e-file__input(type="file" name="profile-photo")
            span.e-file__btn
            span.e-file__text add photo
      .b-form__row
        .b-form__half
          label.b-form__label(for="first-name") First name
          .b-form__field
            input.b-form__input(type="text" name="first-name" id="first-name" required)
        .b-form__half
          label.b-form__label(for="last-name") Last name
          .b-form__field
            input.b-form__input(type="text" name="last-name" id="last-name" required)
      .b-form__row
        label.b-form__label Birthday
        .b-form__date
          .b-form__field
            select.b-form__select(name="month")
              option(value="") Month
              option(value="January") January
              option(value="February ") February
              option(value="March ") March
              option(value="April ") April
              option(value="May") May
              option(value="June") June
              option(value="July") July
              option(value="August") August
              option(value="September") September
              option(value="October") October
              option(value="November") November
              option(value="December") December
          .b-form__field
            select.b-form__select(name="day")
              option(value="") Day
              option(value="1") 1
              option(value="2 ") 2
              option(value="3 ") 3
              option(value="4 ") 4
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") 12
              option(value="13") 13
              option(value="14") 14
              option(value="15") 15
              option(value="16") 16
              option(value="17") 17
              option(value="18") 18
              option(value="19") 19
              option(value="20") 20
              option(value="21") 21
              option(value="22") 22
              option(value="23") 23
              option(value="24") 24
              option(value="25") 25
              option(value="26") 26
              option(value="27") 27
              option(value="28") 28
              option(value="29") 29
              option(value="30") 30
              option(value="31") 31
          .b-form__field
            select.b-form__select(name="year")
              option(value="") Year
              - for (var i=1950; i<2017; i++) {
              option(value="#{i}")= i
              - }
      .b-form__row
        .b-form__half
          label.b-form__label Location
          .b-form__field
            select.b-form__select(name="location")
              option(value="")
              option(value="Russia") Russia
              option(value="Germany") Germany
              option(value="Spain") Spain
              option(value="USA") USA
              option(value="Japon") Japon
        .b-form__half
          label.b-form__label Gender
          .b-form__field
            select.b-form__select(name="gender")
              option(value="")
              option(value="Male") Male
              option(value="Female") Female
              option(value="Other") Other
      .b-form__btn
        button.btn(type="submit") join

