.catalog__product.-sale
  .catalog__product_sale -50%
  a.catalog__product_toggle(href="#")
  a.catalog__product_img(href="home.html")
    img(src="images/coffe/1.png" alt="")
  .catalog__product_back
    .catalog__product_title El Salvador Las Palmas Los Pirineos
    .catalog__product_scroll
      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
    .catalog__product_box
      .catalog__product_weight
        span Вес:
        .catalog__product_select
          select.custom-select
            option(value="250 г - 699р.") 250 г - 699р.
            option(value="500 г - 1 099р.") 500 г - 1 099р.
            option(value="1 кг - 1 699р.") 1 кг - 1 699р.
        span Помол:
        .catalog__product_select
          select.custom-select
            option(value="В зернах") В зернах
            option(value="Американ пресс") Американ пресс
            option(value="Аэропресс") Аэропресс
            option(value="Воронка") Воронка
            option(value="Гейзер") Гейзер
            option(value="Кемекс") Кемекс
            option(value="Турка") Турка
            option(value="Фильтр (Regular)") Фильтр (Regular)
            option(value="Френч-пресс/Чашка") Френч-пресс/Чашка
      .catalog__product_indicator
        .catalog__product_label Горечь
        .catalog__product_range
          span.value(style="width: 30%")
      .catalog__product_indicator
        .catalog__product_label Сладость
        .catalog__product_range
          span.value(style="width: 15%")
      .catalog__product_indicator
        .catalog__product_label Кислотность
        .catalog__product_range
          span.value(style="width: 80%")
    .catalog__product_btns
      a.catalog__product_more(href="#") подробнее
      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
  .catalog__product_bottom
    .catalog__product_country Эфиопия
    .catalog__product_name Sidamo Dintu <span>250 г</span>
    .catalog__product_price 650р. <span>1 500р.</span>
