.e-donate {
  position: fixed;
  transform: translateX(-50%);
  bottom: 15px;
  z-index: 20;
  transition: .3s;
  @media (min-width: $screen-sm-min) {
    bottom: 30px;
  }
  &:hover {
    transform: translateX(0);
  }
  &:before {
    content: '';
    width: 15px;
    height: 34px;
    background-color: #ffed00;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width:  50px;
    height: 50px;
    left:0;
    top: 0;
    border-radius: 100px;
    background-color: #ffed00;
    z-index: 9999;
    opacity: 0;
    animation: sonar--animate 2s infinite ease-out;
  }
  img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
  }
}

@keyframes sonar--animate {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}