.e-lang {
  position: relative;
  width: 40px;
  &__current {
    width: 40px;
    position: relative;
    padding-right: 20px;
    padding-left: 0;
    border: 0;
    background-color: transparent;
    &:after {
      content: '';
      width: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $gray transparent transparent transparent;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -2px;
    }
  }
  &__img {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    transition: .2s;
  }
  &__dropdown {
    max-width: 200px;
    position: absolute;
    top: 100%;
    z-index: 100;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(#000, .3);
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    @media (max-width: $screen-xs-max) {
      right: 0;
    }
    @media (min-width: $screen-sm-min) {
      margin-left: -50px;
      left: 50%;
    }
    &.-active {
      opacity: 1;
      visibility: visible;
      margin-top: 25px;
    }
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #fff;
      box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.03);
      position: absolute;
      top: -10px;
      transform: rotate(45deg);
      @media (max-width: $screen-xs-max) {
        right: 20px;
      }
      @media (min-width: $screen-sm-min) {
        margin-left: -10px;
        left: 50%;
      }
    }
    &.-active {
      display: block;
    }
  }
  &__scroll {
    height: 160px;
    overflow: auto;
    padding: 18px 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  &__item {
    &:not(:last-child) {

    }
  }
  &__text {
    overflow: hidden;
    max-width: 70px;
    text-overflow: ellipsis;
  }
  &__language {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 25px;
    transition: .2s;
    .e-lang__img {
      margin-right: 15px;
    }
    &:hover {
      background-color: $gray-bg;
    }
  }

}