.e-rating {
  color: $green;
  .br-theme-fontawesome-stars-o .br-widget a:after {
    color: $green;
  }
  .br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    color: $green;
  }
  .br-theme-fontawesome-stars-o .br-widget {
    height: auto;
  }
}