.e-social {

  &__title {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__remark {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 12px;
    color: $gray;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $screen-xs-max) {
      justify-content: center;
    }
  }
  &__link {
    display: inline-flex;
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
    transition: .2s;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}
