.b-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__box {

  }
  &__item {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 20px;
      @media (min-width: $screen-sm-min) {
        margin-right: 60px;
      }
      @media (min-width: $screen-lg-min) and (max-width: 1629px) {
        margin-right: 20px;
      }
    }
    &.-active {
      .b-sorting__stairs {
        &:before {
          width: 4px;
        }
        &:after {
          width: 12px;
        }
      }
    }
    .b-sorting__country {
      margin-bottom: 0;
    }
  }
  &__name {
    font-weight: 300;
    font-size: 12px;
    margin-right: 10px;
  }
  &__value {
    font-weight: 500;
    font-size: 12px;
  }
  &__stairs {
    display: inline-flex;
    width: 8px;
    height: 2px;
    margin-right: 6px;
    background-color: $text-color;
    opacity: .8;
    position: relative;
    &:before, &:after {
      content: '';
      background-color: $text-color;
      height: 2px;
      position: absolute;
      left: 0;
      transition: .3s;
    }
    &:before {
      width: 12px;
      top: -3px;
    }
    &:after {
      width: 4px;
      top: 3px;
    }
  }
  &__country {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
  }
  &__select {
    select {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      font-weight: 500;
      padding: 0;
    }
  }
  &__result {
    color: $gray;
    margin-bottom: 15px;
  }
  &__search {
    margin-bottom: 15px;
    @media (max-width: $screen-sm-max) {
      width: 100%;
      .e-search {
        max-width: none;
      }
    }
  }
}