.e-complaint
  .e-complaint__top
    .e-complaint__label.-black Rejected
    .e-complaint__time 24d : 10h : 35m
  .e-complaint__content
    .e-complaint__header
      .e-complaint__title Title
      .e-complaint__price 500 usd
    .e-complaint__text.js-scrollBar
      p If you deposit 20 dollars you will need to make 900 dollars of bets, and after that, you will able to withdraw this 20 dollarsLorem ipsum dolor sit amet,
      p vconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
  .e-complaint__btn
    a.btn(href="#") more