footer.l-footer
  .container
    .hidden-xs.hidden-sm.col-md-2.col-hd-2
      .e-logomin
        a.e-logomin__logo(href="#")
          img(src="images/logo-small.svg" alt="")
        .e-logomin__descrip Casino insure
        .e-copyright copyright © 2017
    .col-sm-2.col-hd-2
      .e-footer-list.js-list
        a.e-footer-list__name.js-list__btn(href="#") casinos
        ul.e-footer-list__ul.js-list__slide
          li
            a(href="#") All casinos
          li
            a(href="#") Mobile
          li
            a(href="#") Newest casinos
          li
            a(href="#") VR casinos
          li
            a(href="#") Blacklisted
    .col-sm-2.col-hd-2
      .e-footer-list.js-list
        a.e-footer-list__name.js-list__btn(href="#") Games
        ul.e-footer-list__ul.js-list__slide
          li
            a(href="#") All Games
          li
            a(href="#") Slots
          li
            a(href="#") Roulettes
          li
            a(href="#") Table
          li
            a(href="#") Live
    .col-sm-3.col-md-2.col-hd-4
      .e-footer-list.js-list
        a.e-footer-list__name.js-list__btn(href="#") bonuses
        .js-list__slide
          .row
            .col-hd-6
              ul.e-footer-list__ul
                li
                  a(href="#") All bonuses
                li
                  a(href="#") FS
                li
                  a(href="#") Match deposit
                li
                  a(href="#") Nodeposit bonuses
                li
                  a(href="#") Exclusive bonuses
                li
                  a(href="#") Welcome bonuses
                li
                  a(href="#") Cashback
                li
                  a(href="#") Lottery
            .col-hd-6
              ul.e-footer-list__ul
                li
                  a(href="#") Jackpots
                li
                  a(href="#") 2nd deposit
                li
                  a(href="#") 3rd deposit
                li
                  a(href="#") Free play
                li
                  a(href="#") High roller
                li
                  a(href="#") Reload
                li
                  a(href="#") Tournaments
    .col-sm-3.col-md-2.col-hd-4
      .row
        .col-hd-6
          .e-footer-list.js-list
            a.e-footer-list__name.js-list__btn(href="#") NEWs
            ul.e-footer-list__ul.js-list__slide
              li
                a(href="#") All news
              li
                a(href="#") Promotions
              li
                a(href="#") Big win
              li
                a(href="#") Industry news
              li
                a(href="#") Safety check
        .col-hd-6
          .e-footer-list.js-list
            a.e-footer-list__name.js-list__btn(href="#") tops
            ul.e-footer-list__ul.js-list__slide
              li
                a(href="#") Main tops
              li
                a(href="#") Safety check top
              li
                a(href="#") Casinos top
              li
                a(href="#") Games top
              li
                a(href="#") Bonuses top
    .col-sm-2.col-hd-2
      .e-footer-list.js-list
        a.e-footer-list__name.js-list__btn(href="#") support
        ul.e-footer-list__ul.js-list__slide
          li
            a(href="#") Make A Complaint
          li
            a(href="#") Subscribe
          li
            a(href="#") About
          li
            a(href="#") Site map
          li
            a(href="#") Contacts
          li
            a(href="#") Jobs
      .e-social
        .e-social__title Social
        .e-social__box
          a.e-social__link(href="#")
            img(src="images/social/instagram.svg" width="18" height="18" alt="")
          a.e-social__link(href="#")
            img(src="images/social/twitter.svg" width="18" height="18" alt="")
          a.e-social__link(href="#")
            img(src="images/social/facebook.svg" width="18" height="18" alt="")
          a.e-social__link(href="#")
            img(src="images/social/envelope.svg" width="18" height="18" alt="")
  .container
    .l-footer__bottom
      a(href="#") Privacy policy
      a(href="#") Terms & Conditions
      a(href="#") About
      a(href="#") Jobs