.l-header
  include _menu.pug
  .l-header__container
    .container
      .row
        .col-lg-7.col-hd-6.col-md-6.col-sm-5.col-xs-9
          .l-header__left.js-header__left
            .l-header__toggle
              button.e-burger.js-menu__toggle(type="button")
                span
            .l-header__logo
              a.e-logo(href="#")
                img(src="images/logo.svg" alt="CASINO INSURE")
            .l-header__search.js-header__search
              include ../elements/_search
        .col-lg-5.col-hd-6.col-md-6.col-sm-7.col-xs-3
          .l-header__right.js-header__right
            .l-header__language
              include ../elements/_language
            .l-header__btns.js-header__btns
              .l-header__subscribe
                include ../elements/_subscribe
            .l-header__profile
              .e-profile.js-drop
                button.e-profile__btn.js-drop__btn(type="button")
                  img(src="images/user.jpg" width="35" height="35" alt="")
                .e-profile__drop.js-drop__dropdown
                  .e-profile__drop_inner
                    ul.e-profile__drop_list
                      li.e-profile__drop_item
                        a.e-profile__drop_link(href="#")
                          span.e-profile__drop_icon.-profile
                          span.e-profile__drop_text My account
                      li.e-profile__drop_item
                        a.e-profile__drop_link(href="#")
                          span.e-profile__drop_icon.-notification
                          span.e-profile__drop_text Notification
                      li.e-profile__drop_item
                        a.e-profile__drop_link(href="#")
                          span.e-profile__drop_icon.-favourites
                          span.e-profile__drop_text Favourites
                      li.e-profile__drop_item
                        a.e-profile__drop_link(href="#")
                          span.e-profile__drop_icon.-complaints
                          span.e-profile__drop_text User complaints
                          span.e-profile__drop_count 5
                    .e-profile__drop_exit
                      a.e-profile__drop_link(href="#")
                        span.e-profile__drop_icon.-logout
                        span.e-profile__drop_text Log out
                span.e-profile__count 5
