.l-header
  include _menu.pug
  .l-header__container
    .container
      .row
        .col-lg-6.col-hd-5.col-md-6.col-sm-5.col-xs-9
          .l-header__left
            .l-header__toggle
              button.e-burger.js-menu__toggle(type="button")
                span
            .l-header__logo
              a.e-logo(href="#")
                img(src="images/logo.svg" width="210" height="55" alt="CASINO INSURE")
            .l-header__search
              include ../elements/_search
        .col-lg-6.col-hd-7.col-md-6.col-sm-7.col-xs-3
          .l-header__right
            .l-header__language
              include ../elements/_language
            .l-header__btns
              .l-header__subscribe
                include ../elements/_subscribe
              .l-header__join
                a.btn.btn--paint.open-join(href="#join_popup") join
                include ../popup/_profile
                include ../popup/_join-2