extends layouts/default

block variables
  - var body_class = 'page-notfound'

block content
  include common/_header
  .notfound
    .container
      .notfound__wrap
        .notfound__content
          .notfound__title Страница не найдена...
          .notfound__desc Скорее всего, вы ошиблись при наборе адреса или перешли по неверной ссылке. Проверьте корректность написание веб адреса или перейдите на главную страницу
          a.notfound__link(href="#") перейти на главную
        .notfound__img
          img(src="images/404.jpg" alt="")