extends layouts/default

block variables
  - var body_class = 'page-about'
  - var logo_path = 'images/logo-white.svg'

block content
  include common/_header
  .about
    .about__first
      .about__full_screen
        .video-bg.bg_parallax(style="background-image: url(images/bg_about.jpg)")
          video(width='100%', height='auto', preload='auto', autoplay='autoplay', loop='loop')
            source(src='images/video/video.mp4', type='video/mp4')
            source(src='images/video/video.webm', type='video/webm')
        .container
          .row
            .col-hd-4.offset-hd-2.col-xl-5.col-lg-6
              .about__full_heading
                h2 Кофейная компания Рокетс основана в&nbsp;2012 году в&nbsp;Москве.
                p ПМы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
                p Мы поставляем свежеобжаренный кофе в рестораны, кофейни и бары Москвы, регионов России и страны СНГ, а также предоставляем в аренду профессиональные итальянские эспрессо-машины и кофемолки прямого помола. На базе нашего тренинг-центра мы регулярно проводим обучающие программы как для начинающих бариста, так и для специалистов со стажем.
    .about__content
      .about__partners
        .container
          .about__partners_title
            h2 Мы сотрудничаем с 16 кафе по России, так&nbsp;же постовляем кофе порядка 30&nbsp;компаниям
          .about__partners_wrap
            .about__partners_item
              img(src="images/partners/anderson.png" alt="")
            .about__partners_item
              img(src="images/partners/anticvar.png" alt="")
            .about__partners_item
              img(src="images/partners/big_wine.png" alt="")
            .about__partners_item
              img(src="images/partners/coffee_and_the_city.png" alt="")
            .about__partners_item
              img(src="images/partners/sevicheria.png" alt="")
            .about__partners_item
              img(src="images/partners/tatrania.png" alt="")
            .about__partners_item
              img(src="images/partners/volmonskiy.png" alt="")
            .about__partners_item
              img(src="images/partners/wine_religion.jpg" alt="")
      .about__show
        .container
          .about__show_wrap
            .about__show_for
              .about__show_for_item
                .about__show_text
                  h2 Процесс обжарки и&nbsp;подготовка кофе
                  p Мы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
              .about__show_for_item
                .about__show_text
                  h2 Процесс обжарки и&nbsp;подготовка кофе
                  p Мы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
              .about__show_for_item
                .about__show_text
                  h2 Процесс обжарки и&nbsp;подготовка кофе
                  p Мы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
            .about__show_nav
              .about__show_nav_item
                .about__show_text
                  h2 Процесс обжарки и&nbsp;подготовка кофе
                  p Мы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
                img(src="images/show/1.jpg" alt="")
              .about__show_nav_item
                .about__show_text
                  h2 Процесс обжарки и&nbsp;подготовка кофе
                  p Мы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
                img(src="images/show/1.jpg" alt="")
              .about__show_nav_item
                .about__show_text
                  h2 Процесс обжарки и&nbsp;подготовка кофе
                  p Мы занимаемся полным циклом производства и продажей свежеобжаренного кофе. Многолетний опыт позволяет нам обеспечивать высокий уровень качества нашей продукции и сервиса.
                img(src="images/show/1.jpg" alt="")
      .about__video
        .container
          a.about__video_pattern(href="https://vimeo.com/279126949" style="background-image: url(images/video_about.jpg)")
            .about__video_text
              h2 Промо ролик<br>нашей компании
              span за 2 минуты о нас
      .about__team
        .container
          .about__team_wrap
            .about__team_nav
              .about__team_nav_item
                .about__team_text
                  h2 Илья Смирнов
                  p Менеджер 2 уровня
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                img(src="images/team/1.jpg" alt="")
              .about__team_nav_item
                .about__team_text
                  h3 Петр Восхилицкий
                  p Менеджер 2 уровня
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                img(src="images/team/2.jpg" alt="")
              .about__team_nav_item
                .about__team_text
                  h3 Илья Смирнов
                  p Менеджер 2 уровня
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                img(src="images/team/1.jpg" alt="")
              .about__team_nav_item
                .about__team_text
                  h3 Петр Восхилицкий
                  p Менеджер 2 уровня
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                img(src="images/team/2.jpg" alt="")
              .about__team_nav_item
                .about__team_text
                  h3 Илья Смирнов
                  p Менеджер 2 уровня
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                img(src="images/team/1.jpg" alt="")
              .about__team_nav_item
                .about__team_text
                  h3 Петр Восхилицкий
                  p Менеджер 2 уровня
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                  p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                img(src="images/team/2.jpg" alt="")
            .about__team_right
              .about__team_heading
                .about__team_title
                  h2 Наша команда
                .about__team_count 20 лучших специалистов
              .about__team_for
                .about__team_for_item
                  .about__team_text
                    h3 Илья Смирнов
                    p Менеджер 2 уровня
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                .about__team_for_item
                  .about__team_text
                    h3 Петр Восхилицкий
                    p Менеджер 2 уровня
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                .about__team_for_item
                  .about__team_text
                    h3 Илья Смирнов
                    p Менеджер 2 уровня
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                .about__team_for_item
                  .about__team_text
                    h3 Петр Восхилицкий
                    p Менеджер 2 уровня
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                .about__team_for_item
                  .about__team_text
                    h3 Илья Смирнов
                    p Менеджер 2 уровня
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
                .about__team_for_item
                  .about__team_text
                    h3 Петр Восхилицкий
                    p Менеджер 2 уровня
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                    p кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто
              .about__team_for_elements
                .about__team_for_arrows
      .about__progress
        .container
          .row
            .col-lg-6
              .about__progress_title
                h2 За 8 лет существования компании, у нас скопилось огромное количество достяжений
              .about__progress_desc
                p офе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
                p офе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот
            .col-lg-6
              .about__progress_box
                .about__progress_item
                  a.about__progress_link(href="#")
                    img(src="images/progress/1.png" alt="")
                .about__progress_item
                  a.about__progress_link(href="#")
                    img(src="images/progress/1.png" alt="")
                .about__progress_item
                  a.about__progress_link(href="#")
                    img(src="images/progress/1.png" alt="")
                .about__progress_item
                  a.about__progress_link(href="#")
                    img(src="images/progress/1.png" alt="")
                .about__progress_item
                  a.about__progress_link(href="#")
                    img(src="images/progress/1.png" alt="")
                .about__progress_item
                  a.about__progress_link(href="#")
                    img(src="images/progress/1.png" alt="")
      .about__jobs
        .jobs__form(style="background-image: url(images/pattern_2.jpg)")
          .container
            .jobs__form_wrap
              .jobs__form_title
                h3 Хотите попасть в команду?
                p Оставьте свои контактные данные и&nbsp;мы&nbsp;свяжемся с&nbsp;вами.
              form.form
                .form__row
                  .form__field.-half
                    label.form__label Имя:
                    input.form__input(type="text" name="name" value="" placeholder="" required)
                  .form__field.-half
                    label.form__label Email:
                    input.form__input(type="email" name="email" value="" placeholder="Rockets@coffee.ru" required)
                .form__row
                  .form__field.-half
                    label.form__label Телефон:
                    input.form__input(type="tel" name="tel" value="" placeholder="" required)
                  .form__field.-half
                    label.form__label Желаемая должность:
                    .form__select
                      select
                        option(value="hide")
                        option(value="Менджер") Менджер
                        option(value="Курьер") Курьер
                        option(value="Директор") Директор
                        option(value="Соучридитель") Соучридитель
                .form__row
                  .form__field
                    label.form__label Сообщение:
                    textarea.form__textarea( name="message" placeholder="Введите сообщение..." required)
                .form__row
                  .form__field.-half
                    .file-upload
                      label.file-upload__label(for="file-upload") Прикрепить резюме
                      input.file-upload__file#file-upload(type="file" value="")
                  .form__field.-half
                    button.form__btn(type="submit") отправить
                .form__confid Нажимая на кнопку, вы даете согласие на обработку персональных данных и&nbsp;соглашаетесь с&nbsp;политикой конфиденциальности.
      //.about__heading
      //  .container
      //    .row
      //      .col-xl-10.offset-xl-1
      //        .about__heading_box
      //          .about__heading_title
      //            h2 Кофе лювак (kopi luwak): обзор самого дорогого в мире сорта кофе
      //          .about__heading_desc
      //            p Те кто любит кофе непременно хотя бы раз слышали о самом дорогом кофе в мире, кофе Копи-Лювак. Знаменит он сбалансированным нежным ароматом и интересным способом производства. Стоимость этого кофе, героя сегодняшнего обзора, 250-1300$ за килограмм. Так за что же ценят этот сорт кофе во всём мире?
      //            p Кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?



