extends layouts/default

block variables
  - var body_class = 'page-accepted'

block content
  include common/_header
  .accepted
    .container
      .accepted__title
        h2 Спасибо, ваш заказ 204854 принят.
      .accepted__order
        .accepted__products
          .row
            .col-hd-6.col-xl-6.col-lg-7
              .accepted__products_wrap
                .accepted__products_item
                  .accepted__products_img
                    img(src="images/cart/1.jpg" alt="")
                  .accepted__products_content
                    .accepted__products_collumn
                      span.accepted__products_name Sidamo Dintu
                      span.accepted__products_country Эфиопия
                    .accepted__products_collumn
                      span.accepted__products_label В зернах
                      span.accepted__products_value 250 гр.
                    .accepted__products_collumn
                      span.accepted__products_row
                        span.accepted__products_label Кол-во:
                        span.accepted__products_count 1
                      span.accepted__products_price 650руб./шт
                .accepted__products_item
                  .accepted__products_img
                    img(src="images/cart/1.jpg" alt="")
                  .accepted__products_content
                    .accepted__products_collumn
                      span.accepted__products_name Sidamo Dintu
                      span.accepted__products_country Эфиопия
                    .accepted__products_collumn
                      span.accepted__products_label В зернах
                      span.accepted__products_value 250 гр.
                    .accepted__products_collumn
                      span.accepted__products_row
                        span.accepted__products_label Кол-во:
                        span.accepted__products_count 1
                      span.accepted__products_price 650руб./шт
                .accepted__products_item
                  .accepted__products_img
                    img(src="images/cart/1.jpg" alt="")
                  .accepted__products_content
                    .accepted__products_collumn
                      span.accepted__products_name Sidamo Dintu
                      span.accepted__products_country Эфиопия
                    .accepted__products_collumn
                      span.accepted__products_label В зернах
                      span.accepted__products_value 250 гр.
                    .accepted__products_collumn
                      span.accepted__products_row
                        span.accepted__products_label Кол-во:
                        span.accepted__products_count 1
                      span.accepted__products_price 650руб./шт
            .col-hd-4.offset-hd-1.col-xl-5.offset-xl-1.col-lg-5
              .accepted__details
                .accepted__details_title Детали заказа
                .accepted__details_row
                  span.accepted__details_label Имя:
                  span.accepted__details_value Кирилл
                .accepted__details_row
                  span.accepted__details_label Email:
                  span.accepted__details_value Tets@mail.ru
                .accepted__details_row
                  span.accepted__details_label Телефон:
                  span.accepted__details_value +7 948 443-43-23
                .accepted__details_row
                  span.accepted__details_label Адрес:
                  span.accepted__details_value Москва, ул. Москвоская 19-34
                .accepted__details_row
                  span.accepted__details_label Комментарий:
                  span.accepted__details_value пожалуйста как можно быстрее
                .accepted__details_row
                  span.accepted__details_label Доставка:
                  span.accepted__details_value Курьерская доставка по Москве
        .accepted__amount
          .accepted__amount_row
            span Сумма заказа:
            span 1 900 руб.
          .accepted__amount_row
            span Доставка:
            span 1 900 руб.
          .accepted__amount_row.-sale
            span Скидка:
            span 0
          .accepted__amount_row.-amount
            span Итоговая сумма:
            span 11 900 руб.
