extends layouts/default

block variables
  - var body_class = 'page-blog'

block content
  include common/_header
  .blog
    .blog__screen.bg_parallax
      .container
        .blog__screen_heading
          h1 Знания
          p Сборник базовой, профессионлальной информации о кофе и кофейной индустрии, экциклопедия, а так же статьи.
    .blog__trirggers
      .triggers(style="background-image: url(images/triggers_bg.jpg)")
        .container
          .triggers__row.row
              .triggers__item.col-lg-4
                .triggers__title
                  h3 Начинающим
                .triggers__desc
                  p Нам доверяют Paul, Friends Forever Co, Поль Бейкери, Волконский, BB&Burgers. Постоянным клиентам мы предлагаем самую выгодную цену.
                a.triggers__link.goto-sorting(href="#beginners") смотреть
              .triggers__item.col-lg-4
                .triggers__title
                  h3 Профессионалам
                .triggers__desc
                  p Нам доверяют Paul, Friends Forever Co, Поль Бейкери, Волконский, BB&Burgers. Постоянным клиентам мы предлагаем самую выгодную цену.
                a.triggers__link.goto-sorting(href="#professionals") смотреть
              .triggers__item.col-lg-4
                .triggers__title
                  h3 How to brew
                .triggers__desc
                  p Нам доверяют Paul, Friends Forever Co, Поль Бейкери, Волконский, BB&Burgers. Постоянным клиентам мы предлагаем самую выгодную цену.
                a.triggers__link.goto-sorting(href="#how_to_brow") смотреть
    .blog__articles
      .articles
        .container
          .articles__header
            .articles__sorting
              .articles__sorting_label Сортировать:
              .articles__sorting_dropdown
                button.articles__sorting_btn(type="button") Все
                .articles__sorting_menu
                  .articles__sorting_list
                    a.articles__sorting_item.-active#all_category(href="#") Все
                    a.articles__sorting_item#beginners(href="#") Начинающим
                    a.articles__sorting_item#professionals(href="#") Профессионалам
                    a.articles__sorting_item#how_to_brow(href="#") How to brow
            .articles__count всего: 120
          .articles__row.row
            .articles__item.col-md-6.col-lg-4
              a.articles__img(href="#")
                img(src="images/articles/0.jpg" alt="")
              .articles__info
                .articles__row
                  span.articles__category Начинающим
                  span.articles__data 22.12.2018
                a.articles__name(href="#") Мастер класс по приготовлению кофе
            .articles__item.col-md-6.col-lg-4
              a.articles__img(href="#")
                img(src="images/articles/1.jpg" alt="")
              .articles__info
                .articles__row
                  span.articles__category
                  span.articles__data 22.12.2018
                a.articles__name(href="#") Мастер класс по приготовлению кофе
            .articles__item.col-md-6.col-lg-4
              a.articles__img(href="#")
                .articles__img_wrap
                  img(src="images/articles/1.jpg" alt="")
              .articles__info
                .articles__row
                  span.articles__category How to brew
                  span.articles__data 22.12.2018
                a.articles__name(href="#") Мастер класс по приготовлению кофе
            .articles__item.col-md-6.col-lg-4
              a.articles__img(href="#")
                img(src="images/articles/1.jpg" alt="")
              .articles__info
                .articles__row
                  span.articles__category Начинающим
                  span.articles__data 22.12.2018
                a.articles__name(href="#") Мастер класс по приготовлению кофе
            .articles__item.col-md-6.col-lg-4
              a.articles__img(href="#")
                img(src="images/articles/1.jpg" alt="")
              .articles__info
                .articles__row
                  span.articles__category Начинающим
                  span.articles__data 22.12.2018
                a.articles__name(href="#") Мастер класс по приготовлению кофе
            .articles__item.col-md-6.col-lg-4
              a.articles__img(href="#")
                img(src="images/articles/1.jpg" alt="")
              .articles__info
                .articles__row
                  span.articles__category How to brew
                  span.articles__data 22.12.2018
                a.articles__name(href="#") Мастер класс по приготовлению кофе