extends layouts/default

block variables
  - var body_class = 'page-card'

block content
  include common/_header
  .card
    .container
      .card__box
        .card__left
          .card__left_img
            img(src="images/card/1.jpg" alt="")
          .card__left_bottom
            .card__left_item
              span.card__left_label высота:
              span.card__left_value 1800-2130м
            .card__left_item
              span.card__left_label разновидность:
              span.card__left_value местыне разновидности
            .card__left_item
              span.card__left_label обработка:
              span.card__left_value Natural (сухая)
            .card__left_item
              span.card__left_label урожай:
              span.card__left_value 2017
        .card__right
          .breadcrumbs
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Главная
              li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Кофе
              li.breadcrumbs__item.-active
                a.breadcrumbs__link(href="#") Ethiopia Sidamo Dintu
          .card__title
            h1 Ethiopia Odo Shakiso Dimtu Tero
            .card__title_remark Производитель: Rockets coffee
          .card__desc
            p В аромате голубика и гибискус, во вкусе малина, чайная роза и виноград мускат. Кислотность мягкая и деликатная.
          .card__price 650р.
          .card__select
            .card__select_item
              label.card__select_label выберите помол:
              .card__select_value
                select.custom-select
                  option(value="В зернах") В зернахgulp
                  option(value="В порошке") В порошке
            .card__select_item
              label.card__select_label выберите вес:
              .card__select_value
                select.custom-select
                  option(value="250 гр.") 250 гр.
                  option(value="500 гр.") 500 гр.
                  option(value="1000 гр.") 1000 гр.
            .card__select_item
              label.card__select_label(for="quantity") количество:
              input.card__select_count(id="quantity" type="number" value="1" name="quantity" min="1" autocomplete="off")
          .card__btns
            a.card__incart.js-addMinicart(href="#") В КОРЗИНУ
            a.card__delivery.openPopup(href="#popupDeliveryPayment") Доставка и оплата
      .card__info
        .methods
          h3 Рекомендованные методы заваривания:
          ul.methods__list
            each val, index in ['Дрип V60', 'Дзежве', 'Гейзер', 'Аэропресс', 'Кемекс', 'Чашка', 'Кофемашина', 'Френч пресс', 'Капельная кофеварка', 'Калита', 'Американ-пресс']
              li.methods__item
                a.methods__link(href="#")
                  .methods__img
                    img(src="images/methods/" + (index + 1) + ".svg" alt="")
                  .methods__name= val
      .card__info.row
        .card__text.col-lg-6.animation_up
          h3 Настоящий вкус в этом кофе<br>создает потрясающие эмоции
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          p laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          p laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
          blockquote Настоящий вкус в этом кофе создает потрясающие эмоциикус в этом кофе создает  потрясающие эмоции  кофе
        .card__diagram.col-lg-6
          h3 Диаграмма вкусового профиля
          +card('5, 3, 4, 4, 2', 5)
          .card__diagram_remark Диаграмма вкусового профиля
      .card__video
        a.about__video_pattern(href="https://vimeo.com/279126949" style="background-image: url(images/video_about.jpg)")
          .about__video_text
            h2 Промо ролик<br>нашей компании
            span за 2 минуты о нас
      .card__info.row
        .card__text.col-lg-6.animation_up
          h3 Настоящий вкус в этом кофе<br>создает потрясающие эмоции
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          p laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          p laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
          blockquote Настоящий вкус в этом кофе создает потрясающие эмоциикус в этом кофе создает  потрясающие эмоции  кофе
        .card__map.col-lg-6
          .country
            .country__map
              .country__pixelmap
                img(src="images/pixelMap.png" alt="")
              ul.country__list
                li.country__item.-right(style="left: 7%; top: 57%;")
                  a.country__link(href="#") Сальвадор
                li.country__item.-right.d-none(style="left: 13%; top: 62%;")
                  a.country__link(href="#") Коста-Рика
                li.country__item.-right.d-none(style="left: 20%; top: 71%;")
                  a.country__link(href="#") Бразилия
                li.country__item.-left.d-none(style="left: 25%; top: 59%;")
                  a.country__link(href="#") Гондурас
                li.country__item.-left.d-none(style="left: 29%; top: 66%;")
                  a.country__link(href="#") Колумбия
                li.country__item.-right.d-none(style="left: 45%; top: 59%;")
                  a.country__link(href="#") Руанда
                li.country__item.-left.d-none(style="left: 58%; top: 61%;")
                  a.country__link(href="#") Эфиопия
                li.country__item.-left.d-none(style="left: 61%; top: 67%;")
                  a.country__link(href="#") Кения
                li.country__item.-left.d-none(style="left: 78%; top: 59%;")
                  a.country__link(href="#") Китай
                li.country__item.-left.d-none(style="left: 79%; top: 71%;")
                  a.country__link(href="#") Индонезия
      .card__add
        .add
          .add__title
            h3 К кофе понадобиться:
          .add__wrap.row
            - var i = 0
              while i < 4
                .add__item.col-lg-3.col-sm-6
                  a.add__link.js-addMinicart(href="#")
                    .add__img
                      img(src="images/add/1.jpg" alt="")
                    .add__info
                      .add__name Sidamo Dintu
                      .add__price 650р.
                - i++
block modals
  #popupDeliveryPayment.popup-delivery.mfp-hide
    .popup-delivery__left
      h2 Доставка
      h6 Доставка курьером по Москве.
      p
        i Стоимость доставки в пределах МКАД составляет 300 рублей, при стоимости заказа более 3000 рублей - доставка бесплатная. Доставка за пределы МКАД согласовывается индивидуально с нашими менеджерами. Доставка осуществляется в будние дни на следующий день после оформления заказа.
      h6 Доставка по России и страны СНГ.
      p
        i Мы доставляем заказы в регионы России, а также в страны СНГ при помощи курьерской компании СДЭК. Доставка осуществляется после предварительной оплаты товара. Стоимость доставки рассчитывается автоматически при оформлении заказа.
      h6 Самовывоз - бесплатно
      p
        i Заказ можно забрать на следующий рабочий день после оформления заказа. После того как ваш заказ будет укомплектован для самовывоза, вы получите текстовое уведомление.
      p Офис Рокетс. Самовывоз по адресу: Нижегородская ул., 29-33 подъезд №20. Режим работы офиса: пн-пт, с 10:00 до 18:00. <a href="#">Схема проезда</a> от м. Марксистская, от станции МЦК Нижегородская.
    .popup-delivery__right
      h2 Оплата
      h6 Наличные.
      p
        i Данная форма оплаты доступна при оформлении заказа курьерской доставкой по Москве или при самовывозе.
      h6 Оплата онлайн банковской картой.
      p
        i Вы можете оплатить заказ банковской картой на нашем сайте. Вы будете перемещены на безопасную страницу, где нужно будет ввести данные Вашей карты: номер на лицевой стороне карты без пробелов, срок действия карты (указан на карте), имя и фамилию латинскими буквами, как на карте, CVV/CVC-код - последние 3 цифры, указанные на оборотной стороне карты.
      h6 Оплата банковским переводом.
      p
        i Вы можете оплатить заказ банковским перерводом. Для этого необходимо в корзине выбрать способ оплаты: "безналичный банковский перевод" и счет на оплату будет сформирован автоматически.












