extends layouts/default

block variables
  - var body_class = 'page-cardevents'

block content
  include common/_header
  .cardevents
    .container
      .row
        .col-xl-5
          .cardevents__content.animation_up
            .cardevents__top
              span 22.01.2018
              span 14:00 - 16:00
            .cardevents__title
              h1 Мастер класс по приготовлению кофе
            .cardevents__info
              span Москва, ул. Полянка, д. 10. Кафе “Школьник” <a href="#">Схема проезда</a>
            .cardevents__desc
              p Этот сорт кофе начинает свою историю несколько веков назад в Индонезии. После высадки голландцев в этом регионе на самых плодородных землях помимо прочих сельхозкультур стали выращивать кофе, почвы островов и климат идеально подошёл. А благодаря спросу на кофе в Европе, кофейные плантации быстро распространялись по островам Индонезии.
            .cardevents__bottom
              .cardevents__price 650р.
              .cardevents__count
                label.cardevents__count_label количество:
                input.cardevents__count_qty(type="number" value="1")
            a.cardevents__btn.js-addMinicart(href="#") В КОРЗИНУ
        .col-xl-7
          .cardevents__img
            img(src="images/cardevents/1.jpg" alt="")