extends layouts/default

block variables
  - var body_class = 'page-cardblog'

block content
  include common/_header
  .cardblog
    .cardblog__first
      .cardblog__full_screen.bg_parallax(style="background-image: url(images/bg_aeropress.jpg)")
        .container
          .cardblog__full_heading
            h2 Аэропресс
            p Сборник базовой, профессионлальной информации о кофе и кофейной индустрии, экциклопедия, а так же статьи.
      .cardblog__back
        a.back-button(href='#' onclick="javascript:history.back(); return false;") Назад
    .cardblog__content
      .cardblog__row
        .container
          .row.align-items-center
            .col-lg-6.cardblog__order-text.animation_up
              h2 История изобретения
              p В 1994 году американец Алан Адлер изобрел аэропресс. Идея создания пришла к Алану после разговора с женой о том, что кофе в капельной кофеварке получается водянистым. В результате экспериментов с температурой заваривания Алан понял, что если заливать кофе не кипящей водой, то вкус будет мягче.
              p Оставалась еще одна проблема, которую стремился решить Алан — это время заваривания кофе. За счет использования давления удалось существенно сократить время заваривания. Кофе, пропущенный через фильтр под давлением, получился вкуснее, чем кофе из капельной кофеварки. В 2005 году в магазинах появились первые аэропрессы, которые в настоящее время являются неотъемлемой частью кофейной культуры.
            .col-lg-6.cardblog__order-img.justify-content-end.d-flex
              img.parallax(src="images/aeropress_1.jpg" alt="")
      .cardblog__full(style="background-image: url(images/pattern_1.jpg)")
        .container
          .row
            .col-xl-10.offset-xl-1
              .cardblog__full_box
                .row
                  .col-lg-8.offset-lg-2.animation_up
                    br
                    br
                    p <strong>Вам понадобится:</strong> Аэропресс, бумажные фильтры, весы, 18.5 г кофе, 240 мл воды, помол мелко-средний (мельче сахара)
                    p <strong>Время приготовления:</strong> 2 минуты 30 секунда
                    br
                    br
      .cardblog__row
        .container
          .row
            .col-lg-6.cardblog__order-img
              img.parallax(src="images/aeropress_2.jpg" alt="")
            .col-lg-5.cardblog__order-text
              div
                strong 01
                br
                strong Вам понадобится
                p Необходимо поместить бумажный фильтр в нижнюю часть и смочить горячей водой.
              div
                strong 02
                br
                strong Вам понадобится
                p Необходимо поместить бумажный фильтр в нижнюю часть и смочить горячей водой.
              div
                strong 03
                br
                strong Вам понадобится
                p Необходимо поместить бумажный фильтр в нижнюю часть и смочить горячей водой.
              div
                strong 04
                br
                strong Вам понадобится
                p Необходимо поместить бумажный фильтр в нижнюю часть и смочить горячей водой.
              div
                strong 05
                br
                strong Вам понадобится
                p Необходимо поместить бумажный фильтр в нижнюю часть и смочить горячей водой.
              br
              p В 1994 году американец Алан Адлер изобрел аэропресс. Идея создания пришла к Алану после разговора с женой о том, что кофе в капельной кофеварке получается водянистым. В результате экспериментов с температурой заваривания Алан понял, что если заливать кофе не кипящей водой, то вкус будет мягче.
              p Оставалась еще одна проблема, которую стремился решить Алан — это время заваривания кофе. За счет использования давления удалось существенно сократить время заваривания. Кофе, пропущенный через фильтр под давлением, получился
      .cardblog__full(style="background-image: url(images/pattern_1.jpg)")
        .container
          .row
            .col-xl-10.offset-xl-1
              .cardblog__slider
                .cardblog__slider_item
                  .cardblog__slider_inner
                    .cardblog__slider_img
                      img(src="images/cardblog_slider_img.jpg" alt="")
                    .cardblog__slider_content
                      h3 Рецепт от “шефа”
                      p <strong>Вам понадобится:</strong> Аэропресс, бумажные фильтры, весы, 18.5 г кофе, 240 мл воды, помол мелко-средний (мельче сахара)
                      p В 1994 году американец Алан Адлер изобрел аэропресс. Идея создания пришла к Алану после разговора с женой о том, что кофе в капельной кофеварке получается водянистым. В результате экспериментов с температурой заваривания Алан понял, что если заливать кофе не кипящей водой, то вкус будет мягче.
                      p Оставалась еще одна проблема, которую стремился решить Алан — это время заваривания кофе. За счет использования давления удалось существенно сократить время заваривания. Кофе, пропущенный через фильтр под давлением, получился вкуснее, чем кофе из капельной кофеварки.
                      p
                        i Эрик, шеф бариста сети кофе
                .cardblog__slider_item
                  .cardblog__slider_inner
                    .cardblog__slider_img
                      img(src="images/aeropress_1.jpg" alt="")
                    .cardblog__slider_content
                      h3 Современное оборудование
                      p <strong>Какой то текст:</strong> Идея создания пришла к Алану после разговора с женой о том, что кофе в капельной кофеварке получается водянистым. В результате экспериментов с температурой заваривания Алан понял, что если заливать кофе не кипящей водой, то вкус будет мягче.
                      p Оставалась еще одна проблема, которую стремился решить Алан — это время заваривания кофе. За счет использования давления удалось существенно сократить время заваривания. Кофе, пропущенный через фильтр под давлением, получился вкуснее, чем кофе из капельной кофеварки.
                      p
                        i Аэропресс






