extends layouts/default

block variables
  - var body_class = 'page-cardblog'

block content
  include common/_header
  .cardblog
    .cardblog__first
      .cardblog__first_screen.bg_parallax(style="background-image: url(images/bg_cardblog.jpg)")
        .cardblog__back
          a.back-button(href='#' onclick="javascript:history.back(); return false;") Назад
      .cardblog__header
        .container
          .row
            .col-xl-10.offset-xl-1
              .cardblog__header_box
                .cardblog__header_title
                  .title-cliptext(style="background-image: url(../images/cardblog_text_bg.jpg)")
                    h1 Кофе лювак (kopi luwak): обзор самого дорогого в мире сорта кофе
                .cardblog__header_desc
                  p Те кто любит кофе непременно хотя бы раз слышали о самом дорогом кофе в мире, кофе Копи-Лювак. Знаменит он сбалансированным нежным ароматом и интересным способом производства. Стоимость этого кофе, героя сегодняшнего обзора, 250-1300$ за килограмм. Так за что же ценят этот сорт кофе во всём мире?
                  p Кофе — второй самый продаваемый товар на мировом рынке после нефти! А на любимый напиток истинные ценители готовы потратить баснословные деньги. Кто больше — тот круче! Так какой же самый дорогой кофе в мире? И сколько он стоит?
    .cardblog__content
      .cardblog__row
        .container
          .row
            .col-lg-6.cardblog__order-img
              img.parallax(src="images/cardblog_img.jpg" alt="")
            .col-lg-5.cardblog__order-text
              h2 Начнём с небольшого исторического экскурса
              p Этот сорт кофе начинает свою историю несколько веков назад в Индонезии. После высадки голландцев в этом регионе на самых плодородных землях помимо прочих сельхозкультур стали выращивать кофе, почвы островов и климат идеально подошёл. А благодаря спросу на кофе в Европе, кофейные плантации быстро распространялись по островам Индонезии.
              p Местные маленькие зверьки мусанги (или пальмовые циветты) быстро полюбили плоды кофейных деревьев, местные жители острова Суматры называют их «Лювак». Эти зверьки в природе отбирают зрелые и самые вкусные плоды кофейного дерева, в процессе пищеварения им удаётся переварить мякоть кофейного плода, но само кофейное зерно не переваривается и выводится из организма естественным путём.
      .cardblog__row
        .container
          .row
            .offset-lg-1.col-lg-5.cardblog__order-text
              h2 Почему же кофе Лювак обладает таким необычным вкусом и&nbsp;ароматом?
              p Приготовленный таким способом кофе обладал интересными вкусовыми качествами, был более мягок и насыщенным.
              p Уже позже учёные выяснили что в процессе пищеварения Лювака зёрна под воздействием энзимов подвергаются ферментации, что приводит уменьшению количества белков в кофейных зёрен и к изменению итоговых вкусовых качеств готового напитка. Такой напиток меньше горчит и обладает приятным мягким вкусом.
            .col-lg-6.cardblog__order-img
              img.parallax(src="images/cardblog_img.jpg" alt="")
      .cardblog__full(style="background-image: url(images/pattern_1.jpg)")
        .container
          .row
            .col-xl-10.offset-xl-1
              .cardblog__full_box
                .row
                  .col-md-6.animation_up
                    p Дороговизна кофе Лювак обусловлена небольшим количеством сбора экскрементов зверьков с одной плантации и более сложными технологическими процессами очистки и обработки зёрен.
                    p Настоящий Копи Лювак производится только в дикой природе, когда у зверьков есть возможность свободно передвигаться и выбрать спелые и самые вкусные плоды.
                  .col-md-6.animation_up
                    p Из-за высокой цены оригинального кофе Kopi Luwak сейчас распространён кофе полученный в результате содержания Мусангов в клетках, при таком подходе сильно страдает вкус итогового напитка, так как зачастую качество исходных кофейных плодов, которые идут на корм зверькам, весьма посредственное.
                    p
                      strong Остерегайтесь подделок и покупайте кофе Лювак у проверенных производителей!
      .cardblog__row
        .container
          .row
            .col-lg-6.cardblog__order-img
              img.parallax(src="images/luwak.jpg" alt="")
            .col-lg-5.cardblog__order-text
              h2 Знакомство с этим необычным кофе
              p Моё же знакомство с кофе Лювак случилось не так давно. Я нашёл проверенного продавца, у которого можно купить настоящий дикий Копи Лювак. Я живу в Москве и заветные 100 грамм самого дорогого сорта кофе в мире были доставлены домой уже на следующий день после заказа. Кофе был упакован в пакет с зип-застёжкой и дегазационным клапаном.
              p Открыв упаковку сразу почувствовался интересный запах, это был кофейный аромат с лёгкими нотками цветов и фруктовов. На упаковке были рекомендации по приготовлению, 1.5 чайных ложки на 100 мл воды.
              blockquote
                strong Если вы будете в Индонезии, ради развлечения вы можете попробовать кофе Лювак там, где его производят.<br>Во всяком случае, будет интересно.
              p Прошло ещё несколько минут и заветная чашка кофе готова. Поделюсь первым впечатлением с вами: в полученном напитке есть интересные нотки, заметно отличается аромат от привычных мне сортов 100% арабики, абсолютно не горький и потрясающе нежный вкус.
              p Полученный напиток оправдал ожидания, дикий кофе Лювак оказался мягким, нежным, практически без горчинки, с замечательным характерным ароматом и приятным долгим послевкусием.







