extends layouts/default

block variables
  - var body_class = 'page-cart'
  - var cart_class_is_have = '-is-have'
  - var cart_product_count = 3

block content_outside
  .checkout
    a#checkoutClose.checkout__close(href="#")
    form#checkout.checkout__wrap
      .checkout__box
        .checkout__title
          h3 Доставка
        .checkout__city
          label.checkout__label Город доставки:
          input.checkout__input(type="text" name="city" required value="Москва")
        .checkout__shipping
          .checkout__shipping_item
            label.checkout__shipping_label(for="shipping_rate")
              input.checkout__shipping_input(type="radio" id="shipping_rate" name="shipping_method" value="shipping_rate" required)
              span.checkout__shipping_value
                span.checkout__shipping_title Курьерская доставка
                span.checkout__shipping_content
                  span.checkout__shipping_desc Доставки курьером в&nbsp;пределах МКАД
                  span.checkout__shipping_price 300 руб.
          .checkout__shipping_item
            label.checkout__shipping_label(for="shipping_sdek")
              input.checkout__shipping_input(type="radio" id="shipping_sdek" name="shipping_method" value="shipping_sdek" required)
              span.checkout__shipping_value
                span.checkout__shipping_title Курьер. служба СДЭК
                span.checkout__shipping_content
                  span.checkout__shipping_desc Доставка курьером по&nbsp;адресу или&nbsp;в&nbsp;пункт самовывоза
                  span.checkout__shipping_price от 299 руб.
            .checkout__shipping_sdek
              label.checkout__checkbox(for="shipping_sdek_rate")
                input.checkout__checkbox_input(type="radio" id="shipping_sdek_rate" name="shipping_sdek" value="shipping_sdek_rate" )
                span.checkout__checkbox_value По адресу - <span class="price">500 руб.</span>
              label.checkout__checkbox(for="shipping_sdek_pickup")
                input.checkout__checkbox_input(type="radio" id="shipping_sdek_pickup" name="shipping_sdek" value="shipping_sdek_pickup")
                span.checkout__checkbox_value Пункт самовывоза - <span class="price">299 руб.</span>
          .checkout__shipping_item
            label.checkout__shipping_label(for="shipping_pickup")
              input.checkout__shipping_input(type="radio" id="shipping_pickup" name="shipping_method" value="shipping_pickup" required)
              span.checkout__shipping_value
                span.checkout__shipping_title Самовывоз
                span.checkout__shipping_content
                  span.checkout__shipping_desc Самостоятельно из нашего офиса по адресу: Москва, ул. Дмитровская д.8
                  span.checkout__shipping_price Бесплатно
          .checkout__shipping_rate
            .checkout__row
              .checkout__field
                label.checkout__label Адрес доставки:
                input.checkout__input(type="text" name="shipping_address" value="")
            .checkout__row
              .checkout__half
                label.checkout__label Дата доставки:
                input.checkout__input(type="text" id="date" name="shipping_date" value="")
              .checkout__half
                label.checkout__label Время доставки:
                .checkout__select
                  select
                    option(value="9:00-12:00") 9:00-12:00
                    option(value="12:00-17:00") 12:00-17:00
                    option(value="17:00-21:00") 17:00-21:00
          .checkout__shipping_pickup-sdek
            .checkout__row
              .checkout__field
                label.checkout__label Выберите адрес пункта самовывоса:
                .checkout__select
                  select
                    option(value="На Саянской") На Саянской
                    option(value="На Кутузовском") На Кутузовском
                    option(value="На Шоссе Энтузиастов") На Шоссе Энтузиастов
                    option(value="На Шоссе Багратионовской") На Багратионовской
          .checkout__shipping_pickup
            label.checkout__label Адрес пункта самовывоза:
            input.checkout__input(type="text" name="shipping_address" value="" disabled)
            a.checkout__shipping_in-map.jsChangePickupPoint(href="#") Изменить пункт самовывоза
      .checkout__box
        .checkout__title.-slide
          h3 Оплата
        .checkout__slide
          .checkout__payment
            .checkout__payment_item
              label.checkout__payment_label(for="payment_card")
                input.checkout__payment_input(type="radio" id="payment_card" name="payment_method" value="payment_card" required)
                span.checkout__payment_value
                  span.checkout__payment_thumbnail
                    img(src="images/payment_bank.jpg" alt="")
                  span.checkout__payment_method Банковской<br>картой
            .checkout__payment_item
              label.checkout__payment_label(for="payment_cash")
                input.checkout__payment_input(type="radio" id="payment_cash" name="payment_method" value="payment_cash" required)
                span.checkout__payment_value
                  span.checkout__payment_thumbnail
                    img(src="images/payment_cash.jpg" alt="")
                  span.checkout__payment_method Наличными
            .checkout__payment_item
              label.checkout__payment_label(for="payment_cashless")
                input.checkout__payment_input(type="radio" id="payment_cashless" name="payment_method" value="payment_cashless" required)
                span.checkout__payment_value
                  span.checkout__payment_thumbnail
                    img(src="images/payment_cash.jpg" alt="")
                  span.checkout__payment_method Безналичный<br>расчет
      .checkout__box
        .checkout__title.-slide
          h3 Личные данные
        .checkout__slide
          .checkout__row
            .checkout__half
              label.checkout__label Имя:
              input.checkout__input(type="text" name="name" value="" required)
            .checkout__half
              label.checkout__label Фамилия:
              input.checkout__input(type="text" name="last-name" value="" required)
          .checkout__row
            .checkout__half
              label.checkout__label Телефон:
              input.checkout__input(type="tel" name="tel" value="" required)
            .checkout__half
              label.checkout__label Электронная почта:
              input.checkout__input(type="email" name="email" value="" required)
      .checkout__legal
        .checkout__box
          .checkout__title.-slide
            h3 Юридические реквизиты
          .checkout__slide
            .checkout__row
              .checkout__half
                label.checkout__label Полное наименование:
                input.checkout__input(type="text" name="legal_details_name" value="" required)
              .checkout__half
                label.checkout__label Адрес регистрации:
                input.checkout__input(type="text" name="legal_details_address" value="" required)
            .checkout__row
              .checkout__half
                label.checkout__label ИНН:
                input.checkout__input(type="text" name="legal_details_inn" value="" required)
              .checkout__half
                label.checkout__label ОКПО:
                input.checkout__input(type="text" name="legal_details_okpo" value="" required)
            .checkout__row
              .checkout__half
                label.checkout__label КПП:
                input.checkout__input(type="text" name="legal_details_kpp" value="" required)
              .checkout__half
                label.checkout__label ОГРНИП:
                input.checkout__input(type="text" name="legal_details_ogrpnip" value="" required)
        .checkout__box
          .checkout__title.-slide
            h3 Банковские реквизиты
          .checkout__slide
            .checkout__row
              .checkout__half
                label.checkout__label БИК:
                input.checkout__input(type="text" name="bank_details_bik" value="" required)
              .checkout__half
                label.checkout__label Корр. счет:
                input.checkout__input(type="text" name="bank_details_korr_count" value="" required)
            .checkout__row
              .checkout__half
                label.checkout__label Рассчетный счет:
                input.checkout__input(type="text" name="bank_details_ras_count" value="" required)
              .checkout__half
                label.checkout__label Название банка:
                input.checkout__input(type="text" name="bank_details_name" value="" required)
            .checkout__row
              .checkout__field
                label.checkout__label Адрес банка:
                input.checkout__input(type="text" name="bank_details_address" value="" required)
      .checkout__row
        .checkout__field
          label.checkout__label Комментарий:
          input.checkout__input(type="text" name="comments" value="" placeholder="Не обязательно")
      .checkout__coupon
        label.checkout__label Ввести купон
        input.checkout__input.has_button(type="text" name="coupon" value="" placeholder="Ввести купон")
        a.checkout__coupon_link(href="#") Применить
      .checkout__amount
        .checkout__amount_product
          span.checkout__amount_label 3 товара
          span.checkout__amount_value 3 500 руб.
        .checkout__amount_shipping
          span.checkout__amount_label Доставка
          span.checkout__amount_value 300 руб.
        .checkout__amount_total
          span.checkout__amount_order-label Итоговая сумма:
          span.checkout__amount_order-price 3 800 руб.
      .checkout__oferta
        label.checkout__checkbox(for="public_oferta")
          input.checkout__checkbox_input(type="checkbox" id="public_oferta" name="public_oferta" value="public_oferta" required)
          span.checkout__checkbox_value Я ознакомился(ась) с условиями <a href="#">публичной оферты</a>
      button.checkout__submit(type="submit") перейти к оплате
      span.checkout__error Остались не заполненные поля
block content
  include common/_header
  .cart
    .container
      .cart__wrap
        .cart__header
          .cart__title
            h2 Корзина
          .cart__count 3 товара
        .cart__content
          .cart__item
            .cart__thumbnail
              a(href="#")
                img(src="images/cart/1.jpg" alt="")
            .cart__row
              .cart__info
                a.cart__name(href="#") Sidamo Dintu
                a.cart__country(href="#") Эфиопия
              .cart__sets
                .cart__sets_item
                  lable.cart__sets_label Помол:
                  .cart__select
                    select.custom-select
                      option(value="В зернах") В зернах
                        option(value="Американ пресс") Американ пресс
                        option(value="Аэропресс") Аэропресс
                        option(value="Воронка") Воронка
                        option(value="Гейзер") Гейзер
                        option(value="Кемекс") Кемекс
                        option(value="Турка") Турка
                        option(value="Фильтр (Regular)") Фильтр (Regular)
                        option(value="Френч-пресс/Чашка") Френч-пресс/Чашка
                .cart__sets_item
                  lable.cart__sets_label Вес:
                  .cart__select
                    select.custom-select
                      option(value="250 гр.") 250 гр.
                      option(value="500 гр.") 500 гр.
                      option(value="1000 гр.") 1000 гр.
                .cart__sets_item
                  lable.cart__sets_label Кол-во:
                  .cart__quentity
                    input(type="number" name="quentity" value="1")
              .cart__price 650руб./шт
            a.cart__delete(href="#")
          .cart__item
            .cart__thumbnail
              img(src="images/cart/1.jpg" alt="")
            .cart__row
              .cart__info
                .cart__name Sidamo Dintu
                .cart__country Эфиопия
              .cart__sets
                .cart__sets_item
                  lable.cart__sets_label Помол:
                  .cart__select
                    .catalog__product_select
                      select.custom-select
                        option(value="В зернах") В зернах
                        option(value="Американ пресс") Американ пресс
                        option(value="Аэропресс") Аэропресс
                        option(value="Воронка") Воронка
                        option(value="Гейзер") Гейзер
                        option(value="Кемекс") Кемекс
                        option(value="Турка") Турка
                        option(value="Фильтр (Regular)") Фильтр (Regular)
                        option(value="Френч-пресс/Чашка") Френч-пресс/Чашка
                .cart__sets_item
                  lable.cart__sets_label Вес:
                  .cart__select
                    select.custom-select
                      option(value="250 гр.") 250 гр.
                      option(value="500 гр.") 500 гр.
                      option(value="1000 гр.") 1000 гр.
                .cart__sets_item
                  lable.cart__sets_label Кол-во:
                  .cart__quentity
                    input(type="number" name="quentity" value="1")
              .cart__price 650руб./шт
            a.cart__delete(href="#")
          .cart__item
            .cart__thumbnail
              img(src="images/cart/1.jpg" alt="")
            .cart__row
              .cart__info
                .cart__name Sidamo Dintu
                .cart__country Эфиопия
              .cart__sets
                .cart__sets_item
                  lable.cart__sets_label Помол:
                  .cart__select
                    .catalog__product_select
                      select.custom-select
                        option(value="В зернах") В зернах
                        option(value="Американ пресс") Американ пресс
                        option(value="Аэропресс") Аэропресс
                        option(value="Воронка") Воронка
                        option(value="Гейзер") Гейзер
                        option(value="Кемекс") Кемекс
                        option(value="Турка") Турка
                        option(value="Фильтр (Regular)") Фильтр (Regular)
                        option(value="Френч-пресс/Чашка") Френч-пресс/Чашка
                .cart__sets_item
                  lable.cart__sets_label Вес:
                  .cart__select
                    select.custom-select
                      option(value="250 гр.") 250 гр.
                      option(value="500 гр.") 500 гр.
                      option(value="1000 гр.") 1000 гр.
                .cart__sets_item
                  lable.cart__sets_label Кол-во:
                  .cart__quentity
                    input(type="number" name="quentity" value="1")
              .cart__price 650руб./шт
            a.cart__delete(href="#")
    .cart__footer
      .container
        .cart__footer_box
          a.cart__continue-shopping(href="#") Продолжить покупки
          .cart__amount Итого к оплате: 30 000 руб.
          a#checkoutOrder.cart__order-btn(href="#") Оформить заказ




  .map-modal.mfp-hide#map-modal
    .map_wrapper#map
  