extends layouts/default

block variables
  - var body_class = 'page-catalog'

block content
  include common/_header
  .catalog
    .container
      .catalog__header
        .catalog__title
          h1 Каталог
        .catalog__filter
          a.catalog__filter_link(href="#") ФИЛЬТР
        .catalog__menu
          ul.nav.nav-tabs
            li.nav-item
              a.nav-link.active(href="#") Кофе
            li.nav-item
              a.nav-link(href="#") Чай
            li.nav-item
              a.nav-link(href="#") Аксессуары
            li.nav-item
              a.nav-link(href="#") Стиль
      
      .catalog__filter_content
        .filter
          .filter__wrap
            .filter__box
              .filter__name тип кофе:
              ul.filter__list
                li.filter__item
                  a.filter__checklink.-active(href="#") Эспрессо
                li.filter__item
                  a.filter__checklink(href="#") Фильтр
                li.filter__item
                  a.filter__checklink(href="#") Арабика
                li.filter__item
                  a.filter__checklink(href="#") Смесь арабики и&nbsp;рабусты
                li.filter__item
                  a.filter__checklink(href="#") Декаф
            .filter__box
              .filter__name метод заваривания:
              ul.filter__list
                li.filter__item
                  label.checkbox(for="check_6")
                    input.checkbox__input(type="checkbox" id="check_6" name="check_6")
                    span.checkbox__text V60
                li.filter__item
                  label.checkbox(for="check_7")
                    input.checkbox__input(type="checkbox" id="check_7" name="check_7")
                    span.checkbox__text Турка
                li.filter__item
                  label.checkbox(for="check_8")
                    input.checkbox__input(type="checkbox" id="check_8" name="check_8")
                    span.checkbox__text Гейзер
                li.filter__item
                  label.checkbox(for="check_9")
                    input.checkbox__input(type="checkbox" id="check_9" name="check_9")
                    span.checkbox__text Аэропресс
                li.filter__item
                  label.checkbox(for="check_10")
                    input.checkbox__input(type="checkbox" id="check_10" name="check_10")
                    span.checkbox__text Кемес
                li.filter__item
                  label.checkbox(for="check_11")
                    input.checkbox__input(type="checkbox" id="check_11" name="check_11")
                    span.checkbox__text Чашка
                li.filter__item
                  label.checkbox(for="check_12")
                    input.checkbox__input(type="checkbox" id="check_12" name="check_12")
                    span.checkbox__text Комемашина
                li.filter__item
                  label.checkbox(for="check_13")
                    input.checkbox__input(type="checkbox" id="check_13" name="check_13")
                    span.checkbox__text Калита
                li.filter__item
                  label.checkbox(for="check_14")
                    input.checkbox__input(type="checkbox" id="check_14" name="check_14")
                    span.checkbox__text Френч-пресс
            .filter__box
              .filter__name регион:
              ul.filter__list
                li.filter__item
                  label.checkbox(for="check_131")
                    input.checkbox__input(type="checkbox" id="check_131" name="check_131")
                    span.checkbox__text Сальвадор
                li.filter__item
                  label.checkbox(for="check_141")
                    input.checkbox__input(type="checkbox" id="check_141" name="check_141")
                    span.checkbox__text Коста-рика
                li.filter__item
                  label.checkbox(for="check_15")
                    input.checkbox__input(type="checkbox" id="check_15" name="check_15")
                    span.checkbox__text Коста-рика
                li.filter__item
                  label.checkbox(for="check_16")
                    input.checkbox__input(type="checkbox" id="check_16" name="check_16")
                    span.checkbox__text Колумбия
                li.filter__item
                  label.checkbox(for="check_17")
                    input.checkbox__input(type="checkbox" id="check_17" name="check_17")
                    span.checkbox__text Бразилия
                li.filter__item
                  label.checkbox(for="check_18")
                    input.checkbox__input(type="checkbox" id="check_18" name="check_18")
                    span.checkbox__text Бразилия
                li.filter__item
                  label.checkbox(for="check_19")
                    input.checkbox__input(type="checkbox" id="check_19" name="check_19")
                    span.checkbox__text Эфиопия
                li.filter__item
                  label.checkbox(for="check_120")
                    input.checkbox__input(type="checkbox" id="check_120" name="check_120")
                    span.checkbox__text Кения
                li.filter__item
                  label.checkbox(for="check_21")
                    input.checkbox__input(type="checkbox" id="check_21" name="check_21")
                    span.checkbox__text Китай
          .filter__foot
            .filter__remark Вы можете выбрать несколько опций одновременно
            .filter__btns
              a.filter__apply(href="#") Применить
              a.filter__clear(href="#") Очистить все
      
      .catalog_filter_wrapper
        .catalog_filter
          .filter_wrapper
            .item_wrapper
              .filter_item
                .filter__name Тип кофе
                .filter_list
                  .list_wrapper
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Арабика
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Смесь арабики и робусты
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Без кофеина
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Каскара
                    .buttons_control
                      a.apply_filter(href="#") Применить фильтр
                      a.clear_inner_filter(href="#") Очистить

              .filter_item
                .filter__name Способ заваривания
                .filter_list
                  .list_wrapper
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Арабика
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Смесь арабики и робусты
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Без кофеина
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Каскара
                    .buttons_control
                      a.apply_filter(href="#") Применить фильтр
                      a.clear_inner_filter(href="#") Очистить

              .filter_item
                .filter__name Уровень кислотности
                .filter_list
                  .list_wrapper
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Арабика
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Смесь арабики и робусты
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Без кофеина
                    .list_item
                      label.checkbox
                        input.checkbox__input(type="checkbox" name="")
                        span.checkbox__text Каскара
                    .buttons_control
                      a.apply_filter(href="#") Применить фильтр
                      a.clear_inner_filter(href="#") Очистить

            .clear_filter
              a.btn_clear(href="javascript:;") СБРОСИТЬ ФИЛЬТР

      .catalog_sorting
        .sorting_wrapper
          .sorting_name Сортировка:
          .sorting_list
            .sorting_list_item
              a.sorting_link.jsSortPrice(href="#") Цена
            .sorting_list_item
              a.sorting_link.jsSortTop(href="#") Топ продаж




      .catalog__content
        .tab-content
          .tab-pane.fade.show.active(id="coffe")
            .catalog__category
              
              .catalog__category_name
                span Кофе
              
              .row
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product.-sale.-option_2
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/1.png" alt="")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu <span>250 г</span>
                      .catalog__product_price 650р. <span>1 500р.</span>
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product.-sale.-option_2
                    .catalog__product_sale.-new NEW
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/2.png" alt="")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .cardinfo
                    .cardinfo__wrap
                      .cardinfo__header
                        .cardinfo__title Как выбрать кофе?
                        .cardinfo__remark нажмите, на интересующий вас вопрос
                      .cardinfo__inner
                        .cardinfo__item
                          a.cardinfo__quest(href='#') Какой способ заваривания вы будете использовать?
                          .cardinfo__content воспользуйтесь фильтром нашего интернет-магазина «по способу заваривания», и в подборке вы увидите только те сорта, которые максимально раскроют свой вкус именно при том способе заваривания, который вы используете.
                        .cardinfo__item
                          a.cardinfo__quest(href='#') Какой кофе вы предпочитаете: сладкий, горький, кислотный?
                          .cardinfo__content воспользуйтесь фильтром нашего интернет-магазина «по способу заваривания», и в подборке вы увидите только те сорта, которые максимально раскроют свой вкус именно при том способе заваривания, который вы используете.
                      .cardinfo__quote Но не бойтесь экспериментировать, ведь в восприятии вкуса не существует никаких строгих законов, кроме ваших предпочтений!
            .catalog__category
                .catalog__category_name
                  span Чёрный чай
                .row
                  .catalog__item.col-xl-4.col-md-6
                    include elements/_catalog_product
                  .catalog__item.col-xl-4.col-md-6
                    .catalog__product.-sale
                      .catalog__product_sale -50%
                      a.catalog__product_toggle(href="#")
                      a.catalog__product_img(href="home.html")
                        img(src="images/coffe/1.png" alt="")
                      .catalog__product_back
                        .catalog__product_title El Salvador Las Palmas
                        .catalog__product_scroll
                          .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                        .catalog__product_box
                          .catalog__product_weight
                            span Вес:
                            .catalog__product_select
                              select.custom-select
                                option(value="250 г - 699р.") 250 г - 699р.
                                option(value="500 г - 1 099р.") 500 г - 1 099р.
                                option(value="1 кг - 1 699р.") 1 кг - 1 699р.
                            span Помол:
                            .catalog__product_select
                              select.custom-select
                                option(value="В зернах") В зернах
                                option(value="Американ пресс") Американ пресс
                                option(value="Аэропресс") Аэропресс
                                option(value="Воронка") Воронка
                                option(value="Гейзер") Гейзер
                                option(value="Кемекс") Кемекс
                                option(value="Турка") Турка
                                option(value="Фильтр (Regular)") Фильтр (Regular)
                                option(value="Френч-пресс/Чашка") Френч-пресс/Чашка
                          .catalog__product_indicator
                            .catalog__product_label Горечь
                            .catalog__product_range
                              span.value(style="width: 30%")
                          .catalog__product_indicator
                            .catalog__product_label Сладость
                            .catalog__product_range
                              span.value(style="width: 15%")
                          .catalog__product_indicator
                            .catalog__product_label Кислотность
                            .catalog__product_range
                              span.value(style="width: 80%")
                        .catalog__product_btns
                          a.catalog__product_more(href="#") подробнее
                          a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                      .catalog__product_bottom
                        .catalog__product_country Эфиопия
                        .catalog__product_name Sidamo Dintu <span>250 г</span>
                        .catalog__product_price 650р. <span>1 500р.</span>
                  .catalog__item.col-xl-4.col-md-6
                    .catalog__product.-sale
                      .catalog__product_sale.-new NEW
                      a.catalog__product_toggle(href="#")
                      a.catalog__product_img(href="home.html")
                        img(src="images/coffe/2.png" alt="")
                      .catalog__product_back
                        .catalog__product_title Las Palmas Los Pirineos
                        .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                        .catalog__product_weight Доступный вес:
                          .catalog__product_select
                            select.custom-select
                              option(value="250 г - 699р.") 250 г - 699р.
                              option(value="500 г - 1 099р.") 500 г - 1 099р.
                              option(value="1 кг - 1 699р.") 1 кг - 1 699р.
                          .catalog__product_select
                            select.custom-select
                              option(value="В зернах") В зернах
                              option(value="Американ пресс") Американ пресс
                              option(value="Аэропресс") Аэропресс
                              option(value="Воронка") Воронка
                              option(value="Гейзер") Гейзер
                              option(value="Кемекс") Кемекс
                              option(value="Турка") Турка
                              option(value="Фильтр (Regular)") Фильтр (Regular)
                              option(value="Френч-пресс/Чашка") Френч-пресс/Чашка
                        .catalog__product_indicator
                          .catalog__product_label Горечь
                          .catalog__product_range
                            span.value(style="width: 30%")
                        .catalog__product_indicator
                          .catalog__product_label Сладость
                          .catalog__product_range
                            span.value(style="width: 15%")
                        .catalog__product_indicator
                          .catalog__product_label Кислотность
                          .catalog__product_range
                            span.value(style="width: 80%")
                      .catalog__product_bottom
                        .catalog__product_country Эфиопия
                        .catalog__product_name Sidamo Dintu
                        .catalog__product_price 650р.
                      .catalog__product_btns
                        a.catalog__product_more(href="#") подробнее
                        a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                  .catalog__item.col-xl-4.col-md-6
                    .cardinfo
                      .cardinfo__wrap
                        .cardinfo__header
                          .cardinfo__title Как выбрать кофе?
                          .cardinfo__remark нажмите, на интересующий вас вопрос
                        .cardinfo__inner
                          .cardinfo__item
                            a.cardinfo__quest(href='#') Какой способ заваривания вы будете использовать?
                            .cardinfo__content воспользуйтесь фильтром нашего интернет-магазина «по способу заваривания», и в подборке вы увидите только те сорта, которые максимально раскроют свой вкус именно при том способе заваривания, который вы используете.
                          .cardinfo__item
                            a.cardinfo__quest(href='#') Какой кофе вы предпочитаете: сладкий, горький, кислотный?
                            .cardinfo__content воспользуйтесь фильтром нашего интернет-магазина «по способу заваривания», и в подборке вы увидите только те сорта, которые максимально раскроют свой вкус именно при том способе заваривания, который вы используете.
                        .cardinfo__quote Но не бойтесь экспериментировать, ведь в восприятии вкуса не существует никаких строгих законов, кроме ваших предпочтений!
                  .catalog__item.col-xl-4.col-md-6
                    .catalog__product
                      .catalog__product_sale -50%
                      a.catalog__product_toggle(href="#")
                      a.catalog__product_img(href="home.html")
                        img(src="images/coffe/4.png" alt="")
                      .catalog__product_back
                        .catalog__product_title Las Palmas Los Pirineos
                        .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                        .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                        .catalog__product_indicator
                          .catalog__product_label Горечь
                          .catalog__product_range
                            span.value(style="width: 30%")
                        .catalog__product_indicator
                          .catalog__product_label Сладость
                          .catalog__product_range
                            span.value(style="width: 15%")
                        .catalog__product_indicator
                          .catalog__product_label Кислотность
                          .catalog__product_range
                            span.value(style="width: 80%")
                      .catalog__product_bottom
                        .catalog__product_country Эфиопия
                        .catalog__product_name Sidamo Dintu
                        .catalog__product_price 650р.
                      .catalog__product_btns
                        a.catalog__product_more(href="#") подробнее
                        a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                  .catalog__item.col-xl-4.col-md-6
                    .catalog__product
                      .catalog__product_sale -50%
                      a.catalog__product_toggle(href="#")
                      a.catalog__product_img(href="home.html")
                        img(src="images/coffe/5.png" alt="")
                      .catalog__product_back
                        .catalog__product_title Las Palmas Los Pirineos
                        .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                        .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                        .catalog__product_indicator
                          .catalog__product_label Горечь
                          .catalog__product_range
                            span.value(style="width: 30%")
                        .catalog__product_indicator
                          .catalog__product_label Сладость
                          .catalog__product_range
                            span.value(style="width: 15%")
                        .catalog__product_indicator
                          .catalog__product_label Кислотность
                          .catalog__product_range
                            span.value(style="width: 80%")
                      .catalog__product_bottom
                        .catalog__product_country Эфиопия
                        .catalog__product_name Sidamo Dintu
                        .catalog__product_price 650р.
                      .catalog__product_btns
                        a.catalog__product_more(href="#") подробнее
                        a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                  .catalog__item.col-xl-4.col-md-6
                    .catalog__product
                      .catalog__product_sale -50%
                      a.catalog__product_toggle(href="#")
                      a.catalog__product_img(href="home.html")
                        img(src="images/coffe/6.png" alt="")
                      .catalog__product_back
                        .catalog__product_title Las Palmas Los Pirineos
                        .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                        .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                        .catalog__product_indicator
                          .catalog__product_label Горечь
                          .catalog__product_range
                            span.value(style="width: 30%")
                        .catalog__product_indicator
                          .catalog__product_label Сладость
                          .catalog__product_range
                            span.value(style="width: 15%")
                        .catalog__product_indicator
                          .catalog__product_label Кислотность
                          .catalog__product_range
                            span.value(style="width: 80%")
                      .catalog__product_bottom
                        .catalog__product_country Эфиопия
                        .catalog__product_name Sidamo Dintu
                        .catalog__product_price 650р.
                      .catalog__product_btns
                        a.catalog__product_more(href="#") подробнее
                        a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ

            .catalog__category
              .catalog__category_name
                span Зелёный чай
              .row
                .catalog__item.col-xl-4.col-md-6
                  .cardinfo
                    .cardinfo__wrap
                      .cardinfo__header
                        .cardinfo__title Оплата и доставка
                        .cardinfo__remark нажмите, на интересующий вас вопрос
                      .cardinfo__inner
                        .cardinfo__item
                          a.cardinfo__quest(href='#') Какие способы оплаты можно использовать?
                          .cardinfo__content воспользуйтесь фильтром нашего интернет-магазина «по способу заваривания», и в подборке вы увидите только те сорта, которые максимально раскроют свой вкус именно при том способе заваривания, который вы используете.
                        .cardinfo__item
                          a.cardinfo__quest(href='#') Как осуществляется доставка?
                          .cardinfo__content воспользуйтесь фильтром нашего интернет-магазина «по способу заваривания», и в подборке вы увидите только те сорта, которые максимально раскроют свой вкус именно при том способе заваривания, который вы используете.
                      .cardinfo__quote Заказ можно забрать на следующий рабочий день после оформления заказа
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product.-sale
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/7.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu <span>250 г</span>
                      .catalog__product_price 650р. <span>1 500р.</span>
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/8.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/9.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/10.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/11.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/12.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ

            .catalog__category
              .catalog__category_name
                span Красный чай
              .row
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product.-sale
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/3.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu <span>250 г</span>
                      .catalog__product_price 650р. <span>1 500р.</span>
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/14.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/15.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/16.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/17.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/18.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
            .catalog__category
              .catalog__category_name
                span Травяной чай
              .row
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product.-sale
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/19.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu <span>250 г</span>
                      .catalog__product_price 650р. <span>1 500р.</span>
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/20.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/21.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/22.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/23.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
                .catalog__item.col-xl-4.col-md-6
                  .catalog__product
                    .catalog__product_sale -50%
                    a.catalog__product_toggle(href="#")
                    a.catalog__product_img(href="home.html")
                      img(src="images/coffe/24.png" alt="")
                    .catalog__product_back
                      .catalog__product_title Las Palmas Los Pirineos
                      .catalog__product_desc В аромате невероятная тропическая композиция с отчетливо прослеживаемыми нотами банана. Во вкусе выдержанный ром и изюм. Очень сладкий и фанковый кофе с средним округлым телом.
                      .catalog__product_weight Доступный вес:   250 г - <span>699р.</span> / 1 кг - <span>1 699р.</span>
                      .catalog__product_indicator
                        .catalog__product_label Горечь
                        .catalog__product_range
                          span.value(style="width: 30%")
                      .catalog__product_indicator
                        .catalog__product_label Сладость
                        .catalog__product_range
                          span.value(style="width: 15%")
                      .catalog__product_indicator
                        .catalog__product_label Кислотность
                        .catalog__product_range
                          span.value(style="width: 80%")
                    .catalog__product_bottom
                      .catalog__product_country Эфиопия
                      .catalog__product_name Sidamo Dintu
                      .catalog__product_price 650р.
                    .catalog__product_btns
                      a.catalog__product_more(href="#") подробнее
                      a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ

          .tab-pane.fade(id="tea")
            .row
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
          .tab-pane.fade(id="accessory")
            .row
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
          .tab-pane.fade(id="style")
            .row
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 3, 4, 4, 2', 5)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
              .catalog__item.col-xl-4.col-md-6
                .catalog__product
                  a.catalog__product_toggle(href="#")
                  a.catalog__product_img(href="home.html")
                    img(src="images/coffe/1.jpg" alt="")
                    .catalog__product_diagram
                      +card('5, 5, 4, 3, 6', 7)
                  .catalog__product_bottom
                    .catalog__product_country Эфиопия
                    .catalog__product_name Sidamo Dintu
                    .catalog__product_price 650р.
                  .catalog__product_btns
                    a.catalog__product_more(href="#") подробнее
                    a.catalog__product_catalog.js-addMinicart(href="#") В КОРЗИНУ
  .country
    .container
      .row.country__box
        .col-xl-5
          .country__text
            h2 Поставки из 10 стран мира
            p В интернет-магазине Rockets.coffee вы можете купить более 15 сортов свежеобжаренного кофе. Мы продаем молотый и кофе в зернах для дома и офиса – в розницу или оптом. Линейка продуктов Rockets включает в себя кофе для эспрессо и альтернативных способов заваривания. Заказать хороший кофе в Москве или с доставкой в другой город просто. Сначала выберите подходящий сорт – для удобства используйте фильтр. В карточке продукта указаны подробности о регионе произрастания, методе обработке и рекомендуемых способах заваривания. Далее укажите объем — 250 граммов или 1 кг.
            p Для дома советуем брать небольшими пачками, чтобы каждый раз пить кофе свежей обжарки, в офис для кофемашины подойдет упаковка 1 кг.<br>Для заказа молотого кофе выберите помол - для турки, гейзера, кемекса, аэропресса, френч-пресса, харио V60. Добавьте товар в корзину, укажите способ оплаты и доставки.
            p Постоянным покупателям предлагаем накопительные скидки. При возникновении вопросов позвоните и получите подробную информацию о наших продуктах.
        .col-xl-7
          .country__map
            .country__pixelmap
              img(src="images/pixelMap.png" alt="")
            ul.country__list
              li.country__item.-right(style="left: 7%; top: 57%;")
                a.country__link(href="#") Сальвадор
              li.country__item.-right(style="left: 13%; top: 62%;")
                a.country__link(href="#") Коста-Рика
              li.country__item.-right(style="left: 20%; top: 71%;")
                a.country__link(href="#") Бразилия
              li.country__item.-left(style="left: 25%; top: 59%;")
                a.country__link(href="#") Гондурас
              li.country__item.-left(style="left: 29%; top: 66%;")
                a.country__link(href="#") Колумбия
              li.country__item.-right(style="left: 45%; top: 59%;")
                a.country__link(href="#") Руанда
              li.country__item.-left(style="left: 58%; top: 61%;")
                a.country__link(href="#") Эфиопия
              li.country__item.-left(style="left: 61%; top: 67%;")
                a.country__link(href="#") Кения
              li.country__item.-left(style="left: 78%; top: 59%;")
                a.country__link(href="#") Китай
              li.country__item.-left(style="left: 79%; top: 71%;")
                a.country__link(href="#") Индонезия
  .text-block(style="background-image: url(images/pattern_1.jpg)")
    .container
      .row
        .col-xl-10.offset-xl-1
          .text-block__wrap
            h2 Заголовок
            .row
              .col-md-6.animation_up
                p Дороговизна кофе Лювак обусловлена небольшим количеством сбора экскрементов зверьков с одной плантации и более сложными технологическими процессами очистки и обработки зёрен.
                p Настоящий Копи Лювак производится только в дикой природе, когда у зверьков есть возможность свободно передвигаться и выбрать спелые и самые вкусные плоды.
              .col-md-6.animation_up
                p Из-за высокой цены оригинального кофе Kopi Luwak сейчас распространён кофе полученный в результате содержания Мусангов в клетках, при таком подходе сильно страдает вкус итогового напитка, так как зачастую качество исходных кофейных плодов, которые идут на корм зверькам, весьма посредственное.
                p
                  strong Остерегайтесь подделок и покупайте кофе Лювак у проверенных производителей!
