extends layouts/default

block variables
  - var body_class = 'page-contacts'

block content
  include common/_header
  .contacts
    .container
      .contacts__wrap
        .contacts__content
          .contacts__title
            h2 Контакты
          .contacts__desc
            p.
              По любым вопросам, вы можете с нами
              <br>связаться по номеру: <a href="tel:74951081144">+7 495 108-11-44</a> или <a href="tel:8 800 545-45-23">8 800 545-45-23</a>
              <br>или написать нам на почту: <a href="mailto:info@rocket.coffee">info@rocket.coffee</a>
          .contacts__form
            .contacts__form_title Если у вас есть вопросы или вы хотите предложить сотрудничество воспользуйтесь формой обратной связи
            form.form
              .form__row
                .form__field.-half
                  label.form__label Имя:
                  input.form__input(type="text" name="name" value="" placeholder="" required)
                .form__field.-half
                  label.form__label Электронная почта:
                  input.form__input(type="email" name="email" value="" placeholder="" required)
              .form__row
                .form__field
                  label.form__label Комментарий:
                  textarea.form__textarea( name="message" placeholder="" required)
              .form__row
                .form__field.-half
                  button.form__btn(type="submit") отправить
        .contacts__map
          .map
            .map__wrap#map
            .map__address
              .map__address_item Адрес офиса: 109052 Москва, ул. Нижегородская 29-33
              .map__address_item Адрес производства: 109052 Москва, ул. Нижегородская 29-33
    .contacts__info
      .container
        .contacts__info_wrap
          .contacts__info_text
            div.contacts__info_row Общество с ограниченной ответственностью «РокетС»   ООО «РокетС»
            div.contacts__info_row Юридический адрес: <span class="medium">119017, г. Москва, ул. Пятницкая, д.37, эт. 2, пом.1, комн. 1</span>
            div.contacts__info_row Почтовый адрес: <span class="medium">119017, г. Москва, ул. Пятницкая, д.37, эт. 2, пом.1, комн. 1</span>
            div.contacts__info_row <span class="medium">ИНН 9705077513   КПП 770501001   ОГРН 5167746177484</span>
block scripts
  script(type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYmHBthHbMaPohKyMBXqnYOrtbpGD856U&callback=initMap")
  script(type="text/javascript").
    function initMap() {

      var coord_1 = new google.maps.LatLng(55.734322, 37.712600);
      var coord_2 = new google.maps.LatLng(55.734322, 38.712600);
      var map = new google.maps.Map(document.getElementById('map'), {
        center: coord_1,
        zoom: 13,
        scrollwheel: false,
        styles: [
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e9e9e9"
              },
              {
                "lightness": 17
              }
            ]
          },
          {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f5f5f5"
              },
              {
                "lightness": 20
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#ffffff"
              },
              {
                "lightness": 17
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#ffffff"
              },
              {
                "lightness": 29
              },
              {
                "weight": 0.2
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#ffffff"
              },
              {
                "lightness": 18
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#ffffff"
              },
              {
                "lightness": 16
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f5f5f5"
              },
              {
                "lightness": 21
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#dedede"
              },
              {
                "lightness": 21
              }
            ]
          },
          {
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "visibility": "on"
              },
              {
                "color": "#ffffff"
              },
              {
                "lightness": 16
              }
            ]
          },
          {
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "saturation": 36
              },
              {
                "color": "#333333"
              },
              {
                "lightness": 40
              }
            ]
          },
          {
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f2f2f2"
              },
              {
                "lightness": 19
              }
            ]
          },
          {
            "featureType": "administrative",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#fefefe"
              },
              {
                "lightness": 20
              }
            ]
          },
          {
            "featureType": "administrative",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#fefefe"
              },
              {
                "lightness": 17
              },
              {
                "weight": 1.2
              }
            ]
          }
        ]
      });

      var image = {
        url: 'images/marker.svg',
        size: new google.maps.Size(43, 58),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(21, 58)
      };

      var contentString_1 = '' +
          '<div class="map__infowindow">' +
          '<div class="map__infowindow_top">' +
            '<a href="#" class="map__infowindow_btn -active">Офис</span>' +
            '<a href="#" class="map__infowindow_btn">Производство</a>' +
          '</div>' +
          '<span class="map__infowindow_address">109052 Москва, ул. Нижегородская 29-33</span>' +
          '<a href="https://goo.gl/maps/GVQu2MBEXaz" target="_blank" class="map__infowindow_link">Проложить маршрут</a>' +
          '</div>';

      var contentString_2 = '' +
          '<div class="map__infowindow">' +
          '<div class="map__infowindow_top">' +
          '<a href="#" class="map__infowindow_btn">Офис</span>' +
          '<a href="#" class="map__infowindow_btn -active">Производство</a>' +
          '</div>' +
          '<span class="map__infowindow_address">109052 Москва, ул. Нижегородская 29-33</span>' +
          '<a href="https://goo.gl/maps/GVQu2MBEXaz" target="_blank" class="map__infowindow_link">Проложить маршрут</a>' +
          '</div>';

      var infoWindow_1 = new google.maps.InfoWindow({
        content: contentString_1
      });

      var infoWindow_2 = new google.maps.InfoWindow({
        content: contentString_2
      });

      var marker = new google.maps.Marker({
        position: coord_1,
        map: map,
        title: 'Москва, ул. рязанская 29-33',
        icon: image
      });

      var marker_2 = new google.maps.Marker({
        position: coord_2,
        map: map,
        title: 'адрес производства',
        icon: image
      });

      marker.addListener('click', function () {
        infoWindow_1.open(map, marker);
      });

      marker_2.addListener('click', function () {
        infoWindow_2.open(map, marker_2);
      });

      infoWindow_1.open(map, marker);

      $(document).on('click', '.map__infowindow_btn', function (e) {
        e.preventDefault();

        var $this = $(this),
            $index = $this.index();

        if ( $index == 0 ) {
          map.panTo(coord_1);
          infoWindow_1.open(map, marker);
        } else if ( $index == 1 ) {
          map.panTo(coord_2);
          infoWindow_2.open(map, marker_2);
        }

      });
    }


















