extends layouts/default

block variables
  - var body_class = 'page-country'
  - var logo_path = 'images/logo-white.svg'

block content
  include common/_header
  .pagecountry
    .pagecountry__first
      .pagecountry__first_screen
        .container
          .pagecountry__nav
            .pagecountry__nav_item(data-bg-url="images/country/Indonesia.jpg")
              span.pagecountry__nav_name Индонезия
            .pagecountry__nav_item(data-bg-url="images/country/Ethiopia.jpg")
              span.pagecountry__nav_name Эфиопия
            .pagecountry__nav_item(data-bg-url="images/country/Costa-Rica.jpg")
              span.pagecountry__nav_name Коста-Рика
            .pagecountry__nav_item(data-bg-url="images/country/China.jpg")
              span.pagecountry__nav_name Китай
            .pagecountry__nav_item(data-bg-url="images/country/Ethiopia.jpg")
              span.pagecountry__nav_name Сальвадор
            .pagecountry__nav_item(data-bg-url="images/country/Costa-Rica.jpg")
              span.pagecountry__nav_name Колумбия
            .pagecountry__nav_item(data-bg-url="images/country/Ethiopia.jpg")
              span.pagecountry__nav_name Сальвадор
    .pagecountry__content
      .pagecountry__content_item.-fade.-active
        include modules/_pagecountry_item
      .pagecountry__content_item
        include modules/_pagecountry_item_2
      .pagecountry__content_item
        include modules/_pagecountry_item
      .pagecountry__content_item
        include modules/_pagecountry_item_2
      .pagecountry__content_item
        include modules/_pagecountry_item
      .pagecountry__content_item
        include modules/_pagecountry_item_2
      .pagecountry__content_item
        include modules/_pagecountry_item
