extends layouts/default

block variables
  - var body_class = 'page-events'

block content
  include common/_header
  .events
    .container
      .events__title
        h1 Мероприятия
      .events__header
        .events__sorting
          .sorting
            .sorting__label Сортировать:
            .sorting__dropdown
              button.sorting__btn(type="button") Все
              .sorting__menu
                .sorting__list
                  a.sorting__item.-active#all_category(href="#") Все
                  a.sorting__item#beginners(href="#") Начинающим
                  a.sorting__item#professionals(href="#") Профессионалам
                  a.sorting__item#how_to_brow(href="#") How to brow
        .events__count всего: 120
      .events__row.row
        .events__item.col-md-6.col-lg-4
          a.events__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .events__info
            .events__info_top
              span Москва
              span 22.12.2018
              span 14:00 - 16:00
            a.events__name(href="#") Мастер класс по приготовлению кофе
        .events__item.col-md-6.col-lg-4
          a.events__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .events__info
            .events__info_top
              span Москва
              span 22.12.2018
              span 14:00 - 16:00
            a.events__name(href="#") Мастер класс по приготовлению кофе
        .events__item.col-md-6.col-lg-4
          a.events__img(href="#")
            img(src="images/articles/0.jpg" alt="")
          .events__info
            .events__info_top
              span Москва
              span 22.12.2018
              span 14:00 - 16:00
            a.events__name(href="#") Мастер класс по приготовлению кофе
        .events__item.col-md-6.col-lg-4
          a.events__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .events__info
            .events__info_top
              span Москва
              span 22.12.2018
              span 14:00 - 16:00
            a.events__name(href="#") Мастер класс по приготовлению кофе
        .events__item.col-md-6.col-lg-4
          a.events__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .events__info
            .events__info_top
              span Москва
              span 22.12.2018
              span 14:00 - 16:00
            a.events__name(href="#") Мастер класс по приготовлению кофе
        .events__item.col-md-6.col-lg-4
          a.events__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .events__info
            .events__info_top
              span Москва
              span 22.12.2018
              span 14:00 - 16:00
            a.events__name(href="#") Мастер класс по приготовлению кофе