extends layouts/default

block variables
  - var body_class = 'page-faq'

block content
  include common/_header
  .faq
    .container
      .faq__wrap
        .faq__title
          h2 FAQ
        .faq__content
          .row
            .col-xl-3.col-md-6
              .faq__collumn
                .faq__collumn_title
                  h3 Доставка
                .faq__item.-active
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть возможность самостоятельно забрать заказ в нашем офисе.
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                    p Моё же знакомство с кофе Лювак случилось не так давно. Я нашёл проверенного продавца, у которого можно купить настоящий дикий Копи Лювак. Я живу в Москве и заветные 100 грамм самого дорогого сорта кофе в мире были доставлены домой уже на следующий день после заказа. Кофе был упакован в пакет с зип-застёжкой и дегазационным клапаном.
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть возможность самостоятельно забрать заказ в нашем офисе.
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                    p Моё же знакомство с кофе Лювак случилось не так давно. Я нашёл проверенного продавца, у которого можно купить настоящий дикий Копи Лювак. Я живу в Москве и заветные 100 грамм самого дорогого сорта кофе в мире были доставлены домой уже на следующий день после заказа. Кофе был упакован в пакет с зип-застёжкой и дегазационным клапаном.
            .col-xl-3.col-md-6
              .faq__collumn
                .faq__collumn_title
                  h3 О кофе
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть возможность самостоятельно забрать заказ в нашем офисе.
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
            .col-xl-3.col-md-6
              .faq__collumn
                .faq__collumn_title
                  h3 Производство
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть возможность самостоятельно забрать заказ в нашем офисе.
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                    p Ответ
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Ответ
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                    p Ответ
            .col-xl-3.col-md-6
              .faq__collumn
                .faq__collumn_title
                  h3 Доставка
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть возможность самостоятельно забрать заказ в нашем офисе.
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                    p Моё же знакомство с кофе Лювак случилось не так давно. Я нашёл проверенного продавца, у которого можно купить настоящий дикий Копи Лювак. Я живу в Москве и заветные 100 грамм самого дорогого сорта кофе в мире были доставлены домой уже на следующий день после заказа. Кофе был упакован в пакет с зип-застёжкой и дегазационным клапаном.
                .faq__item
                  a.faq__item_question(href="#") Какие способы доставки у вас есть?
                  .faq__item_answer
                    p Моё же знакомство с кофе Лювак случилось не так давно. Я нашёл проверенного продавца, у которого можно купить настоящий дикий Копи Лювак. Я живу в Москве и заветные 100 грамм самого дорогого сорта кофе в мире были доставлены домой уже на следующий день после заказа. Кофе был упакован в пакет с зип-застёжкой и дегазационным клапаном.
                .faq__item
                  a.faq__item_question(href="#") Сколько хранится ваш кофе?
                  .faq__item_answer
                    p Моё же знакомство с кофе Лювак случилось не так давно. Я нашёл проверенного продавца, у которого можно купить настоящий дикий Копи Лювак. Я живу в Москве и заветные 100 грамм самого дорогого сорта кофе в мире были доставлены домой уже на следующий день после заказа. Кофе был упакован в пакет с зип-застёжкой и дегазационным клапаном.
  .faq__answer(style="background-image: url(images/pattern_1.jpg)")
    .container
      .row
        .col-xl-10.offset-xl-1.col-hd-8.offset-hd-2
          .faq__answer_wrap
            .faq__answer_left Какие способы доставки у вас есть?
            .faq__answer_right Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть возможность самостоятельно забрать заказ в нашем офисе.
  .faq__form
    .container
      .faq__form_wrap
        .faq__form_title
          h3 Остались вопросы?
        form.form
          .form__row
            .form__field
              label.form__label Сообщение:
              textarea.form__textarea( name="message" placeholder="Введите сообщение..." required)
          .form__row
            .form__field.-half
              label.form__label Email:
              input.form__input(type="email" name="email" placeholder="Rockets@coffee.ru" required)
            .form__field.-half
              button.form__btn(type="submit") отправить



























