extends layouts/default

block variables
  - var body_class = 'home'

block content
  .mainscreen(style="background-image: url(images/bg-mainscreen_2.jpg)")
    .mainscreen__header
      include common/_header
    .mainscreen__wrapper
      .container
        .mainscreen__sections
          .mainscreen__item
            h2 Онлайн магазин
            p Свежеобжаренный кофе, аксессуары для заваривания, чай и фирменная продукция Rockets.
            a(href="#") в каталог
          .mainscreen__item
            h2 Сотрудничество
            p Конвекционный ростер, ежедневная обжарка, контроль качества согласно стандартам SCA, собственная служба.
            a(href="#") ПОДРОБНЕЕ
          .mainscreen__item
            h2 Знания
            p Все о кофе для начинающих и профессионалов. Новости кофейной индустрии, статьи и обзоры.
            a(href="#") читать
  .article.parallax
    .article__box(style="background-image: url(images/article/2.png)")
      .container
        .article__inner
          .article__img
            img(src="images/article/2.png" alt="")
          //.article__text.animation_up
          //  h2 Аренда оборудования
          //  p Нам доверяют Paul, Friends Forever Co, Поль Бейкери, Волконский, BB&Burgers. Постоянным клиентам мы предлагаем самую выгодную цену.
          //  a(href="#") подробнее
          .article__form
            .article__form_header
              h2 Кофе в офис
              p Бесплатная дегустация в вашем офисе, отсутствует минимальная сумма заказа
            .form
              .form__row
                .form__field
                  label.form__label Имя:
                  input.form__input(type="text" name="name" value="" placeholder="")
              .form__row
                .form__field
                  label.form__label Телефон:
                  input.form__input(type="tel" name="tel" value="" placeholder="")
              .form__row
                .form__field
                  label.form__label Email:
                  input.form__input(type="email" name="email" value="" placeholder="")
              button.form__btn(type="submit") Узнать подробности
  .workshope
    .container
      .workshope__wrapper
        .workshope__desc.animation_up
          h2 Актуальные знания о&nbsp;кофе
          p Все о кофе для начинающих и профессионалов. Новости кофейной индустрии, статьи и обзоры.
          a(href="#") посмотреть все
        .workshope__classes
          .workshope__item
            a.workshope__img(href="#")
              img(src="images/workshope/1.jpg" alt="")
            .workshope__info
              .workshope__data
                span Москва
                span 22.12.2018
                span 14:00 - 16:00
              a.workshope__name(href="#") Мастер класс по приготовлению кофе
          .workshope__item
            a.workshope__img(href="#")
              img(src="images/workshope/1.jpg" alt="")
            .workshope__info
              .workshope__data
                span Москва
                span 22.12.2018
                span 14:00 - 16:00
              a.workshope__name(href="#") Мастер класс по приготовлению кофе
  .subscribe
    .container
      .subscribe__wrap
        .subscribe__text
          h3 Подпишись на наши обновления
          p Заказы по Москве мы доставляем курьером. По России доставка осуществляются службой доставки СДЭК. Также есть
        .subscribe__form
          form.form
            .form__row
              .form__field
                input.form__input(type="email" name="email" placeholder="Электронная почта" required)
            .form__row
              .form__field
                button.form__btn(type="submit") отправить


