extends layouts/default

block variables
  - var body_class = 'page-jobs'

block content
  include common/_header
  .jobs
    .container
      .jobs__title
        h2 Работа у нас
      .jobs__wrap
        .jobs__item
          .jobs__header
            .jobs__left
              .jobs__name Frontend-разработчик
              .jobs__desc Бог верстки и адаптивности, борец с предзагрузчиками. <br>Мама гордится этим парнем.
            .jobs__circs
              .jobs__circs_item График работы: фулл тайм
              .jobs__circs_item Зарплата: по договоренности
          .jobs__content
            .jobs__content_wrap
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Требования к кандидату:
                  li -базовые знания JavaScript, jQuery, HTML5, CSS3;
                  li -знание принципов работы Git;
                  li -понимание принципов адаптивной верстки;
                  li -опыт работы в Adobe Photoshop;
                  li -желание развиваться и учиться (человек, считающий, что уже знает всё, нам не подходит);
                  li -инициативность.
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Плюсом будет:
                  li -базовые знания JavaScript, jQuery, HTML5, CSS3;
                  li -знание принципов работы Git;
                  li -понимание принципов адаптивной верстки;
                  li -опыт работы в Adobe Photoshop;
                  li -желание развиваться и учиться (человек, считающий, что уже знает всё, нам не подходит);
                  li -инициативность.
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Тестовое задание
                  li
                    strong Для прохождения собеседования на должность необходимо выполнить тестовое задание.
          a.jobs__show(href="#") Показать полностью
        .jobs__item
          .jobs__header
            .jobs__left
              .jobs__name Frontend-разработчик
              .jobs__desc Бог верстки и адаптивности, борец с предзагрузчиками. <br>Мама гордится этим парнем.
            .jobs__circs
              .jobs__circs_item График работы: фулл тайм
              .jobs__circs_item Зарплата: по договоренности
          .jobs__content
            .jobs__content_wrap
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Требования к кандидату:
                  li -базовые знания JavaScript, jQuery, HTML5, CSS3;
                  li -знание принципов работы Git;
                  li -понимание принципов адаптивной верстки;
                  li -опыт работы в Adobe Photoshop;
                  li -желание развиваться и учиться (человек, считающий, что уже знает всё, нам не подходит);
                  li -инициативность.
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Плюсом будет:
                  li -базовые знания JavaScript, jQuery, HTML5, CSS3;
                  li -знание принципов работы Git;
                  li -понимание принципов адаптивной верстки;
                  li -опыт работы в Adobe Photoshop;
                  li -желание развиваться и учиться (человек, считающий, что уже знает всё, нам не подходит);
                  li -инициативность.
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Тестовое задание
                  li
                    strong Для прохождения собеседования на должность необходимо выполнить тестовое задание.
          a.jobs__show(href="#") Показать полностью
        .jobs__item
          .jobs__header
            .jobs__left
              .jobs__name Frontend-разработчик
              .jobs__desc Бог верстки и адаптивности, борец с предзагрузчиками. <br>Мама гордится этим парнем.
            .jobs__circs
              .jobs__circs_item График работы: фулл тайм
              .jobs__circs_item Зарплата: по договоренности
          .jobs__content
            .jobs__content_wrap
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Требования к кандидату:
                  li -базовые знания JavaScript, jQuery, HTML5, CSS3;
                  li -знание принципов работы Git;
                  li -понимание принципов адаптивной верстки;
                  li -опыт работы в Adobe Photoshop;
                  li -желание развиваться и учиться (человек, считающий, что уже знает всё, нам не подходит);
                  li -инициативность.
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Плюсом будет:
                  li -базовые знания JavaScript, jQuery, HTML5, CSS3;
                  li -знание принципов работы Git;
                  li -понимание принципов адаптивной верстки;
                  li -опыт работы в Adobe Photoshop;
                  li -желание развиваться и учиться (человек, считающий, что уже знает всё, нам не подходит);
                  li -инициативность.
              .jobs__collumn
                ul.jobs__list
                  li
                    strong Тестовое задание
                  li
                    strong Для прохождения собеседования на должность необходимо выполнить тестовое задание.
          a.jobs__show(href="#") Показать полностью
  .jobs__form(style="background-image: url(images/pattern_2.jpg)")
    .container
      .jobs__form_wrap
        .jobs__form_title
          h3 Хотите попасть в команду?
          p Оставьте свои контактные данные и&nbsp;мы&nbsp;свяжемся с&nbsp;вами.
        form.form
          .form__row
            .form__field.-half
              label.form__label Имя:
              input.form__input(type="text" name="name" value="" placeholder="" required)
            .form__field.-half
              label.form__label Email:
              input.form__input(type="email" name="email" value="" placeholder="Rockets@coffee.ru" required)
          .form__row
            .form__field.-half
              label.form__label Телефон:
              input.form__input(type="tel" name="tel" value="" placeholder="" required)
            .form__field.-half
              label.form__label Желаемая должность:
              .form__select
                select
                  option(value="hide")
                  option(value="Менджер") Менджер
                  option(value="Курьер") Курьер
                  option(value="Директор") Директор
                  option(value="Соучридитель") Соучридитель
          .form__row
            .form__field
              label.form__label Сообщение:
              textarea.form__textarea( name="message" placeholder="Введите сообщение..." required)
          .form__row
            .form__field.-half
              .file-upload
                label.file-upload__label(for="file-upload") Прикрепить резюме
                input.file-upload__file#file-upload(type="file" value="")
            .form__field.-half
              button.form__btn(type="submit") отправить
          .form__confid Нажимая на кнопку, вы даете согласие на обработку персональных данных и&nbsp;соглашаетесь с&nbsp;политикой конфиденциальности.























