extends layouts/default

block variables
  - var body_class = 'page-news'

block content
  include common/_header
  .news
    .container
      .news__title
        h1 Новости
      .news__header
        .news__sorting
          .sorting
            .sorting__label Сортировать:
            .sorting__dropdown
              button.sorting__btn(type="button") Все
              .sorting__menu
                .sorting__list
                  a.sorting__item.-active#all_category(href="#") Все
                  a.sorting__item#beginners(href="#") Начинающим
                  a.sorting__item#professionals(href="#") Профессионалам
                  a.sorting__item#how_to_brow(href="#") How to brow
        .news__count всего: 120
      .news__row.row
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>
        .news__item.col-md-6.col-lg-4
          a.news__img(href="#")
            img(src="images/articles/1.jpg" alt="")
          .news__info
            .news__info_title Заголовок новости
            .news__info_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Читать далее в Вконтакте...</a>