extends layouts/default

block variables
  - var body_class = 'page-blog'

block content
  include common/_header
  .store
    .container
      .store__title
        h2 Продукция
      .store__container
        .store__desctop
          .row
            .col-xl-4.col-md-6
              .store__box.store__box--product
                .store__product
                  .store__product_img
                    img(src="images/products/0.jpg" alt="")
                  .store__product_bottom
                    .store__product_name
                      h3 Кофе
                    .store__product_desc Эспрессо, Декаф, Фильтр, Арабика
                  a.store__product_btn(href="#") В каталог
            .col-xl-4.col-md-6
              .store__box.store__box--grid
                .store__grid
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid_img
                        img(src="images/products-small/1.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid_img
                        img(src="images/products-small/2.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid_img
                        img(src="images/products-small/1.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid_img
                        img(src="images/products-small/0.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
            .col-xl-4.col-md-6
              .store__box.store__box--product
                .store__product
                  .store__product_img
                    img(src="images/products/1.jpg" alt="")
                  .store__product_bottom
                    .store__product_name
                      h3 Кофе
                    .store__product_desc Эспрессо, Декаф, Фильтр, Арабика
                  a.store__product_btn(href="#") В каталог
            .col-xl-4.col-md-6
              .store__box.store__box--grid
                .store__grid
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/1.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/2.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/3.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/1.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
            .col-xl-4.col-md-6
              .store__box.store__box--product
                .store__product
                  .store__product_img
                    img(src="images/products/1.jpg" alt="")
                  .store__product_bottom
                    .store__product_name
                      h3 Кофе
                    .store__product_desc Эспрессо, Декаф, Фильтр, Арабика
                  a.store__product_btn(href="#") В каталог
            .col-xl-4.col-md-6
              .store__box.store__box--grid
                .store__grid
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/1.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/2.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/3.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.
                  .store__grid_item
                    a.store__grid_link(href="#")
                      .store__grid__img
                        img(src="images/products-small/1.jpg" alt="")
                      .store__grid_bottom
                        span.store__grid_name Subu Aff
                        span.store__grid_price 699р.