extends layouts/default

block variables
  - var mainicons_sign = '-sign-in'

block content
  include common/_header
  .profile
    .container
      .row
        .col-lg-6
          .profile__wrap
            .profile__title
              h1 Личный кабинет
              .profile__status
                .profile__status_value <span>Статус:</span> <span>Золотой</span>
                .profile__status_sale Ваша скидка: 5%
                  a.profile__status_info(href="#")
            form.profile__form
              .profile__row
                .profile__field
                  label(for="profile_name") Имя:
                  input(type="text" id="profile_name" name="profile_name" value="")
                .profile__field
                  label(for="profile_last_name") Фамилия:
                  input(type="text" id="profile_last_name" name="profile_last_name" value="")
                .profile__field
                  label(for="profile_date_of_birth") Дата рождения:
                  input(type="text" id="profile_date_of_birth" name="profile_date_of_birth" value="")
                .profile__field
                  label(for="profile_tel") Телефон:
                  input(type="tel" id="profile_tel" name="profile_tel" value="")
                .profile__field
                  label(for="profile_email") Электронная почта:
                  input(type="email" id="profile_email" name="profile_email" value="")
                .profile__field
                  label(for="profile_password") Пароль:
                  input(type="text" id="profile_password" name="profile_password" value="")
                .profile__field.-address
                  label(for="profile_address_1") Адрес:
                  .profile__address
                    .profile__address_item.-active
                      input(type="text" id="profile_address_1" name="profile_address_1" value="")
                      a.profile__address_checkbox(href="#")
                  a.profile__add-address(href="#") + добавить еще адрес
              button.profile__btn(type="button") Сохранить
              a.profile__exit(href="#") Выйти из аккаунта
        .col-hd-5.offset-xl-1.col-xl-5.offset-xl-1.col-lg-6
          .history
            .history__title
              h3 История заказов
            .history__wrap
              ul.history__list
                - var i =0
                  while i < 5
                    li.history__item
                      .history__top
                        span.history__number Заказ номер: 36346 32347
                        span.history__status В процессе`
                      .history__bottom
                        span.history__info
                          a.history__count(href="#") 2 товара
                          span.history__price на сумму: 9 500р.
                        a.history__repeat(href="#") Повторить заказ
                      .history__inside
                        .history__inside_wrap
                          .history__inside_item
                            a.history__inside_img(href="#")
                              img(src="images/minicart/1.jpg" alt="")
                            .history__inside_info
                              a.history__inside_name(href="#") Sidamo Dintu
                              .history__inside_country Эфиопия
                              .history__inside_price 650р.
                              .history__inside_modific
                                span В зернах
                                span 250 гр.
                          .history__inside_item
                            a.history__inside_img(href="#")
                              img(src="images/minicart/1.jpg" alt="")
                            .history__inside_info
                              a.history__inside_name(href="#") Sidamo Dintu
                              .history__inside_country Эфиопия
                              .history__inside_price 650р.
                              .history__inside_modific
                                span В зернах
                                span 250 гр.
                          .history__inside_item
                            a.history__inside_img(href="#")
                              img(src="images/minicart/1.jpg" alt="")
                            .history__inside_info
                              a.history__inside_name(href="#") Sidamo Dintu
                              .history__inside_country Эфиопия
                              .history__inside_price 650р.
                              .history__inside_modific
                                span В зернах
                                span 250 гр.
                          .history__inside_item
                            a.history__inside_img(href="#")
                              img(src="images/minicart/1.jpg" alt="")
                            .history__inside_info
                              a.history__inside_name(href="#") Sidamo Dintu
                              .history__inside_country Эфиопия
                              .history__inside_price 650р.
                              .history__inside_modific
                                span В зернах
                                span 250 гр.
                    - i++
              .history__footer
                .pagination
                  a.pagination__prev.-disabled(href="#") Пред. страница
                  .pagination__list
                    a.-active(href="#") 1
                    a(href="#") 2
                    a(href="#") 3
                    span ...
                    a(href="#") 5
                    a(href="#") 6
                    a(href="#") 7
                  a.pagination__next(href="#") След. страница