extends layouts/default

block variables
  - var body_class = 'page-sale'

block content
  include common/_header
  .sale
    .container
      .sale__wrap
        .sale__content
          .sale__title Накопительная система скидок
          .sale__desc После регистрации на сайте вы становитесь участником накопительной системы скидок Rockets. Размер скидки зависит от общей суммы оформленных заказов. Для получения скидки необходимо авторизоваться в личном кабинете и оформить заказ. Текущий размер скидки отображается в личном кабинете.
          ul.sale__remark
            li Персональная скидка не распространяется на товары со скидкой.
            li Максимальный размер скидки – 15%.
          .sale__desc Информация для постоянных клиентов: для уточнения размера вашей текущей скидки зарегистрируйтесь на сайте и позвоните <span class="nowrap">по номеру <a href="tel:+74951081144">8 (495) 108-11-44</a></span>
        .sale__status
          .sale__status_rating.-step_2
          .sale__status_wrap
            .sale__status_item.-active
              .sale__status_inner
                .sale__status_circle
                .sale__status_percent 5%
                .sale__status_name Серебряный
                .sale__status_desc при заказе<br>≥ 10 000 руб.
            .sale__status_item.-active.-current
              .sale__status_inner
                .sale__status_circle
                .sale__status_percent 7%
                .sale__status_name Золотой
                .sale__status_desc при заказе<br>≥ 30 000 руб.
            .sale__status_item
              .sale__status_inner
                .sale__status_circle
                .sale__status_percent 10%
                .sale__status_name Платиновый
                .sale__status_desc при заказе<br>≥ 45 000 руб.
            .sale__status_item
              .sale__status_inner
                .sale__status_circle
                .sale__status_percent 12%
                .sale__status_name Бриллиантовый
                .sale__status_desc при заказе<br>≥ 90 000 руб.
            .sale__status_item
              .sale__status_inner
                .sale__status_circle
                .sale__status_percent 15%
                .sale__status_name Что то круче
                .sale__status_desc при заказе<br>≥ 180 000 руб.