extends layouts/default

block content
  include common/_header
  .shipping
    .container
      .shipping__title
        h1 Доставка и оплата
        br
      .row
        .col-hd-5.col-lg-6
          .shipping__wrap
            h3 Доставка
            h5 Доставка курьером по Москве.
            p
              i Стоимость доставки в пределах МКАД составляет 300 рублей, при стоимости заказа более 3000 рублей - доставка бесплатная. Доставка за пределы МКАД согласовывается индивидуально с нашими менеджерами. Доставка осуществляется в будние дни на следующий день после оформления заказа.
            br
            h5 Доставка по России и страны СНГ.
            p
              i Мы доставляем заказы в регионы России, а также в страны СНГ при помощи курьерской компании СДЭК. Доставка осуществляется после предварительной оплаты товара. Стоимость доставки рассчитывается автоматически при оформлении заказа.
            h5 Самовывоз - бесплатно
            p
              i Заказ можно забрать на следующий рабочий день после оформления заказа. После того как ваш заказ будет укомплектован для самовывоза, вы получите текстовое уведомление.
            p Офис Рокетс. Самовывоз по адресу: Нижегородская ул., 29-33 подъезд №20. Режим работы офиса: пн-пт, с 10:00 до 18:00. <a href="#">Схема проезда</a> от м. Марксистская, от станции МЦК Нижегородская.
            br
        .col-hd-5.offset-hd-1.col-lg-6
          .payment
            h3 Оплата
            h5 Наличные.
            p
              i Данная форма оплаты доступна при оформлении заказа курьерской доставкой по Москве или при самовывозе.
            h5 Оплата онлайн банковской картой.
            p
              i Вы можете оплатить заказ банковской картой на нашем сайте. Вы будете перемещены на безопасную страницу, где нужно будет ввести данные Вашей карты: номер на лицевой стороне карты без пробелов, срок действия карты (указан на карте), имя и фамилию латинскими буквами, как на карте, CVV/CVC-код - последние 3 цифры, указанные на оборотной стороне карты.
            br
            h5 Оплата банковским переводом.
            p
              i Вы можете оплатить заказ банковским перерводом. Для этого необходимо в корзине выбрать способ оплаты: "безналичный банковский перевод" и счет на оплату будет сформирован автоматически.
            br