extends layouts/default2

block variables
  - var body_class = 'page-sign-in'

block content
  .sign-in
    .container
      .row
        .col-lg-6
          .sign-in__container
            .sign-in__header
              a.sign-in__logo(href="#")
                img(src="images/logo-img.svg" alt="")
                img(src="images/logo.svg" alt="")
            .sign-in__content.-active.-fade
              .sign-in__heading
                h3 Каждое утро c Rockets coffee
                p Войдите или <a href="#" class="goto_sign-up">зарегистрируйте</a> новый аккаун
              form.sign-in__form
                .sign-in__field
                  label.sign-in__label Email:
                  input.sign-in__input(type="email" name="email" required value="")
                .sign-in__field
                  label.sign-in__label Пароль:
                  a.sign-in__forget(href="") Забыли пароль?
                  input.sign-in__input(type="password" name="password" required value="")
                  a.show-password(href="#")
                button.sign-in__btn(type="submit") ВОЙТИ
                .sign-in__social
                  .sign-in__social_remark или продолжите через соц. сети
                  .sign-in__social_btns
                    a.sign-in__social_link.-vk(href="#")
                    a.sign-in__social_link.-fb(href="#")
                .sign-in__sign-up У вас нет аккаунт? <a href="#" class="goto_sign-up">Зарегистрировать</a>
            .sign-up
              .sign-up__heading
                h3 Регистрация нового аккаунта
              .sign-up__form
                .sign-up__person
                  a.sign-up__person_check.-physical.-checked(href="#") Частное лицо
                  a.sign-up__person_check.-legal(href="#") Юридическое лицо / ИП
                form.sign-up__physical.-active.-fade
                  .sign-up__field
                    label.sign-up__label Имя:
                    input.sign-up__input(type="text" name="name" required value="")
                  .sign-up__field
                    label.sign-up__label Email:
                    input.sign-up__input(type="email" name="email" required value="" placeholder="Rockets@coffee.ru")
                  .sign-up__field
                    label.sign-up__label Пароль:
                    input.sign-up__input(type="text" name="password" required value="" placeholder="Более 6 символов")
                    a.show-password(href="#")
                  button.sign-up__btn(type="submit") Зарегистрироваться
                form.sign-up__legal.-step-1
                  .sign-up__step.-active.-fade
                    .sign-up__step_title
                      h4 Личные данные
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Имя:
                        input.sign-up__input(type="text" name="first_name" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Фамилия:
                        input.sign-up__input(type="text" name="last_name" required value="")
                    .sign-up__row
                      .sign-up__field
                        label.sign-up__label Тип организации:
                        .sign-up__select
                          select
                            option(value="hide") Выберите тип
                            option(value="Юридическое лицо") Юридическое лицо
                            option(value="Индивидуальный предприниматель") Индивидуальный предприниматель
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Email:
                        input.sign-up__input(type="email" name="email" value="" placeholder="Rockets@coffee.ru")
                      .sign-up__field.-half
                        label.sign-up__label Пароль:
                        input.sign-up__input.-password(type="password" name="password" required value="" placeholder="Более 6 символов")
                        a.show-password(href="#")
                  .sign-up__step
                    .sign-up__step_title
                      h4 Юридические реквизиты
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Полное наименование:
                        input.sign-up__input(type="text" name="legal_name" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Адрес регистрации:
                        input.sign-up__input(type="text" name="legal_address_registration" required value="")
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label ИНН:
                        input.sign-up__input(type="text" name="legal_inn" required value="")
                      .sign-up__field.-half
                        label.sign-up__label ОКПО:
                        input.sign-up__input(type="text" name="legal_okpo" required value="")
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label КПП:
                        input.sign-up__input(type="text" name="legal_kpp" required value="")
                      .sign-up__field.-half
                        label.sign-up__label ОГРНИП::
                        input.sign-up__input(type="text" name="legal_ogrnip" required value="")
                  .sign-up__step
                    .sign-up__step_title
                      h4 Банковские реквизиты
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label БИК:
                        input.sign-up__input(type="text" name="bank_bik" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Корр. счет:
                        input.sign-up__input(type="text" name="bank_korr" required value="")
                    .sign-up__row
                      .sign-up__field.-half
                        label.sign-up__label Рассчетный счет:
                        input.sign-up__input(type="text" name="bank_rass" required value="")
                      .sign-up__field.-half
                        label.sign-up__label Название банка:
                        input.sign-up__input(type="text" name="bank_name" required value="")
                    .sign-up__row
                      .sign-up__field
                        label.sign-up__label Адрес банка:
                        input.sign-up__input(type="text" name="bank_address" required value="")
                  .sign-up__legal_btns
                    button.sign-up__legal_back(type="button") Назад
                    button.sign-up__legal_next(type="button") Далее
                    button.sign-up__legal_submit(type="submit") Зарегистрироваться
                .sign-up__sign-in У вас есть аккаунт? <a href="#" class="goto_sign-in">Войти</a>
            .sign-in__footer Регистрируясь на сайте Rockets coffee вы принимаете <a href="#">пользовательское соглашение</a> и&nbsp;принимаете <a href="#">политику конфедициальности</a>.
  .password-modal.mfp-hide#password-modal
    .password-modal__title Восстановление пароля
    .password-modal__desc вам придет письмо с дальнейшими действиями
    form.password-modal__form
      label.password-modal__label Email
      input.password-modal__input(type="email" name="email" required)
      button.password-modal__btn(type="submit") отправить





















