.b-join {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  background-color: #fff;
  @media (max-width: $screen-xs-max) {
    padding: 30px 15px;
  }
  &__header {
    padding: 10px 0;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &__logo {
    max-width: 220px;
  }
  &__container {
    max-width: 435px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  &__footer {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
      font-weight: 300;
      font-size: 12px;
      color: $gray;
      transition: .3s;
      border-bottom: 1px solid transparent;
      margin: 0 15px 10px;
      &:hover {
        border-color: $gray;
      }
    }
  }
  &__tab {
    width: 50%;
    float: left;
    font-size: 16px;
    color: #101010;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid $gray-border;
    padding: 10px 15px 11px;
    background-color: #fff;
    @media (min-width: 768px) {
      font-size: 18px;
      padding: 13px 15px 14px;
    }
    &:nth-child(1) {
      border-top-left-radius: 5px;
    }
    &:nth-child(2) {
      border-top-right-radius: 5px;
    }
    &.-active {
      border-top: 1px solid $gray-border;
      border-left: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
      border-bottom: 1px solid #fff;
      span:after {
        opacity: 0 !important;
      }
    }
    span {
      position: relative;
      &:after {
        content: '';
        width: 100%;
        border-bottom: 1px dashed #8a8a8a;
        opacity: .3;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .2s;
      }
    }
    &:hover {
      span:after {
        opacity: 1;
      }
    }
  }
  &__nav {
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
    @extend .clearfix;
  }
  &__content {
    min-height: 370px;
    padding: 30px 15px 20px;
    border: 1px solid $gray-border;
    position: relative;
    @media (min-width: $screen-sm-min) {
      min-height: 420px;
      padding: 50px 15px 20px;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    a {
      display: inline-flex;
      width: 40px;
      height: 40px;
      transition: .3s;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__or {
    font-size: 12px;
    color: $gray;
    text-align: center;
    margin: 15px 0 10px;
    @media (min-width: 768px) {
      margin: 20px 0 15px;
    }
  }
  &__form {
    max-width: 280px;
    margin: 0 auto;
    .b-form__row {
      margin-bottom: 15px;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 20px;
      }
      &.-margin-half {
        margin-bottom: 6px;
        @media (min-width: $screen-sm-min) {
          margin-bottom: 12px;
        }
      }
    }
  }
  &__btn {
    text-align: center;
  }
  &__forgot {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    color: $gray;
    transition: .2s;
    @media (min-width: $screen-xs-max) {
      font-size: 12px;
    }
    a {
      white-space: nowrap;
      color: $green;
      border-bottom: 1px solid transparent;
      &:hover {
        border-color: rgba($green, .7);
      }
    }
  }
}

.error-pass {
  max-width: 350px;
  margin: 0 auto;
  padding: 35px;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  position: relative;
  &__title {
    margin-bottom: 15px;
  }
  &__desc {
    font-size: 12px;
    color: #8a8a8a;
  }
}

.register {

  &__step {
    display: none;
    opacity: 0;
    transition: opacity .15s linear;
    &.-active {
      display: block;
    }
    &.-fade {
      opacity: 1;
    }
    &_nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      text-align: center;
      @media (min-width: 768px) {
        bottom: 10px;
      }
    }
    &_btn {
      width: 16px;
      height: 16px;
      border: 0;
      background-color: transparent;
      padding: 4px;
      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border: 1px solid $gray;
        border-radius: 50%;
      }
      &.-active:after {
        background-color: $gray;
      }
    }
  }
  &__step_1 {
    padding-top: 6px;

    .auth__form_row {
      margin-bottom: 25px;
    }
  }
  &__step_2 {
    padding-top: 30px;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__desc {
    font-size: 12px;
    color: $gray;
    white-space: nowrap;
    margin-bottom: 27px;
  }
  &__repead {
    text-align: center;
    margin-top: 40px;
    &_link {
      font-size: 12px;
      color: $gray;
      span {
        position: relative;
        &:after {
          content: '';
          width: 100%;
          border-bottom: 1px dashed $gray;
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: .3;
          transition: .3s;
        }
      }
    }
    &:hover {
      span:after {
        opacity: 1;
      }
    }
  }
}

